@import "@styles/utilities";

.cardComponent {
  display: flex;
  background-color: $color-surface;
  box-shadow: $box-shadow;
  border-radius: 20px;
  overflow: hidden;

  &Horizontal {
    flex-direction: row;
  }

  &Vertical {
    flex-direction: column;
  }
}

.cardImageWrapper {
  min-height: 50px;
  min-width: 50px;
  position: relative;

  & img {
    object-fit: cover;
  }
}

.cardTitle {
  @extend %bold;
}

.cardButton {
  line-height: 1.6em;
  text-align: center;

  svg {
    margin-left: 0.3rem;
    vertical-align: bottom;
  }

  &Primary {
    border-radius: 50px;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $color-on-primary;
    padding-block: 0.4rem;
    padding-inline: 1.5rem 1.3rem;

    &:hover {
      background-color: $color-primary-on-hover;
      border-color: $color-primary-on-hover;
    }

    @include media(large) {
      padding-block: 0.5rem;
    }
  }

  &Secondary {
    border-radius: 50px;
    border: 1px solid $color-primary;
    color: $color-primary;
    padding-block: 0.4rem;
    padding-inline: 1.5rem 1.3rem;

    &:hover {
      background-color: $color-background-white-titan;
      border-color: $color-primary-on-hover;
      color: $color-primary-on-hover;
    }

    @include media(large) {
      padding-block: 0.5rem;
    }
  }

  &Tertiary {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}



