@use "@styles/utilities-deprecated";

.buttonsContainer {
  display: flex;
  flex-direction: column;

  @include utilities-deprecated.media(large) {
    flex-direction: row;
  }

  > * {
    margin: 0.5rem;
  }
}
