@import "@styles/utilities";

.aides {
  @extend %background-surface;
  padding: 3rem 0;

  &Container {
    @extend %max-container;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;

    @include media(medium) {
      align-items: center;
    }

    &Titre {
      color: $color-primary;
      max-width: 50rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;

      &Accroche {
        font-size: 1.5rem;
        color: $color-secondary;
        font-weight: 400;
      }
    }
  }
}
