@import "@styles/utilities";

.aides {
  @extend %background-surface;
  padding: 3rem 0;

  &Container {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;

    &Title{
      margin-bottom: 0;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 2rem;

      &Titre {
        color: $color-primary;
        max-width: 51.875rem;
        text-align: center;
        font-size: 1.5rem;

        &Accroche {
          font-size: 1.5rem;
          color: #18753C;
        }
      }
    }

    &Link {
      background-color: white;
      color: $color-primary;
      border: 1px solid $color-primary;
      box-shadow: none !important;
    }

    h2 {
      color: $color-primary;
      max-width: 51.875rem;
      text-align: center;
      font-size: 1.5rem;
      }
  }
}
