@use "@styles/utilities";

$color-title: utilities.$color-title-primary;

.commentCaMarche {
  & h2 {
    @include utilities.title-medium;
    @extend %bold;
    color: $color-title;
    margin-bottom: 1.25rem;
  }

  & ol {
    list-style: decimal inside none;
  }

  & li {
    margin-top: 1rem;
  }

  & .illustration {
    width: 100%;
    max-width: 31.25rem;
    min-width: 10rem;
    display: none;
  }
}

@include utilities.media(medium) {
  .commentCaMarche {
    & .container {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      gap: utilities.pixel-to-rem(80);
      padding: 0 1.5rem;

      & h2 {
        margin-bottom: 2rem;
      }

      & .illustration {
        display: block;
      }
    }
  }
}

