@use "@styles/utilities-deprecated";

.container {
  @include utilities-deprecated.media(large) {
    display: grid;
    grid-template-columns: 1fr 29rem;
    grid-template-areas:
              "video titre"
              "video temoignage"
              "transcription temoignage";
    column-gap: 2rem;
  }
}

.sectionVideos {
  padding: 1.75rem 1rem;

  @include utilities-deprecated.media(large) {
    padding: 5rem 1rem;
    background-color: utilities-deprecated.$color-background-white-lilac;
  }
}

.titreSection {
  @extend %text-large;
  @extend %bold;    
  margin-bottom: 1.5rem;
  
  & span {
    display: inline-block;
  }
  
  @include utilities-deprecated.media(large) {
    grid-area: titre;
  }
}
.video {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 9 / 16); /* 16:9 Aspect Ratio */
  margin-bottom: 1.5rem;

  @include utilities-deprecated.media(large) {
    grid-area: video;
  }
}

.transcription {
  margin-bottom: 1.5rem;

  @include utilities-deprecated.media(large) {
    grid-area: transcription;
  }

  summary {
    padding: 12px 16px 12px 16px;
    max-width: 60rem;
    list-style-type: none;
    border-top: 1px utilities-deprecated.$neutral-grey solid;
    border-bottom: 1px utilities-deprecated.$neutral-grey solid;
    cursor: pointer;
  }
  summary::after {
    padding-left: .4rem;
    content: "+";
    font-weight: 700;
  }
  &[open] summary::after {
    padding-left: .4rem;
    content: "-";
  }

  & .content {
    padding: 12px 16px 12px 16px;
    white-space: pre-line;
  }
}

.titreTemoignage {
  margin-bottom: 1rem;
}

.titreVideoButton {
  text-align: start;
  span {
    padding-left: .4rem;
  }
}

.temoignage {
  @include utilities-deprecated.media(large) {
    grid-area: temoignage;
  }

  & .boutonsVideosList {
    margin-bottom: 1rem;
    & li {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }

  & .lienPlaylistContainer {
    display: flex;

    & .lienPlaylist {
      color: utilities-deprecated.$black;
      margin-left: auto;
    }
  }
}
