@use "@styles/utilities";

.container {
  @include utilities.media(large) {
    display: grid;
    grid-template-columns: 1fr 29rem;
    grid-template-areas:
              "video titre"
              "video temoignage"
              "transcription temoignage";
    column-gap: 2rem;
  }
}

.videos {
  padding: 1.75rem 2rem;

  @include utilities.media(large) {
    padding: 5rem 1rem;
    background-color: utilities.$color-background-white-lilac;
  }
}

.titreSection {
  @extend %text-large;
  @extend %bold;

  margin-bottom: 1.5rem;

  @include utilities.media(large) {
    grid-area: titre;
  }
}

.video {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 9 / 16); /* 16:9 Aspect Ratio */
  margin-bottom: 1.5rem;

  @include utilities.media(large) {
    grid-area: video;
  }

  %frame {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  & .iframe {
    @extend %frame;
  }

  & .videoThumbnail {
    @extend %frame;
    object-fit: cover;
    filter: brightness(20%);
  }

  & .layoutCookiesNotAccepted {
    position: absolute;
    bottom: 0;

    & .textContent {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: utilities.pixel-to-rem(10);
      color: utilities.$color-on-primary;
      max-width: utilities.pixel-to-rem(475);

      @include utilities.media(large) {
        padding: utilities.pixel-to-rem(40);
      }

      p {
        @extend %text-regular;
        margin-bottom: utilities.pixel-to-rem(6);

      }
      p:last-of-type {
        padding-bottom: 0;
        border-bottom: none;

        @include utilities.media(large) {
          padding-bottom: utilities.pixel-to-rem(24);
          border-bottom: 1px utilities.$color-on-primary solid;
        }
      }

      & .buttonLaunchVideo {
        margin-top: utilities.pixel-to-rem(8);
        width: fit-content;
        background-color: utilities.$color-on-primary;

        @include utilities.media(large) {
          margin-top: utilities.pixel-to-rem(24);
        }

        & .icon {
          filter: invert(0%);
        }
      }
    }

    & .linkToYoutubeTerms {
      text-decoration: underline;
      @extend %bold;
    }
  }

}

.transcription {
  margin-bottom: 1.5rem;

  @include utilities.media(large) {
    grid-area: transcription;
  }

  summary {
    padding: 12px 16px 12px 16px;
    max-width: 60rem;
    list-style-type: none;
    border-top: 1px utilities.$neutral-grey solid;
    border-bottom: 1px utilities.$neutral-grey solid;
    cursor: pointer;
  }
  summary::after {
    padding-left: .4rem;
    content: "+";
    font-weight: 700;
  }
  &[open] summary::after {
    padding-left: .4rem;
    content: "-";
  }

  & .content {
    padding: 12px 16px 12px 16px;
    white-space: pre-line;
  }
}

.titreTemoignage {
  margin-bottom: 1rem;
}

.titreVideoButton {
  text-align: start;
  span {
    padding-left: .4rem;
  }
}

.temoignage {
  @include utilities.media(large) {
    grid-area: temoignage;
  }

  & .boutonsVideosList {
    margin-bottom: 1rem;
  }

  & .lienPlaylistContainer {
    display: flex;

    & .lienPlaylist {
      margin-left: auto;
    }
  }
}
