@use "@styles/utilities";
@use "@styles/components/link/_placeholders.scss";

$color-separation-line: utilities.$color-primary;
$color-text-concerne: utilities.$color-secondary;

.logoWrapper {
  width: 100%;
  align-items: center;

  @include utilities.media(medium) {
    //grid-row: 1 / -1;
    //margin-top: 1rem; // todo comment faire pour centrer le logo ?
  }
}

.card {
  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: 1fr 4fr;
  border-radius: 1.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;

  &:hover {
    & .callToAction {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  &Header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-bottom: 4px solid $color-separation-line;
    height: 5.5rem;
    justify-content: center;

    img {
      width: 56px;
      height: auto;
      //grid-column: 1 / span 2;
    }
  }

  &Description {
    grid-column: 1 / end;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0.75rem;
  }
}

.infoEntreprise {
  &Title {
    @extend %bold;
    @include utilities.text-medium;
  }
  &SubTitle {
    @include utilities.text-small;
  }
}

.descriptionPublicConcerne {
  @extend %bold;
  color: $color-text-concerne;
}

.descriptionEntreprise {
  display: none;
}

.callToAction {
  @extend %linkWithRightIcon;
}

.réseauList {
  & > li {
    margin-top: 1rem;
  }
}

@include utilities.media(medium) {
  .card {
    padding: 1rem 1.5rem;
    border-left: 4px solid $color-separation-line;

    &Header {
      display: flex;
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;
      img {
        width: 120px;
        height: auto;
      }
    }

    .infoEntreprise {
      &Title {
        font-size: 1.25rem;
      }
      &SubTitle {
        font-size: 1rem;
      }
    }

    &Description {
      grid-column: 2 / end;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
    }
  }

  .descriptionEntreprise {
    display: unset;
  }
}

