@import "@styles/utilities";

.heroTitle {
  @extend %bold;
}

.heroSubtitle {
  @extend %text-large;
  margin-top: 1em;
}

.iframe {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  min-height: 3000px;
}

.rgpd {
  @extend %text-small;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: $color-cadre-formulaire;
}

@include media(large) {
  .iframe {
    min-height: 2500px;
  }
}


