@use "@styles/utilities";

%action {
  @include utilities.text-medium;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid utilities.$color-cta-background-primary;
  width: 100%;
  height: 100%;

  @include utilities.media(large) {
    padding: 1.7rem;
  }
}

.boutonRetour {
  margin-bottom: 20px;
  display: flex;
}

.question {
  @extend %bold;

  > span {
    display: inline-block;
  }
}

.optionBouton {
  text-align: start;
  margin-top: 20px;
  @extend %action;

  @include utilities.media(large){
    min-width: 460px;
  }
}

.autresBesoins {
  .autresBesoinsReponsesWrapper {
    margin-top: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr;
    @include utilities.media(large) {
      grid-template-columns: repeat(2, min(240px));
    }
  }

  fieldset .autresBesoinsReponsesWrapper {
    // FIXME (GAFI 23-10-2024): Exporter comme composant plutôt que juste restyle de la checkbox
    & input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }
    & label {
      display: block;
      text-align: center;
      @extend %action;
    }
  }

  fieldset .autresBesoinsReponsesWrapper input[type=checkbox]:focus + label {
    outline: 2px solid utilities.$color-cta-background-primary;
    outline-offset: 2px;
  }

  fieldset .autresBesoinsReponsesWrapper input[type=checkbox]:checked + label {
    color: utilities.$color-text-primary-inverse;
    background-color: utilities.$color-cta-background-primary;
  }

  > button {
    display: flex;
    margin: 2rem auto 0 auto;
  }
}



