@use "@styles/utilities";
@use "@styles/utilities-deprecated";

.boutonRetour {
  margin-bottom: 20px;
  display: flex;
}

.question {
  @extend %bold;

  > span {
    display: inline-block;
  }
}

.fieldset .checkbox input[type=checkbox] + label {
  @extend %text-regular;
  display: block;
  text-align: center;
  height: 100%;
  border-radius: 20px;
  border: 1px solid utilities-deprecated.$color-primary;
  padding: 12px;
  @include utilities.media(large) {
    padding: 20px;
  }

  &::before {
    display: none;
  }
}

.fieldset input[type=checkbox]:focus + label {
  outline: 2px solid utilities-deprecated.$color-primary;
  outline-offset: 2px;
}

.fieldset input[type=checkbox]:checked + label {
  color: utilities.$color-text-primary-inverse;
  background-color: utilities.$color-background-secondary;
}

.optionBouton {
  @extend %text-regular;
  padding: 12px;
  text-align: start;
  line-height: 1.25rem;
  border-radius: 20px;
  border: 1px solid utilities-deprecated.$color-primary;
  margin-top: 20px;
  width: 100%;

  @include utilities.media(large) {
    padding: 20px;
    min-width: 460px;
    line-height: 2.5rem;
  }
}

.accompagnementValider {
  display: flex;
  margin: 2rem auto 0 auto;
}

.autresBesoinsContainer {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr;
  @include utilities.media(large) {
    grid-template-columns: repeat(2, min(240px));
  }
}

.accompagnementIsActive {
  display: grid;
  gap: 1rem;
  text-align: center;
  min-width: 230px;
  border-radius: 20px;
  border: 1px solid utilities-deprecated.$color-primary;
  margin-top: 15px;
  width: 100%;
  min-height: 3.375rem;
  padding: 1rem;
  background-color: utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-on-primary;
}

.accompagnementDesactive {
  display: grid;
  gap: 1rem;
  text-align: center;
  min-width: 230px;
  border-radius: 20px;
  border: 1px solid utilities-deprecated.$color-primary;
  margin-top: 15px;
  width: 100%;
  min-height: 3.375rem;
  padding: 1rem;
}
