// FIXME (GAFI 21-09-2023): Passer sur la pas deprecated
@use "@styles/utilities-deprecated";
@use "@styles/utilities";

// FIXME (GAFI 21-09-2023): Fixer l'alternance des couleurs des backgrounds qui est inversée dans la nouvelle maquette
//  et qui est en dûr actuellement

.emploiEnEurope {
  $color-information-icon: utilities.$color-primary;
  $color-section-impair: utilities.$color-background-primary;
  $color-section-pair: utilities.$color-background-primary-alternative;

  section:nth-child(2n) {
    background-color: $color-section-pair;
  }
  section:nth-child(2n + 1) {
    background-color: $color-section-impair;
  }

  section {
    // FIXME (GAFI 21-09-2023): Travail à réaliser sur le container pour pouvoir simplement étendre le container
    padding: 2rem 1rem;
    @include utilities-deprecated.media(large) {
      padding: 4rem 1rem;
    }
  }

  section.experience {
    > * {
      max-width: 47.25rem;
      margin: auto;
    }
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
    > .hero {
      padding: 0;
      margin-bottom: 1.5rem;

      // FIXME (GAFI 21-09-2023): Travail à faire au niveau du composant Hero pour uniformiser l'alignement
      text-align: start;
      & * {
        display: inline;
      }
      & .complement {
        white-space: nowrap;
      }
    }
    > a {
      display: flex;
      @include utilities-deprecated.media(large) {
        width: fit-content;
      }
    }

    & .description {
      @extend %text-large;
    }

    & .information {
      @extend %text-small;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: .5rem;

      & svg {
        color: $color-information-icon;
        width: 1.5rem;
      }
    }
  }
}

.section {
  &Liens {
    padding: 2rem;
    & li {
      padding: 0.625rem 0;
    }
    & a > span {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: utilities-deprecated.$color-primary;
      & svg {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
    .imageWrapper {
      display: none;
    }
  }

  &Dispositif {
    &__Title {
      > span {
        display: contents;
      }
    }
    padding: 2rem;
    > div > * {
      margin-bottom: 2.5rem;
    }
    &__Card {
      background-color: utilities-deprecated.$color-background;
      border-radius: 20px;
      padding: 0.75rem;
      &Content {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.25rem;

        svg {
          flex-shrink: 0;
          margin-right: 0.75rem;
          margin-top: 0.2rem;
        }
        & > div > p > span {
           display: inline-block;
         }
      }
      &List > li {
        margin-top: 1.25rem;
      }
      & > * {
        margin-bottom: 1.25rem;
      }
      > h3 {
        @extend %bold;
        font-size: 1.25rem;
        color: utilities-deprecated.$color-primary;
        text-align: center;
      }
      & h4 {
        @extend %bold;
        font-size:  1rem;
      }
    }
  }

  &AidesFinancieres {
    padding: 2.5rem 2rem;
    h2 {
      font-size: 1.25rem;
      color: utilities-deprecated.$color-primary;
      margin-bottom: 1.25rem;
    }
  }
}

.buttonWrapper {
  display: flex;
  a {
    margin: auto;
  }
}

@include utilities-deprecated.media(small) {
  .sectionDispositif__Title {
    > span {
      display: block;
    }
  }
}

@include utilities-deprecated.media(medium) {
  .section {
    &ExperienceEurope {
      max-width: 756px;
      padding-bottom: 5rem;
      > p {
        font-size: 1.25rem;
      }
      &__Information {
        p {
          font-size: 1rem;
        }
      }
    }

    &Liens {
      display: flex;
      & a > span {
        justify-content: flex-start;
        font-size: 1rem;
      }
    }

    &Dispositif {
      &__Card {
        max-width: 548px;
        padding: 2.5rem 1.25rem;
        &Wrapper {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
        > h3 {
          font-size: 1.5rem;
        }
        & h4 {
          font-size:  1.25rem;
        }
        .buttonWrapper {
          margin-top: 2.5rem;
        }
      }
    }

    &AidesFinancieres {
      padding: 5rem 0;
      max-width: 756px;
      h2 {
        font-size: 1.75rem;
        margin-bottom: 2.5rem;
        text-align: center;
      }
    }
  }
}

@include utilities-deprecated.media(large) {
  .section {
    &Liens {
      .imageWrapper {
        overflow: hidden;
        border-radius: 20px;
        display: initial;
        width: 560px;
        height: 160px;
        margin-right: 2rem;

        img {
          width: 560px;
          height: 160px;
          object-fit: cover;
        }
      }
    }
  }
}
