// FIXME (GAFI 21-09-2023): Passer sur la pas deprecated
@use "@styles/utilities-deprecated";
@use "@styles/utilities";

.emploiEnEurope {
  $color-information-icon: utilities.$color-primary;
  $color-section-impair: utilities.$color-background-primary;
  $color-section-pair: utilities.$color-background-primary-alternative;
  $color-card-background: utilities.$color-background-primary;
  $color-card-border: utilities.$color-background-border;
  $color-titre-dispositifs: utilities.$color-title-primary;

  $single-column-width: 47.25rem;
  $double-column-width: 81rem;

  section {
    // FIXME (GAFI 21-09-2023): Travail à réaliser sur le container pour pouvoir simplement étendre le container
    padding: 2rem 1rem;
    @include utilities-deprecated.media(large) {
      padding: 4rem 1rem;
    }
    > * {
      max-width: var(--width);
      margin: auto;
    }

    &:nth-child(2n) { background-color: $color-section-pair; }
    &:nth-child(2n + 1) { background-color: $color-section-impair; }
  }

  section.experience {
    --width: #{$single-column-width};

    > *:not(:last-child) {
      margin-bottom: 1.25rem;
      @include utilities-deprecated.media(large) {
        margin-bottom: 2rem;
      }
    }

    > .hero {
      padding: 0;
      margin-bottom: 1.5rem;

      // FIXME (GAFI 21-09-2023): Travail à faire au niveau du composant Hero pour uniformiser l'alignement
      text-align: start;

      & * {
        display: inline;
      }

      & .complement {
        white-space: nowrap;
      }
    }

    > a {
      display: flex;
      @include utilities-deprecated.media(large) {
        width: fit-content;
      }
    }

    & .description {
      @extend %text-large;
    }

    & .information {
      @extend %text-small;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: .5rem;

      & svg {
        color: $color-information-icon;
        width: 1.5rem;
      }
    }
  }

  section.liensUtiles {
    --width: #{$single-column-width};

    & h2 {
      @extend %title-small;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    & ul > li:not(:last-child) {
        margin-bottom: 1rem;
    }
  }

  section.dispositifs {
    --width: #{$double-column-width};

    & h2 {
      @extend %title-medium;
      color: $color-titre-dispositifs;
      padding-bottom: 4rem;
      text-align: center;
    }

    & ul.cards {
      display: grid;
      gap: 1rem;
      @include utilities-deprecated.media(large) {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        & li[aria-labelledby="erasmus"] {
          grid-row: span 2;
        }
      }

      & > li {
        @extend %text-medium;
        background-color: $color-card-background;
        border: 1px solid $color-card-border;
        border-radius: 2.5rem;
        padding: 2rem;
        height: fit-content;

        > *:not(:last-child) {
          margin-bottom: 2rem;
        }

        > h3 {
          @extend %title-small;
          font-weight: bold;
          text-align: center;
        }

        > a {
          display: flex;
          width: fit-content;
          margin: auto;
        }

        & dt {
          font-weight: bold;
          position: relative;

          @include utilities-deprecated.media(large) {
            $arrow: "\02192" + " ";
            display: list-item;
            list-style: $arrow;
          }
        }
        @include utilities-deprecated.media(large) {
          dl {
            padding-left: 2.25rem;
          }
        }

          & dt:not(:last-child) {
          margin-top: 1rem;
          margin-bottom: .25rem
        }
        & dd li,
        & dd + dd {
          margin-top: .25rem
        }
      }

      // TODO (GAFI 21-09-2023):
      //  also supprimer section sur les aides financières
      //  Ajouter des &nbsp; là où pertinent (e.g. entre valeur et devise)
    }
  }
}
