@import "@styles/utilities";

.container {
  font-family: Marianne;
  position: relative;
}

.suggestionsList {
  z-index: 2;
  position: absolute;
  border: 1px solid $color-disabled;
  background-color: $color-background;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: auto;
  max-height: 15rem;
}

.suggestion {
  padding-left: 0.5rem;
  padding-top: 0.75rem;
  cursor: pointer;
}

.suggestion:hover, .suggestionHighlighted {
  background-color: rgba(3, 15, 143, .05);
}

.sectionTitle {
  pointer-events: none;
  user-select: none;
}
