@use "@styles/utilities";

.entete {
  margin: 2.5rem 0;
  text-align: center;
}

.entete h1 {
  @extend %bold, %subheading;
  margin: 0 0 1rem;
}

.entete .tags {
  margin-top: 2rem;
  justify-content: center;
}

//.contenu {
//  display: grid;
//  grid-auto-flow: row;
//  font-size: 0.875rem;
//  line-height: 1.5rem;
//  margin-bottom: 1.5rem;
//  margin-top: utilities.pixel-to-rem(48);
//}
//
//.contenu > *:not(:last-child) {
//  margin-bottom: 1em;
//}
//
//.contenu dt {
//  @extend %bold;
//  margin-bottom: 0.2rem;
//}
//
//.contenu dt::after {
//  content: " : ";
//}
//
//.contenu dd ul,
//.contenu dd dl {
//  padding-left: 40px;
//}
//
//.contenu ul {
//  list-style: unset;
//}
//.contenu p {
//
//}
//
//.contenu > * ,
//{
//  display: block;
//  white-space: pre-line;
//}
//
//.contenu dd li {
//  white-space: unset;
//}
