@use "@styles/utilities";

.entete {
  margin: 2.5rem 0;
  text-align: center;
}

.entete h1 {
  @extend %bold, %subheading;
  margin: 0 0 1rem;
}

.entete .tags {
  margin-top: 2rem;
  justify-content: center;
}

.contenu {
  @extend %text-large;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  white-space: pre-line;

  dt {
    @extend %bold;
    margin-bottom: 0.5rem;

    &::after {
      content: " : ";
    }
  }

  dd {
    ul {
      padding-left: 1rem;
      list-style: unset;
      white-space: initial;
    }
  }
}
