@use "@styles/utilities-deprecated";

.enSavoirPlus {
  &Parents {
    background-color: utilities-deprecated.$color-background-white-lilac;

    @include utilities-deprecated.media(large) {
      background-color: inherit;
    }
  }

  &Parents, &Employeurs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.75rem 1rem;

    @include utilities-deprecated.media(large) {
      padding: 5rem 1rem
    }
  }

  .heading {
    @extend %subheading;
    color: utilities-deprecated.$color-primary;
    margin-bottom: 1rem;

    @include utilities-deprecated.media(large) {
      text-align: center;
      margin-bottom: 2.5rem;
      
      & span {
        display: inline-block;
      }
    }

    &Secondary {
      color: utilities-deprecated.$color-secondary;
    }
  }

  .link {
    max-width: 60ch;
    width: 100%;
    align-self: center;

    @include utilities-deprecated.media(large) {
      max-width: fit-content;
    }
  }

  @include utilities-deprecated.media(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
}
