@use "@styles/utilities";
@use "../TextboxShared.module" as inputStyles;

$unite-background-color: utilities.$color-background-secondary;
$unite-text-color: utilities.$color-text-primary-inverse;

.inputWithUnit {
  display: flex;
  height: 2.5rem;

  & .input {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  & abbr {
    @include utilities.text-interactive-medium;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: $unite-background-color;
    color: $unite-text-color;
  }

  & > :first-child {
    border-bottom-left-radius: inputStyles.$border-radius;
    border-top-left-radius: inputStyles.$border-radius;
  }

  & > :last-child {
    border-bottom-right-radius: inputStyles.$border-radius;
    border-top-right-radius: inputStyles.$border-radius;
  }
}
