@import "@styles/utilities";

.illustration {
  height: 180px;

  img {
    object-fit: cover;
  }
  &Contain {
    img {
      object-fit: contain;
    }
  }
}

.content {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  @extend %text-medium;
  @include line-clamp(2);
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 1.25rem;
  align-self: center;
  width: 100%;

  @include media(large) {
    align-self: flex-end;
    margin-top: 1rem;
    width: initial;
  }
}
