@use "@styles/utilities";

.articleList {
  @extend %max-container;
  padding: 1rem;
  list-style: none;

  & > li {
    padding-block: 1rem;
  }

  &Wrapper {
    background-color: utilities.$color-background-white-lilac;
  }

  @include utilities.media(xlarge) {
    margin: auto;
    padding-inline: 0;
  }
}


.notOnlyVertical {
  .illustration {
    height: 7rem;
    @include utilities.media(large) {
      min-width: 18.875rem;
      height: 10rem;
    }
  }

  .title {
    @include utilities.line-clamp(0);
  }

  .cta {
    text-align: end;
    @include utilities.media(large) {
      margin-top: auto;
    }
  }
}

.illustration {
  height: 180px;

  img {
    object-fit: cover;
  }

  &Contain {
    img {
      object-fit: contain;
    }
  }
}

.content {
  @extend %text-regular;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title {
  @extend %text-medium;
  @include utilities.line-clamp(2);
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 1.25rem;
  align-self: flex-end;

  @include utilities.media(large) {
    margin-top: 1rem;
  }
}
