@use "@styles/utilities";

.container {
  padding: 0 2rem;
  @include utilities.media(large) {
    padding: 0 0 1rem;
  }
}

.étape {
  @extend %background-primary;
  max-width: 20rem;
  text-align: center;
  padding: 4px;
  @include utilities.media(large) {
    margin-left: 8rem;
  }
}

.boutonRetour {
  margin-top: 2rem;
  @include utilities.media(large) {
    margin-left: 8rem;
  }
}
