@use "@styles/utilities";

.articleList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
  @include utilities.media(large) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    padding: 5rem 0;
  }
}

.articleCard {
  border: 1px solid utilities.$neutral-grey;
  box-shadow: 10px 10px 20px 0px #0000000D;
}
