@import "@styles/utilities";

.hero {
  background: $color-primary;
  color: $color-on-primary;

  @include media(large) {
    display: grid;
    grid-template-columns: calc((100% - #{$breakpoint-xl}) / 2) minmax(min-content, 1fr) minmax(0, calc((100% - #{$breakpoint-xl}) / 2 + (.33 * #{$breakpoint-xl})));
  }

  &PrimaryText {
    @extend %headline;
    font-weight: initial;
    color: inherit;
  }

  &TextWrapper {
    grid-column-start: 2;
    padding: 2rem 1rem;

    @include media(medium) {
      padding-block: 3rem;
    }

    @include media(xlarge) {
      padding-block: 4rem;
    }
  }

  &SecondaryText {
    @extend %headline;
    font-weight: initial;
    color: inherit;
  }

  &Illustration {
    position: relative;
    img {
      object-fit: cover;
      object-position: top left;
    }
  }
}

%text-Hero {
  font-size: 1rem;
  line-height: 1.375rem;

  @include media(large) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.heading {
  position: relative;
  padding: 2.5rem 2rem;

  &Container {
    max-width: 35rem;
    margin: 0 auto;

    &__Title {
      @extend %headline;
      margin-bottom: 1rem;
    }

    &__TitlePrimary {
      @extend %bold;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    &__TitleSecondary {
      color: $color-secondary;
      margin-bottom: 1rem;
    }

    &__TextContent {
      @extend %text-Hero;
      &Orange {
        @extend %bold;
        color: $color-tertiary;
        margin-bottom: 1rem;
      }
      margin-bottom: 2.5rem;
      p:first-child {
        @extend %bold;
        margin-bottom: 0;
      }
    }
  }

  .imageWrapper {
    display: none;
  }
}

.linkAsButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkAsButtonContainer {
  display: flex;
  flex-direction: column;
}

@include media(large) {
  .heading {
    padding: 0;

    &ContainerWrapper {
      width: 50%;
    }

    &Container {
      max-width: 32.5rem;
      margin-right: calc(#{$breakpoint-xl}/2 - 32.5rem);
      padding: 4rem 1rem;

      &__TextContent {
        margin-bottom: 56px;
      }
    }

    .imageWrapper {
      position: absolute;
      display: initial;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
    }
  }
}

@include media(xxlarge) {
  .heading {
    &ContainerWrapper {
      width: 60%;
    }

    &Container {
      max-width: 45rem;
      margin-right: calc(#{$breakpoint-xl}/1.5 - 45rem);
    }

    .imageWrapper {
      width: 40%;
    }
  }

}
