@import "@styles/utilities";

.hero {
  @extend %background-primary;

  &Content {
    display: flex;
  }

  &Title {
    @extend %headline;
    display: inline-block;
    max-width: 848px;
    margin-bottom: 0;
    padding: 36px 24px;
    font-weight: initial;
    color: inherit;

    @include media(medium) {
      padding: 42px 24px;
    }

    @include media(xlarge) {
      padding: 80px 24px;
    }
  }

  &Illustration {
    position: relative;
    display: none;

    @include media(large) {
      display: initial;
      flex: 0 0 50%;
    }

    @include media(xlarge) {
      margin-right: 24px;
    }
  }
}

%text-Hero {
  font-size: 1rem;
  line-height: 1.375rem;

  @include media(large) {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

.heading {
  position: relative;
  padding: 3.5rem 2rem;

  &Container {
    max-width: 35rem;
    margin: 0 auto;

    &__Title {
      @extend %headline;
      color: $color-primary;
      margin-bottom: 1rem;
    }

    &__TextContent {
      @extend %text-Hero;
      &Orange {
        @extend %bold;
        color: $color-tertiary;
        margin-bottom: 1rem;
      }
      margin-bottom: 2.5rem;
      p:first-child {
        @extend %bold;
        margin-bottom: 0;
      }
    }

    .linkAsButtonWrapper {
      a {
        width: 100%;
      }
    }
  }


}

@include media(large) {
  .heading {
    padding: 0;

    &ContainerWrapper {
      width: 50%;
    }

    &Container {
      max-width: 35.5rem;
      margin: 0 auto;
      padding: 5rem 1rem;

      &__TextContent {
        margin-bottom: 56px;
      }

      .linkAsButtonWrapper {
        a {
          width: initial;
        }
      }
    }

    .imageWrapper {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
    }
  }
}
