.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-france-113);
}

.heroContent {
  padding: 80px;
  font-size: 2rem;
}

.hero *, .hero [class^="fr-"] {
  color: var(--grey-1000);
}

.heroContent > *:last-child {
  margin-bottom: 0;
}

.heroImage {
  position: relative;
  width: 100%;
}
