@import "@styles/utilities";

.hero {
  @extend %background-primary;
  position: relative;
}

.heroContent {
  max-width: 78rem;
  padding: 36px 1.5rem;
  margin: 0 auto;
}

.heroTitle {
  @extend %headline;
  display: inline-block;
  max-width: 50rem;
  margin-bottom: 0;
}

.heroImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@include media(medium){
  .heroContent {
    padding: 42px 1.5rem;
  }
}

@include media(xlarge){
  .heroContent {
    padding: 80px 1.5rem;
  }
}