.hero {
  position: relative;
  background-color: var(--1J1S-blue);
}

.heroContent {
  padding: 72px 1.5rem;
  max-width:78rem;
  margin:0 auto;
}

.hero *, .hero [class^="fr-"] {
  line-height: 1.25;
  font-size: 1.5rem;
  color: var(--grey-1000);
}

.heroText > *:last-child {
  margin-bottom: 0;
}

.heroImage {
  position: absolute;
  top:0;
  right:0;
  height:100%;
  object-fit: contain;
}

@media only screen and (min-width: 78em) {
  .heroText {
    width: 60%;
    padding-right: 80px;
  }
}