@import "@styles/utilities";

.hero {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  line-height: 2rem;
  @extend %text-xLarge;
  @extend %max-container;

  @include media(large) {
    line-height: 2.5rem;
    padding: 4rem 1rem 2rem 1rem;
  }

  &PrimaryText, &SecondaryText {
    display: block;
  }

  &PrimaryText {
    color: $color-primary;
    @extend %bold;
  }

  &SecondaryText {
    color: $color-secondary;
  }
}
