@use "@styles/utilities";

$color-text-first-part: utilities.$color-primary;
$color-texte-second-part: utilities.$color-secondary;

.hero {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  // FIXME (GAFI 21-09-2023): Est-ce que c'est vraiment au Hero de dicter la taille du texte contenu ? (non)
  @extend %title-large;
  @extend %max-container;

  @include utilities.media(large) {
    padding: 4rem 1rem 2rem 1rem;
  }

  &PrimaryText, &SecondaryText {
    display: block;
  }

  &PrimaryText {
    color:$color-text-first-part;

    @include utilities.media(medium) {
      font-weight: bold;
    }
  }

  &SecondaryText {
    color: $color-texte-second-part;

    @include utilities.media(medium) {
      font-weight: bold;
    }
  }
}
