@use "sass:color";
@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-border-filters: lighten(utilities.$color-primary, 15%);

.rechercheOffreForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: variables.$form-submit-button-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-template-columns: 1fr auto;
    grid-gap: variables.$form-horizontal-gap;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  & .filtres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      flex-direction: row;

      .localisation, .metier, .domaine {
        min-width: 28ch;
        flex: 1
      }
    }
  }

  & .buttonRechercher {
    @include utilities.media(medium) {
      margin-top: utilities.pixel-to-rem(28);
    }

    > button {
      width: 100%;
    }
  }
}
