@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheOffreForm {
  @include utilities.media(medium) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  & .filtres {
    display: grid;
    grid-gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      grid-gap: variables.$form-horizontal-gap;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      & .domaine {
        grid-column: span 2;
      }
    }

    @include utilities.media(large) {
      grid-auto-flow: column;
      grid-template-columns: 1.5fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }

  & .buttonRechercher {
    @extend %buttonRechercher;
  }
}
