@use "@styles/utilities";

$color-title: utilities.$color-title-primary;

.recrutementCandidatFranceTravail {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h1 {
    @include utilities.title-large;
    @extend %bold;
    color: $color-title;
  }

  & .footnote {
    @include utilities.text-small;
    text-align: left;
  }

  & .links {
    display: grid;
    grid-template-columns: max-content;
    margin: auto;
    row-gap: 0.5rem;

    & a {
      width: 100%;
      justify-content: center;
    }
  }
}

@include utilities.media(large) {
  .recrutementCandidatFranceTravail {
    padding: 2.5rem 17.5rem 0 17.5rem;
  }
}
