@import "@styles/utilities";

.formulaireDeRappel {
  input {
    background-color: $color-on-primary;
    border: 0.5px solid $color-on-background;
    border-radius: 30px;
    box-shadow: none;
  }

  label {
    margin-top: 1rem;
  }

  .radioButton {
    border-radius: 0;
  }

  button {
    margin-top: 8px;
    border: 0.5px solid $color-on-surface;
    font-size: small;
  }

  input[type=radio] + label {
    padding-left: 0 !important;
    margin-top: 0;
    &::before {
      display: none !important;
    }
  }

  &Button {
    text-align: center;
    margin: 2rem;
    .button {
      font-size: unset;
    }
  }
}

.décharge {
  width: 100%;
  background-color: $color-cadre-formulaire;
  border-radius: 30px;
  margin-bottom: 2rem;

  p {
    font-size: 0.7rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }
}

.success {
  text-align: center;

  span {
    display: flex;
    margin: 1rem auto;
    width: 120px;
    height: 120px;
    color: $color-secondary;
    align-items: center;
    justify-content: center;
  }
}

.textArea {
  margin-top: 1rem;

  > textarea {
    min-height: 8rem;
    background-color: $color-on-primary;
    padding-top: 1rem;
  }
}

.modal {
  > button {
    color: $color-on-background;
  }

  &Title {
    display: flex;
    flex-direction: column;
    @extend %bold;

    div:first-child {
      @extend %text-xLarge;
    }

    div:last-child {
      margin: 1rem 0;
      @extend %text-large;
      color: $color-primary;
    }
  }

  &Content {
    padding: 0 20px;
  }

  .sujet {
    margin-top: 1rem;

    input {
      background-color: $color-on-primary;
    }

  }
}

@include media(large){
  .formulaireDeRappel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-bottom: 0;

    label {
      margin-top: 0;
    }
  }
}
