@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-message-champs-obligatoires: utilities.$color-primary;

.rechercheFormationForm {
  @include utilities.media(medium) {
    padding-bottom: 2.5rem;
  }

  & .filtresRechercherFormation {
    display: grid;
    grid-gap: variables.$form-vertical-gap-mobile
    @include utilities.media(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: variables.$form-vertical-gap-desktop;
    }
  }

  & .buttonRechercher {
    @extend %buttonRechercher;
  }
}

.champsObligatoires {
  color: $color-message-champs-obligatoires;
  margin-block: 1.25rem;
}
