.offreEmploiContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
}

.offreEmploiContainer > * {
  margin-bottom: 24px;
}

.offreEmploiContainer > ul {
  justify-content: center;
}

.offreEmploiHeader {
  --title-spacing: 0;
  text-align: center;
}

.offreEmploiFormations {

}