@use "@styles/utilities";

.informationChamp {
  color: utilities.$color-primary;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  @include utilities.media(large) {
    margin-top: 3.5rem;
  }
}

.formulaire {
  @include utilities.media(large) {
    border-radius: 40px;
    padding: 0 8rem;
  }

  @include utilities.media(xlarge) {
    padding: 0 8rem 2rem;
  }
}

.champsFormulaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include utilities.media(xlarge) {
    flex-direction: row;
    justify-content: space-between;

    > div {
      min-width: 48%;
    }
  }
}

.validation {
  margin-bottom: 1.5rem;

  > button {
    width: 100%;
  }
}

@include utilities.media(large) {
  .validation {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-block: 1.5rem;

    > button {
      width: 50%;
    }
  }
}
