@import "@styles/utilities";

.articleCard {
  background-color: $color-background;
  border-radius: 20px;
  cursor: pointer;
  @extend %box-shadow;
}

.imageWrapper {
  position: relative;
  height: 180px;
}

.content {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5rem;
  @extend %bold;
  @extend %text-medium;
}

.description {
  margin-bottom: 1.25rem;
  @include media(large) {
    margin-bottom: 1rem;
  }
}

.cta {
  align-self: center;
  width: 100%;

  &:focus {
    outline-offset: 4px;
  }

  @include media(large) {
    align-self: flex-end;
    width: initial;
  }
}