@import "@styles/utilities";

.imageWrapper {
  height: 180px;
}

.content {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5rem;
  @extend %text-medium;
}

.cta {
  margin-top: 1.25rem;
  align-self: center;
  width: 100%;

  @include media(large) {
    align-self: flex-end;
    margin-top: 1rem;
    width: initial;
  }
}