@use "@styles/utilities-deprecated";

.cardComponent {
  display: flex;
  background-color: utilities-deprecated.$color-surface;
  box-shadow: utilities-deprecated.$box-shadow;
  border-radius: 20px;
  overflow: hidden;

  &:hover .cardButtonQuaternary > span {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &Horizontal {
    flex-direction: row;
  }

  &Vertical {
    flex-direction: column;
  }
}

.cardImageWrapper {
  position: relative;
  min-height: 50px;
  min-width: 50px;

  @include utilities-deprecated.media(large) {
    min-width: 140px;
  }
}

.cardTitle {
  @extend %bold;
}

.cardButton {
  display: flex;
  border-radius: 50px;
  outline-offset: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;

  @extend %button;

  > svg {
    margin-left: 0.3rem;
    vertical-align: bottom;
  }
}

.cardButtonPrimary {
  border: 1px solid utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-on-primary;

  &:hover {
    background-color: utilities-deprecated.$color-primary-on-hover;
    border-color: utilities-deprecated.$color-primary-on-hover;
  }
}


.cardButtonSecondary {
  border: 1px solid utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$white;

  &:hover {
    background-color: utilities-deprecated.$color-background-white-titan;
    border-color: utilities-deprecated.$color-primary;
    color: utilities-deprecated.$color-primary;
  }
}

.cardButtonQuaternary {
  color: utilities-deprecated.$color-primary;
  border-radius: 0;
  padding: 0;
}

.cardButtonTertiary {
  border: 1px solid utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$color-background-white-titan;

  &:hover {
    background-color: utilities-deprecated.$color-tertiary-on-hover;
    border-color: utilities-deprecated.$color-tertiary-on-hover;
    color: utilities-deprecated.$white;
  }
}



