@import "@styles/utilities";

.card {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 700ms;
  transform: rotateY(var(--rotate-y, 0));

  &:after {
    content: inherit !important;
    font: inherit !important;
  }

  article {
    background-color: $color-surface;
    border-radius: 20px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0;
    height: 100%;
    overflow: hidden;

    .image {
      position: relative;
      height: 172px;
      flex: 0 1 200px;
      overflow: hidden;
    }

    .title {
      @extend %text-large, %bold;
      margin: 0 1.2rem;
      line-height: 1.7rem;
    }

    .description {
      font-size: 1em;
      margin: 0 1.2rem;
      text-align: justify;
      flex-grow: 1;
    }

    .link {
      @extend %text-large;
      text-decoration: underline;
      color: $color-primary;
      margin: 0 1.2rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      svg {
        height: 1em;
        position: relative;
        top: 1px;
      }
    }

    .pourQui {
      justify-content: flex-start;
      cursor: pointer;

      button {
        @extend %text-large;
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }

  &Front {
    backface-visibility: hidden;
  }

  &Back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg) translateZ(1px); //On translate d'1px pour que le back passe devant et que le front ne prenne pas le clic
    background-color: $color-primary;
    color: $color-on-primary;
    padding: 2.25rem;

    button {
      display: flex;
      justify-items: center;
      color: $color-primary;
      background-color: $color-on-primary;
      border-radius: 50%;
      padding: 0.5rem;
    }

    .title {
      text-align: center;
      margin-bottom: 2.75rem;
      font-weight: 700;
    }

    &Description {
      @extend %text-large;
      line-height: 2rem;
    }
  }
}

.active {
  --rotate-y: 180deg;
}

.card.mobile {
  article {
    .link {
      font-size: inherit;
      margin-right: 2em;
    }
  }
}

@include media(medium) {
  .card {
    &ImageWrapper {
      min-height: 180px;
      max-height: 180px;
    }

    .title {
      font-size: 1.25rem;
    }
  }
}
