@import "@styles/utilities";

.card {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05) !important;
    background-color: $color-on-primary;
    &:after {
        content: inherit !important;
        font: inherit !important;
    }
    &Article {
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-height: calc(250px + 8.75rem);
        overflow: hidden;
    }
    &ImageWrapper {
        position: relative;
        border-radius: 20px;
        min-height: 150px;
        max-height: 150px;
        flex: 0 1 200px;
        overflow: hidden;
    }
    &Content {
        min-height: 10.75rem;
        padding-top: 0.75rem;
        overflow: auto;
        &Header {
            margin-bottom: 0.25rem;
            display: flex;
            justify-content: space-between;
        }
    }

    &Title {
        font-size: 1em;
        font-weight: bold;
    }

    &Description > * {
        font-size: 1em;
        margin: 0;
    }

    &Action {
        background-color: $color-primary;
        border-radius: 50%;
        padding: 0.25rem;
        color: $color-on-primary;
        width: 2rem;
        height: 2rem;
    }
}

@include media(medium) {
    .card {
        &ImageWrapper {
            min-height: 180px;
            max-height: 180px;
        }

        &Content {
            padding-top: 1.25rem;
        }
        &Title {
            font-size: 1.25rem;
        }
    }
}
