@import "@styles/utilities";

.card {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05) !important;
    background-color: $color-on-primary;
    &:after {
        content: inherit !important;
        font: inherit !important;
    }
    &Article {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        max-height: calc(250px + 8.75rem);
        overflow: hidden;
    }
    &ImageWrapper {
        position: relative;
        flex: 0 1 200px;
        overflow: hidden;
    }
    &Content {
        min-height: 10.75rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
        overflow: auto;
    }

    &Title {
        font-size: 1.125em;
        margin-bottom: 16px;
    }

    &Description > * {
        font-size: 0.875em;
        margin: 0;
    }

    &Action {
        padding: 0 1.5rem 1.5rem 1.5rem;
        @extend %linkWithRightIcon;
    }
}
