.card {
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05);
    display: flex;
    flex-direction: column;
    height: 416px;
    overflow: hidden;
}

.cardImageWrapper {
    overflow: hidden;
}

.cardImage {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cardContent {
    padding: 1.5rem;
}

.cardTitle {
    font-size: 1.125em;
    margin-bottom: 16px;
}

.cardDescription {
    max-height: 100px;
    overflow: hidden;
}

.cardDescription > * {
    font-size: 0.875em;
}

.cardAction {
    text-align: end;
}

.cardAction .cardLink {
    align-items: center;
    box-shadow: none;
    color: var(--1J1S-blue);
    display: inline-block;
    font-size: 0.875em;
    gap: 0.25rem;
    justify-content: flex-end;
}

.cardAction .cardLink:hover {
    box-shadow: var(--link-underline);
}

.cardAction .cardLink > * {
    vertical-align: middle;
}

.cardLinkLabel {
    margin-right: 0.25rem;
}