@import "@styles/utilities";

.section {
  padding: 3rem 0;
  background: $color-background-white-lilac;
}

.container {
  display: grid;
  place-items: start;
  gap: 3rem;
  padding: 0 1.5rem;

  @include media(large) {
    grid-template-columns: 1fr 1fr;
  }
}

.illustration {
  position: relative;
  place-self: stretch;
  border-radius: 40px;
  overflow: hidden;
  height: 20rem;

  img {
    object-fit: cover;
  }
}

.article p {
  margin-bottom: 1rem;
}

.article h2 {
  color: $color-primary;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article ul {
  list-style-type: initial;
  padding-left: 1rem;
  margin-bottom: 1rem;

  b {
    color: $color-primary;
  }
}

.article ul li::marker {
  color: $color-primary;
}

@include media(large) {
  .illustration {
    height: inherit;
  }

  .section {
    padding: 5rem 0;
  }
}
