@import "@styles/utilities";

.section {
   padding: 3rem 0;
   background: $color-background-white-lilac;
}

.container {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;
}

.illustration {
  position: relative;
  place-self: stretch;
  border-radius: 40px;
  overflow: hidden;
  height: 20rem;
}

.article p {
  margin-bottom: 1rem;
}

.article p:last-child {
  margin-bottom: 0;
}

.article h2 {
  color: $color-primary;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article ul {
  list-style-type: initial;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.article ul li::marker {
  color: $color-primary;
}

.article em {
  font-style: normal;
  font-weight: bold;
}

.article strong {
  font-weight: bold;
  color: $color-primary;
}

@include media(large) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .illustration {
    height: inherit;
  }
  .section {
    padding: 5rem 0;
 }
}
