@import "@styles/utilities";

.heading {
  padding: 32px;

  > h1 {
    @extend %text-xLarge;
    color: $color-blue-navy;
    margin-bottom: 1rem;
  }

  > p {
    @extend %text-regular;
    margin-bottom: 2.5rem;
  }

  > p:nth-child(2) {
    @extend %bold;
    color: $color-tertiary;
    margin-bottom: 1rem;
  }

  > p:nth-child(3) {
    @extend %bold;
    margin-bottom: 0;
  }
}

.linkAsButtonWrapper {
  max-width: 16rem;
  margin: 40px auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkAsButtonMentorat {
  background-color: white;
  color: $color-primary;
  border: 1px solid $color-primary;
  box-shadow: none !important; // TODO a retirer à cause du dsfr
}
