@use "@styles/utilities";

$color-tag: #EEEEEE;

.tag {
  display: block;
  @include utilities.text-small;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  border: 0.5px solid utilities.$color-background-border;
  background-color: utilities.$color-background-tag;

  &::first-letter {
    text-transform: capitalize;
  }

  & button {
    line-height: 0;
    padding: 0;
    & svg {
      height: 0.75rem;
      width: 0.75rem;
      vertical-align: middle;
    }
  }
}


@include utilities.media(large) {
  .tag {
    padding: 0.5rem 0.75rem;

    & button svg {
      height: 1rem;
      width: 1rem;
    }
  }
}
