@import "@styles/utilities";

.phases {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  gap: 24px;
  margin-top: 2rem;
  list-style-type: none;

  @include media(large) {
    flex-direction: row;
  }

  &Card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px white dotted;
    border-radius: 5px;
    padding: 8px;
    @extend %text-small;

    @include media(large) {
      flex: 1 1 calc(33%);
    }

    &:not(:last-child):after {
      position: absolute;
      top: 100%;
      right: 50%;
      content: '';
      height: 1.5rem;
      width: 1.5rem;
      background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m12 13.171 4.95-4.95 1.414 1.415L12 16 5.636 9.636 7.05 8.222l4.95 4.95Z' fill='%23fff'/></svg>");
      transform: translate(50%, 0);

      @include media(large) {
        top: 50%;
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,<svg width='25' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='m13.507 12-4.95-4.95L9.97 5.636 16.335 12 9.97 18.364 8.557 16.95l4.95-4.95Z' fill='%23fff'/></svg>");
        transform: translate(100%, -50%);
      }
    }
  }
}

.réseaux {
  background-color: $color-background-white-lilac;

  &Content {
    & > details + details {
      margin-top: 1rem;
    }
  }
}

.outilsADisposition {
  &List {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include media(medium) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2.5rem;
    }

    & > li {
      @include media(medium) {
        flex: 1 0 calc(100% / 3 - 2.5rem);
        min-width: 22rem;
      }
    }
  }
}

.marseille {
  background-color: $color-background-white-lilac;
}

.réseaux, .marseille, .outilsADisposition {
  padding: 2rem 1rem;

  @include media(large) {
    padding: 5rem 1rem;
  }

  &Header {
    @extend %subheading;
    @extend %bold;
    margin-bottom: 1.5rem;
    color: $color-primary;

    @include media(large) {
      max-width: 75%;
      margin: 0 auto 2.5rem auto;
      text-align: center;
    }
  }
}
