@import "@styles/utilities";

.rechercheSolution {
  &FormWrapper {
    padding: 2rem 1rem;
  }
}

.informationRésultat {
  padding: 2rem 1rem;
  ul {
    padding-bottom: 1rem;
  }

  @include media(large) {
    ul {
      padding-bottom: 2rem;
    }
  }
}

.nombreRésultats {
  @extend %bold, %text-large;
}

.listeSolutionsWrapper {
  padding: 2rem 1rem;
}
.listeSolutions {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  & > li {
    margin-top: 24px;
  }
}

.pagination {
  padding-top: 2.5rem;
  @include media(large) {
    padding-top: 5rem;
  }
  & > nav {
    margin: auto;
  }
}


