@use "@styles/utilities";

.rechercheSolution {
  &FormWrapper {
    padding: 1rem 1rem 3rem 1rem;
  }
  @include utilities.media(large) {
    .rechercheSolution {
      &FormWrapper {
        padding: 1rem;
      }
    }
  }
}

.informationRésultat {
  padding: 2rem 1rem;
  & > ul:first-child {
    padding-bottom: 1rem;
  }

  @include utilities.media(large) {
    & > ul:first-child {
      padding-bottom: 2rem;
    }
  }
}

.listeSolutionsWrapper {
  padding: 2rem 1rem;

  @include utilities.media(large) {
    padding: 2rem 1rem 4rem 1rem;
  }
}

.listeSolutions {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  & > li {
    margin-top: 1.5rem;
  }
}

.footnote {
  &:target,& :target {
    scroll-margin-top: 50vh;
  }
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;

  @include utilities.media(large) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

.pagination {
  padding-top: 2.5rem;
  @include utilities.media(large) {
    padding-top: 4rem;
  }
  & > nav {
    margin: auto;
  }
}


