@use "@styles/utilities-deprecated";

.bouée {
  position: fixed;
  z-index: 1;
  background: utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-on-primary;
  display: flex;
  --size: 2rem;
  min-height: var(--size);
  min-width: var(--size);
  justify-content: center;
  align-items: center;
  border-radius: 100vmax;
  right: utilities-deprecated.$gutter;
  bottom: utilities-deprecated.$gutter;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);
  outline-offset: 4px;

  transition:
          transform 400ms ease-in-out,
          visibility 400ms ease-in-out;
  &[hidden]:not([hidden="false"]) {
    transform: translateY(calc(100% + utilities-deprecated.$gutter));
    visibility: hidden;
  }
}
