@use "@styles/utilities";

.radioButton {
  position: relative;

  .label {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: utilities.$color-on-surface;
  }

  input[type=radio] {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type=radio] + label {
    position: relative;
    padding: 0.75rem 0 .75rem 2rem;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  input[type=radio] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0.5rem;
    margin-top: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px utilities.$color-on-surface;
  }

  input[type=radio]:checked + label::before {
    background-color: utilities.$color-primary;
    box-shadow: inset 0 0 0 1px utilities.$color-on-surface, inset 0 0 0 4px #fff, inset 0 0 0 10px utilities.$color-primary;
  }
}
