@use "@styles/utilities-deprecated";
@use "@styles/utilities";
@use "@styles/components/form/variables";

$radio-width: 1rem;
$radio-padding: .5rem;

%radio {
  width: $radio-width;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid utilities.$color-text-primary;
}

%radio-checked {
  background-color: utilities-deprecated.$color-primary;
  box-shadow: inset 0 0 0 calc($radio-width / 4) utilities-deprecated.$white;
}

.radioButton {
  // FIXME (GAFI 23-10-2024): Déplacer la gestion du layout dans les parents
  margin-block: 0.75rem;
  label {
    display: inline;
    color: utilities.$color-text-primary;
    @extend %label-champ;
  }

  input[type=radio] {
    appearance: none;
    outline-offset: 2px;
    margin-inline: $radio-padding;
  }

  input[type=radio] {
    @extend %radio
  }

  input[type=radio]:checked {
    @extend %radio-checked;
  }
}
