@import "@styles/utilities";

.flexContainer {
    display:flex;
    max-width: 78em;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    @include media(medium){
        padding: 5rem 3rem;
    }
}

.textWrapper {
    padding: 1rem;
    line-height: 1.5rem;
    & h1 {
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    & p {
        padding: 1rem 0;
    }
}

.buttonWrapper {
    padding-top: 1rem;
    text-align: center;
    @include media(medium){
        text-align: left;
    }
}

.errorLogo {
    flex-shrink: 0;
    width:40%;
    margin: auto;
    text-align: center;
}
