@use "@styles/utilities";

$hint-color-text: utilities.$color-primary;
$margin-vertical: 0.5rem;

.champ {
  display: grid;
  gap: $margin-vertical;
}


.hint {
  @include utilities.text-small;
  color: $hint-color-text;
}

.label {
  display: block;
  @include utilities.text-large;

  .complement {
    display: block;
    @include utilities.text-small;
    // TODO (BRUJ 06-10-2023): Ajouter la bonne couleur
  }
}

