@import "@styles/utilities";

.actions {
 @extend %background-surface;
  padding: 2rem 0;

  button {
    display: contents;
  }

  &Container {
   gap: 5rem;
   margin: 0 auto;
   max-width: 79rem;
   padding: 0 1.5rem;
   place-items: flex-start;

   p {
     @extend %bold;
    }
   strong {
     color: $color-primary;
    }
 }

  &Article {
   &__Title {
     color: $color-primary;
     font-size: 1.5rem;
     margin-bottom: 2rem;
    }
    &__Content {
      &  ul {
        list-style-type: initial;
        padding-left: 1rem;
        margin-bottom: 1rem;
      }
      &  ul li::marker {
        color: $color-primary;
      }
    }
  }
}

@include media(large){

 .actions {
    &Container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      line-height: 30px;
    }
  }
}
