@import "@styles/utilities";

.details {
  color: white;
  cursor: default;

  summary {
    display: flex;
    align-items: center;
    background-color: $color-primary;
    padding: 12px 2rem;
    background-repeat: no-repeat;
    background-position: right 2rem center;
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
    cursor: pointer;
    height: 2.25rem;

    span {
      width: 90%;
    }
  }

  &[open] summary {
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 10.8281L7.04999 15.7781L5.63599 14.3641L12 8.00008L18.364 14.3641L16.95 15.7781L12 10.8281Z' /></svg>");
  }

  .detailsContent {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include media(large) {
  .details {
    summary {
      border-radius: 20px;
    }

    .detailsContent {
      padding: inherit;
    }
  }
}
