@import "@styles/utilities";

.pourquoi {
  background-color: $color-background-white-lilac;
  margin: 0 auto;
  padding: 16px 28px;

  img {
    height: 300px;
    width: 500px;
  }
  > article {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;

    .listeCitoyen, .listeEmployeur {
      margin-bottom: 2rem;
      margin-left: 0.5rem;
      list-style-image: url("data:image/svg+xml;charset=utf8,<svg width='16' height='16' viewBox='6 3 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M16.5653 9.66673L9.41327 2.51473L11.2986 0.629395L21.6693 11.0001L11.2986 21.3707L9.41327 19.4854L16.5653 12.3334H0.335938V9.66673H16.5653Z' fill='%23161616'/> </svg> ");


      li {
        margin-left: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    h2 {
      @extend %text-large;
      @extend %bold;
      max-width: 25rem;
      color: $color-primary;
      margin-block: 2rem .5rem;
    }
  }
}

@include media(large) {
  .pourquoi {
    padding: 1rem 0 4rem 0;

    > article {
      display: flex;
      flex-wrap: wrap;
      place-content: center;

      section {
        margin-left: 5rem;
      }

      .listeCitoyen, .listeEmployeur {
        color: $color-on-surface;
        max-width: 30rem;
        margin: auto;
      }
    }
  }
}
