@use "@styles/utilities-deprecated";


.recruter {
  padding: 4rem 2rem;
  text-align: center;

  h1 {
    @extend %bold;
    color: utilities-deprecated.$color-primary;
    margin-bottom: 1.5em;
    font-size: 1.5rem;
  }

  p {
    max-width: 43rem;
    text-align: left;
    margin: auto;
    margin-bottom: 3rem;
  }

  .offres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
      width: 100%;
      @include utilities-deprecated.media(medium) {
        width: auto;
      }
    }


    &Lien {
      display: flex;
      min-width: 34ch;
    }
  }
}


@include utilities-deprecated.media(medium) {
  .recruter {
    padding: 4rem;
    margin: auto;
  }
}
