@import "@styles/utilities";


.recruter {
  padding: 4rem 2rem 4rem 2rem;
  text-align: center;

  h2 {
    @extend %bold;
    color: $color-primary;
    margin-bottom: 1em;
    font-size: 1.5rem;
  }

  p {
    max-width: 43rem;
    text-align: left;
    margin: auto;
    margin-bottom: 3rem;
  }

  ul {
    display: grid;
    margin: auto;
    max-width: 25rem;
    li {
      margin-top: 1rem;
      a {
        font-size: 0.95em;
        min-width: 100%;
      }
    }
  }
}


@include media(medium) {
  .recruter {
    padding: 4rem 19rem 4rem 19rem;
    margin: auto;
  }
  .recruter ul li a {
    font-size: inherit;
  }
}
