@import "@styles/utilities";


.recruter {
  padding: 2rem 0 4rem;
  text-align: center;

  h2 {
    @extend %text-xLarge, %bold;
    color: $color-primary;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  p {
    @extend %text-large;
    max-width: 43rem;
    text-align: left;
    margin: auto;
    margin-bottom: 3rem;
  }

  ul {
    display: grid;
    margin: auto;
    width: 25rem;
    li {
      margin-top: 1rem;
      a {
        min-width: 100%;
      }
    }
  }
}

