@use "@styles/utilities";
@use "../styles.module";

.feteDesMetiers {
  background-color: utilities.$color-primary-campagne-fete-des-metiers;
  color: utilities.$color-text-on-primary-campagne-fete-des-metiers;
  & a {
    border-color: utilities.$color-border-campagne-fete-des-metiers;
    color: inherit;
  }
}
