@use "@styles/utilities";

$color-mobile-border: utilities.$color-background-border;

.jeDonneMonAvis {
  width: 100%;
  padding: 1rem 1rem 0;
  text-align: center;
  margin-bottom: 3.5rem;
  border-top: 1px solid $color-mobile-border;

  @include utilities.media(large) {
    padding: 0;
    border-top: none;
  }

  & .text {
    @extend %text-medium;
    @extend %bold;

    margin-bottom: 1.5rem;
  }

  & .lien {
    & .image {
      width: utilities.pixel-to-rem(176);
      height: utilities.pixel-to-rem(56);

      @include utilities.media(medium) {
        width: utilities.pixel-to-rem(200);
        height: utilities.pixel-to-rem(85);
      }
    }
  }
}
