@use "@styles/utilities-deprecated";

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

