@use "@styles/utilities-deprecated";
@use "@styles/utilities";

.controls {
  z-index: 10;
  background-color: utilities-deprecated.$color-surface;
  color: utilities-deprecated.$color-primary;
  width: 1.50rem;
  height: 1.50rem;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  top: calc(50% - 20px/2);
  > svg {
    height: 1.50rem;
  }
  &Previous {
    left: 0.5rem;
  }
  &Next {
    right: 0.5rem;
  }
  &:focus {
    box-shadow:0 0 0 4px utilities.$color-background-primary-alternative;
  }
  @supports selector(&:focus-visible) {
    &:focus {
      box-shadow: revert;
    }
    &:focus-visible {
      box-shadow:0 0 0 4px utilities.$color-background-primary-alternative;
    }
  }
}
