@import "@styles/utilities";

.indicators {
  z-index: 10;
  display: inline-flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  .indicator {
    background-color: $color-surface;
    width: 0.50rem;
    height: 0.50rem;
    padding: 0;
    border-radius: 50%;
    border: 1px solid $color-surface;
    &Active {
      background-color: $color-primary;
    }
  }
}
