@use "@styles/utilities";

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;

  img {
    height: auto;
  }
}

.slide.current {
  visibility: visible;
  z-index: 4;
  left: 0;
}

.slide.next {
  left: 100%;
}

.slide.prev {
  left: -100%;
}

.slide.prevInTransition,
.slide.nextInTransition,{
  visibility: visible;
}

.transition {
  transition: left .25s linear;
}

@media (prefers-reduced-motion: reduce) {
  .slide {
    transition: none;
  }
}
