@use "@styles/utilities";

.errorMessage {
  padding: 1rem;
  @include utilities.text-large;
  & > * {
    display: block;
    margin-bottom: 1rem;
  }
  &Title {
    @include utilities.title-medium;
    @extend %bold;
  }
}

@include utilities.media(medium){
  .errorMessage {
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 2em 0;
  }
}
