@import "@styles/utilities";

.errorMessage {
  padding: 1rem;
  & > * {
    display: block;
    margin-bottom: 1rem;
  }
  &Title {
    font-size: 1.5rem;
    line-height: 2rem;
    @extend %bold;
  }
}

@media screen and (min-width: 48em) {
  .errorMessage {
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 2em 0;
  }
}