@use "@styles/utilities-deprecated";

.position {
  display: inline;
}

.tooltipContainer {
  display: inline-flex;
  padding-left: 0.25rem;
}

.icon {
  color: utilities-deprecated.$color-primary;
  width: 1.25rem;
}

.tooltip {
  position: absolute;
  z-index: 15;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border: 1px solid utilities-deprecated.$color-separator;
  border-radius: 20px;
  background-color: utilities-deprecated.$color-background;
  overflow-y: auto;
  max-width: 25rem;

  .description {
    clear: both;
  }
}

.buttonClose {
  display: block;
  float: right;
  padding: 0;
}
