@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-message-champs-obligatoires: utilities.$color-primary;

.rechercheFormationForm {
  display: flex;
  flex-direction: column;
  gap: variables.$form-submit-button-vertical-gap-mobile;

  & .filtresRechercherFormation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: variables.$form-vertical-gap-mobile;

    & .inputButtonWrapper {
      display: flex;
      flex-direction: column;
      gap: variables.$form-vertical-gap-mobile;
    }
  }
}

.buttonRechercher > button {
  width: 100%;
}

.mentionChampsObligatoires {
  color: $color-message-champs-obligatoires;
  margin-block: 1.25rem;
}


@include utilities.media(medium) {
  .rechercheFormationForm {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 2.5rem;
    gap: variables.$form-horizontal-gap;

    & .filtresRechercherFormation {
      display: flex;
      flex-direction: column;
      gap: variables.$form-vertical-gap-desktop;

      & .inputButtonWrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: variables.$form-horizontal-gap;
        flex-wrap: wrap;
        padding-block: 0;
      }
    }
  }

  .buttonRechercher {
    margin-top: utilities.pixel-to-rem(28);
  }

  .inputButtonWrapper > div {
    flex-grow: 1;
  }

  .inputNiveauEtudes {
    width: 60%;
  }
}
