@import "@styles/utilities";

.rechercheFormationForm {
  display: flex;
  flex-direction: column;
}

.filtresRechercherFormation {
  flex-grow: 1;
}

.buttonRechercher > button {
  width: 100%;
}

.champsObligatoires {
  color: $color-primary;
  margin-block: 1.25rem;
}


@include media(medium) {
  .rechercheFormationForm {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 2.5rem;
  }

  .buttonRechercher {
    margin-top: 28px;
    margin-left: 40px;
  }

  .inputButtonWrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 0;
  }

  .inputButtonWrapper > div {
    flex-grow: 1;
  }

  .inputNiveauEtudes {
    width: 40%;
  }
}
