@import "@styles/utilities";


.cardListPadding, .cardListPaddingSeeMore {
  padding-bottom: 1.5rem;
}

.cardList {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  > div {
    flex: 1 0;
  }
}

.heroText {
  color: #2B8079;
}

.bannière {
  background-color:white;
  color: $color-primary;
  h1 {
    font-size: 2rem;
    line-height: 1.4;
    > span:not(:first-child) {
      color: #18753C;
    }
  }
}

.section {
  padding: 1.5rem;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &Header {
    @extend %text-xLarge, %bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    > svg, h2 {
      display: block;
      margin: auto;
    }
  }

  &VieProfessionnelle {
    background-color: $color-lighten-blue-navy;
  }
  &OrienterFormer {
    background-color: $color-lighten-tapestry;
  }
  &ParcoursAccompagnement {
    background-color: $color-lighten-smalt-blue;
  }
  &AidesFinancières {
    background-color: $color-lighten-coral;
  }

  &OrienterFormer, &AidesFinancières {
    padding-bottom: 2rem;
  }
}


@include media(medium){
  .cardListPaddingSeeMore {
    padding: 0.5rem 1.125rem 1.5rem 1.125rem;
  }

  .cardList {
    gap: 2rem;
    flex-direction: row;
    > div {
      max-width: 360px;
    }
  }

  .sectionHeader {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .section {
    &OrienterFormer, &AidesFinancières {
      padding-bottom: 3rem;
    }
  }
}
