@import "@styles/utilities";


.cardListPadding, .cardListPaddingSeeMore {
  padding-bottom: 1.5rem;
}

.cardList {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: $breakpoint-xl;
  margin: auto;
}

.card {
  width: 22.5rem;
}

.bannière {
  background-color: $color-background;
  color: $color-primary;
}

.section {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &Header {
    @extend %text-xLarge, %bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    > svg, h2 {
      display: block;
      margin: auto;
    }
  }
}

@include media(medium) {
  .cardListPaddingSeeMore {
    padding: 0.5rem 1.125rem 1.5rem 1.125rem;
  }

  .cardList {
    gap: 2rem;
    flex-direction: row;
    > li {
      width: 22.5rem;
    }
  }

  .sectionHeader {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .section {
    &OrienterFormer, &AidesFinancières {
      padding-bottom: 3rem;
    }
  }
}
