.résultatRechercheOffreEmploiList {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    list-style: none;
}

.card {
    display: block;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid var(--grey-925);
}

.cardHeader {
    display: flex;
    border-bottom: 2px solid var(--grey-925);
    padding: 16px;
}

.cardHeader > span {
    margin-left:auto !important;
    margin-right:auto !important;
}

.cardBody {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.cardBody > *:not(:last-child) {
    margin-bottom: 20px !important;
}
