@import "@styles/utilities";

.section {
  background-color: $color-background-white-lilac;
}

.entête {
  padding: 1.5rem;
}
.layout {
  padding: 2rem 1rem;

  h3, p, li {
    font-size: 0.875rem;
  }
  li:not(last-child) {
    margin-bottom: 0.25rem;
  }
}

.texte {
  &Question {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  &Pourcentage {
    color: $color-primary;
  }
}

p.millesime {
  margin-top: 2rem;
  font-size: 0.6rem;
}

@include media(large) {
  .layout {
    padding: 3.5rem 0;
  }
}
