@use "@styles/utilities";

.container {
  padding: 0 2rem;
  @include utilities.media(large) {
    padding: 0 0 1rem;
  }
}

.texteValidation {
  @include utilities.text-large;
  font-size: 1.2rem;

  @include utilities.media(medium) {
    text-align: center;
  }
}

.boutonsConfirmationEnvoi {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  > a {
    margin-top: 1rem;
    width: 100%;
  }

  @include utilities.media(medium) {
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > a {
      width: auto;
    }
  }
}

