@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheOffreForm {
  display: flex;
  flex-direction: column;
}

.filtresRechercherOffre {
  flex-grow: 1;
}

.inputButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$form-vertical-gap-mobile;;
}

.buttonRechercher > button {
  width: 100%;
}

.champsObligatoires {
  color: utilities.$color-primary;
  margin-block: 1.25rem;
}

@include utilities.media(medium) {
  .rechercheOffreForm {
    flex-direction: row;
    align-items: flex-start;
  }

  .buttonRechercher {
    margin-top: 28px;
    margin-left: 40px;
  }

  .inputButtonWrapper {
    flex-direction: row;
    width: 100%;
    gap: variables.$form-vertical-gap-desktop;;
    flex-wrap: wrap;
    padding-block: 0;
  }

  .inputButtonWrapper > div {
    flex-grow: 1;
  }
}
