@use "@styles/utilities";
@use "@styles/components/form/variables";
@use "@styles/theme/variables" as theme-variables;

.rechercheOffreForm {
  padding-bottom: 1rem;
}

.filtresRechercherOffre {
  display: grid;
  grid-gap: variables.$form-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-template-columns: 1fr 1fr;
    grid-gap: variables.$form-horizontal-gap;
  }
}

.buttonRechercher {
  @extend %buttonRechercher;
}

.champsObligatoires {
  color: utilities.$color-primary;
  margin-block: 1.25rem;
}
