@use "@styles/utilities";

.allocations {
  @extend %background-surface;
  padding: 2rem 0;
  background: utilities.$color-primary;

  &Container {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;
  }

  &Illustration {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    height: 20rem;
  }

  &Article {
    &__Title {
      color: utilities.$color-on-primary;
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }

    .conditionAllocation {
      @extend %bold;
      color: utilities.$color-on-primary;
    }

    ul {
      list-style-type: initial;
      padding-left: 20px;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    ul, strong, button {
      color: utilities.$color-on-primary;
    }
  }
}

@include utilities.media(large) {

  .allocations {
    padding: 0;
    background: utilities.$color-primary;
    margin-top: 5rem;

    &Container {
      gap: 4rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    &Illustration {
      width: 25rem;
      height: 29.5rem;
      margin-top: -30px;
      margin-bottom: -30px;
    }

    &Article {
      > *, li > strong {
        color: utilities.$color-on-primary;
      }

      p {
        font-weight: inherit;
      }
    }
  }
}
