@import "@styles/utilities";

.details {
  cursor: default;

  .summary {
    @extend %text-medium;
    padding: 1.5rem 3rem 1.5rem 1rem;
    color: $color-primary;
    background-color: $color-surface;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23000' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
    border: 1px solid $color-separator;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    list-style: none;
    cursor: pointer;

    &, & > * {
      @extend %bold;
    }

    @include media(large) {
      padding: 1.5rem 3.5rem 1.5rem 1.5rem;
      background-position: calc(100% - 2.5rem);
    }
  }

  &[open] .summary {
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='%23000' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 10.8281L7.04999 15.7781L5.63599 14.3641L12 8.00008L18.364 14.3641L16.95 15.7781L12 10.8281Z' /></svg>");
  }
}

.sectionContent {
  padding: 2rem;

  h3, h4, h5 {
    margin-bottom: 1rem;
    @extend %bold;
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
