.summary {
    background-color: #EEF0F7;
    color: black;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.detailsContent {
    background-color: #FFF;
    padding: 0 16px;
}

.details > summary {
    list-style-type: none;
    background-image: url(/images/accordion/angle-down.svg);
    background-repeat:no-repeat;
    background-position: right;
}

.details[open] > summary {
    list-style-type: none;
    background-image: url(/images/accordion/angle-up.svg);
    background-repeat:no-repeat;
    background-position: right;
}
