@import "@styles/_utilities";

@mixin underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.header {
  border-bottom: 1px solid $color-separator;
  position: relative;
  width: 100%;
  background-color: $color-surface;

  &Body {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  &BodyContainer {
    @include media(large) {
      align-items: center;
      display: flex;
      gap: 4rem;
      width: 100%;
    }
  }

  &LogoWrapper {
    border-bottom: 2px solid $color-separator;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @include media(large) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &Logo {
    position: relative;
    overflow: hidden;
    width: 88px;
    height: 80px;
  }

  &Title {
    line-height: 1rem;
    @extend %text-large;
    @extend %bold;
  }

  &NavigationList {
    display: flex;
    justify-content: space-between;
  }

  &NavigationListLeft {
    display: flex;
  }

  &NavigationListRight {
    display: flex;

    .navItem {
      color: $color-on-secondary;
      background-color: $color-secondary;

      &:hover {
        background-color: fade-out($color-secondary, 0.15);
      }

      & .subNavItemList {
        color: $color-on-surface;
      }
    }
  }


  &Navigation {
    padding-inline: 1rem;

    @include media(large) {
      border-top: 1px solid $color-separator;
      padding-inline: 0;
    }
  }

  a {
    text-decoration: none;
  }

  &Banner {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: 1px solid $color-primary;
    box-shadow: 1px 1px 0px $color-primary,
                2px 2px 0px $color-primary,
                3px 3px 0px $color-primary,
                4px 4px 0px $color-primary,
                5px 5px 0px $color-primary,
                6px 6px 0px $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 10rem;
    margin-right: 4rem;
    @extend %text-small;

    &:hover {
      border: 1px solid $color-primary-on-hover;
      box-shadow: 1px 1px 0 $color-primary-on-hover,
      2px 2px 0 $color-primary-on-hover,
      3px 3px 0 $color-primary-on-hover,
      4px 4px 0 $color-primary-on-hover,
      5px 5px 0 $color-primary-on-hover,
      6px 6px 0 $color-primary-on-hover;

      .headerBannerTitle, .headerBannerIcon {
        color: $color-primary-on-hover;
      }
    }
  }

  &BannerTitle {
    color: $color-primary;
    text-decoration: underline;
    text-underline-offset: 2px;
    @extend %bold;
  }

  &BannerIcon {
    color: $color-primary;
  }

  &BannerMobile {
    background-color: $color-primary;
    color: $color-surface;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    @extend %text-small;
  }

  &BannerMobileTitle {
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-right: 0.5rem;
    line-height: 1.6rem;
    @extend %bold;
  }
}

.subNavItemList {
  color: $color-on-surface;
  z-index: 5;
  position: absolute;
  width: 100%;
  min-width: 12.5rem;
  background-color: $color-surface;
  border: 1px solid $color-separator;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  margin-bottom: 1rem;
  @extend %box-shadow;
}

.navItem {
  &:hover > a > .navItemLabel, &:hover .subNavItemLabel {
    @include underline;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &Label {
    display: block;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    color: $color-on-background;
  }

  &:not(:last-child) {
    color: $color-on-background;
  }
}

.navItem, .subNavItem {
  position: relative;
  @extend %text-regular;
}

.subNavItem {
  color: $color-on-surface;

  &:hover {
    & > .navItemLabel {
      @include underline;
      cursor: pointer;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-separator;
  }

  &:last-child a {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &Button {
    font-size: inherit;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    color: inherit;
    width: 100%;

    svg {
      vertical-align: text-top;
    }
  }

  &Label {
    margin-right: 0.2rem;
    display: inline-block;
  }

  &Icon {
    transition: transform 0.2s;

    &Expanded {
      transform: rotate(-180deg);
      transition: transform 0.2s;
    }
  }
}

.lienActive {
  pointer-events: none;
}

.navItemLabel[aria-current=true], .subNavItemLabel[aria-current=true], .embeddedNavItem[aria-current=true] {
  @include underline;
  @extend %bold;
}

.headerModalNavigationList {
  a {
    text-decoration: none;
  }

  & > .navItem:last-child {
    color: $color-on-secondary;
    background-color: $color-secondary;

    &:hover {
      background-color: fade-out($color-secondary, 0.15);
    }

    & .subNavItemList {
      color: $color-on-surface;
    }
  }

  .navItem {
    border-top: 1px solid $color-separator;

    &:last-child {
      border-bottom: 1px solid $color-separator;
    }
  }

  .navItem > a, .subNavItemButton {
    justify-content: space-between;
  }

  .subNavItemList {
    position: static;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .subNavItem {
    border-top: 1px solid $color-separator;

    &:not(:last-child) {
      border-bottom: 0;
    }

    & > a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .navItemLabel {
      padding-left: 2.5rem;
    }
  }

  .embeddedNavItem {
      @extend .subNavItem;
      &Button {
        > span {
          @extend %text-regular;
        }
        @extend .navItemLabel;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
  }

  .subNavItemButton.embedded {
    flex-direction: row-reverse;
    > span {
      flex-grow: 2;
      text-align: left;
      padding-left: .3rem;
    }
    > .subNavItemIconExpanded {
      transform: rotate(90deg);
    }
  }
}
