@use "sass:color";
@use "@styles/utilities";

@mixin underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.header {
  border-bottom: 1px solid utilities.$color-separator;
  background-color: utilities.$color-surface;

  a {
    text-decoration: none;
  }

  & .headerBannerMobile {
    background-color: utilities.$color-primary;
    color: utilities.$color-surface;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    @extend %text-small;

    & .headerBannerMobileTitle {
      text-decoration: underline;
      text-underline-offset: 3px;
      margin-right: 0.5rem;
      line-height: 2;
      @extend %bold;
    }
  }

  & .headerBodyContainer {
    padding: 1rem;

    & .headerBody {
      @include utilities.media(large) {
        display: flex;
        align-items: center;
        gap: 4rem;
      }

      & .headerBodyLogoWrapper {
        border-bottom: 2px solid utilities.$color-separator;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        @include utilities.media(large) {
          border-bottom: none;
          padding-bottom: 0;
        }
      }


      & .headerBodyTitle {
        line-height: 1rem;
        @extend %text-large;
        @extend %bold;
      }

      & .headerBodyBanner {
        padding: 0.5rem 1rem;
        border: 1px solid utilities.$color-primary;
        box-shadow: 1px 1px 0 utilities.$color-primary,
        2px 2px 0 utilities.$color-primary,
        3px 3px 0 utilities.$color-primary,
        4px 4px 0 utilities.$color-primary,
        5px 5px 0 utilities.$color-primary,
        6px 6px 0 utilities.$color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin-left: 10rem;
        margin-right: 4rem;
        @extend %text-small;

        &:hover {
          border: 1px solid utilities.$color-header-on-hover;
          box-shadow: 1px 1px 0 utilities.$color-header-on-hover,
          2px 2px 0 utilities.$color-header-on-hover,
          3px 3px 0 utilities.$color-header-on-hover,
          4px 4px 0 utilities.$color-header-on-hover,
          5px 5px 0 utilities.$color-header-on-hover,
          6px 6px 0 utilities.$color-header-on-hover;

          & .headerBodyBannerTitle, .headerBodyBannerIcon {
            color: utilities.$color-header-on-hover;
          }
        }

        & .headerBodyBannerTitle {
          color: utilities.$color-primary;
          text-decoration: underline;
          text-underline-offset: 2px;
          @extend %bold;
        }

        & .headerBodyBannerContent {
          @include utilities.media(large) {
            font-size: .825rem;
          }
        }

        & .headerBodyBannerIcon {
          color: utilities.$color-primary;
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }
  }

  &NavigationList {
    display: flex;
    justify-content: space-between;
  }

  &NavigationListLeft {
    display: flex;
  }

  &NavigationListRight {
    display: flex;

    .navItem {
      color: utilities.$color-on-secondary;
      background-color: utilities.$color-secondary;

      &:hover {
        background-color: color.adjust(utilities.$color-secondary, utilities.$alpha:-0.15);
      }

      & .subNavItemList {
        color: utilities.$color-on-surface;
      }
    }
  }


  &Navigation {
    padding-inline: 1rem;

    @include utilities.media(large) {
      border-top: 1px solid utilities.$color-separator;
      padding-inline: 0;
    }
  }
}


.subNavItemList {
  color: utilities.$color-on-surface;
  z-index: 5;
  position: absolute;
  width: 100%;
  min-width: 12.5rem;
  background-color: utilities.$color-surface;
  border: 1px solid utilities.$color-separator;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  margin-bottom: 1rem;
  @extend %box-shadow;
}

.navItem {
  &:hover > a > .navItemLabel, &:hover .subNavItemLabel {
    @include underline;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &Label {
    @extend %text-regular;
    display: block;
    padding: 0.8rem 1rem;
    color: utilities.$color-on-background;
  }

  &:not(:last-child) {
    color: utilities.$color-on-background;
  }
}

.navItem, .subNavItem {
  position: relative;
  @extend %text-regular;
}

.subNavItem {
  color: utilities.$color-on-surface;

  &:hover {
    & > a > .navItemLabel {
      @include underline;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid utilities.$color-separator;
  }

  &:last-child a {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &Button {
    font-size: inherit;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    color: inherit;
    width: 100%;

    svg {
      vertical-align: text-top;
    }
  }

  &Label {
    margin-right: 0.2rem;
    display: inline-block;
  }

  &Icon {
    transition: transform 0.2s;

    &Expanded {
      transform: rotate(-180deg);
      transition: transform 0.2s;
    }
  }
}

.navItemLabel[aria-current=true], .subNavItemLabel[aria-current=true], .embeddedNavItem[aria-current=true] {
  @include underline;
  @extend %bold;
}

.headerModalNavigationList {
  a {
    text-decoration: none;
  }

  & > .navItem:last-child {
    color: utilities.$color-on-secondary;
    background-color: utilities.$color-secondary;

    &:hover {
      background-color: color.adjust(utilities.$color-secondary, utilities.$alpha:-0.15);
    }

    & .subNavItemList {
      color: utilities.$color-on-surface;
    }
  }

  .navItem {
    border-top: 1px solid utilities.$color-separator;

    &:last-child {
      border-bottom: 1px solid utilities.$color-separator;
    }
  }

  .navItem > a, .subNavItemButton {
    justify-content: space-between;
  }

  .subNavItemList {
    position: static;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .subNavItem {
    border-top: 1px solid utilities.$color-separator;

    &:not(:last-child) {
      border-bottom: 0;
    }

    & > a {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .navItemLabel {
      padding-left: 2.5rem;
    }
  }

  .embeddedNavItem {
    @extend .subNavItem;

    &Button {
      > span {
        @extend %text-regular;
      }

      @extend .navItemLabel;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .subNavItemButton.embedded {
    flex-direction: row-reverse;

    > span {
      flex-grow: 2;
      text-align: left;
      padding-left: .3rem;
    }

    > .subNavItemIconExpanded {
      transform: rotate(90deg);
    }
  }
}
