@use "sass:color";
@use "@styles/utilities-deprecated";

@mixin underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.navItem {
  position: relative;
  @extend %text-regular;

  color: utilities-deprecated.$color-on-secondary;
  background-color: utilities-deprecated.$color-secondary;


  &Button {
    font-size: inherit;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    color: inherit;
    width: 100%;
    outline-offset: 4px;

    .icon {
      transition: all 200ms ease-in-out;
    }

    .icon.expanded {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: color.adjust(utilities-deprecated.$color-secondary, utilities-deprecated.$alpha: -0.15);
  }

  &:hover {
    .navItemLabel {
      @include underline;
    }
  }

  .navWrapper {
    @extend %box-shadow;
    background: utilities-deprecated.$color-background;
    color: utilities-deprecated.$color-on-background;
    position: absolute;
    z-index: 12;
    box-sizing: border-box;
    top: 100%;
    right: 0;
    width: 100vw;
    overflow-y: hidden;

    height: 0;

    &.expanded {
      height: var(--contentHeight, 25rem);
      border-top: 1px solid utilities-deprecated.$color-separator;
      overflow: scroll;
    }

    transition: height 200ms ease-in-out;

    > .navDetail {
      visibility: hidden;
    }

    &.expanded > .navDetail {
      visibility: visible;
    }
  }

  .navDetail {

    a:hover {
      @include underline;
    }

    @extend %max-container;
    --gutter: 2.5rem;
    padding: var(--gutter) 1rem;

    > .navSection {
      display: flex;
      justify-content: space-between;

      > .navSectionHeader {
        padding-right: calc(var(--gutter) + .5rem);

        > * {
          display: block;
        }

        strong {
          @extend %text-large;
          margin-bottom: .5em;
        }

        em {
          font-style: normal;

        }
      }

      > .navSectionItems {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        > li {
          padding: 0 var(--gutter);
          border-left: 1px solid utilities-deprecated.$color-primary;

          &:first-child {
            border: none;
          }
        }

        > .navLeaf {
          color: utilities-deprecated.$color-primary;
          font-weight: bold;
        }
      }
    }
  }

  .navSectionItems > .navSection {
    > .navSectionItems {
      padding-left: 1rem;

      > li {
        margin-top: 1rem;
      }
    }

    > .navSectionHeader {
      color: utilities-deprecated.$color-primary;

      &:after {
        content: ' :'
      }
    }
  }
}

.employeursLien {
  cursor: pointer;
}

.navItemLabel[aria-current=true], .employeursLien[aria-current=true] {
  @include underline;
  @extend %bold;
}

@include utilities-deprecated.media(xlarge) {
  .navItem .navWrapper {
    right: calc((100vw - utilities-deprecated.$breakpoint-xl) / -2);
    width: 100vw;
  }
}
