@use "sass:color";
@use "@styles/utilities";
@use "@styles/components/form/variables";
@use "@styles/theme/variables" as theme-variables;

$color-border-filters: lighten(utilities.$color-primary, 15%);
$border-width: 1px;

.rechercheOffreForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: variables.$form-submit-button-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-gap: variables.$form-horizontal-gap;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  & .filtres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      flex-direction: row;

      .localisation, .metier, .domaine {
        min-width: 28ch;
        flex: 1
      }
    }
  }

  & .buttonRechercher {
    position: relative;
    display: flex;
    justify-content: center;

    @include utilities.media(small) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-top: $border-width solid theme-variables.$color-background-border;
        top: 50%;
        height: 1px;
        width: calc(50% - 130px);
      }
  
      &::before {
        left: 0;
      }
  
      &::after {
        right: 0;
      }
    }

    @include utilities.media(medium) {
      margin-top: utilities.pixel-to-rem(28);
    }

    > button {
      width: 100%;

      @include utilities.media(small) {
        width: auto;
      }
    }
  }
}




