@use "sass:color";
@use "@styles/utilities";
@use "@styles/components/form/variables";
@use "@styles/theme/variables" as theme-variables;

.rechercheOffreForm {
  @include utilities.media(medium) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  & .filtres {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: variables.$form-submit-button-vertical-gap-mobile;
  
    @include utilities.media(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: variables.$form-horizontal-gap;

      .domaine {
        grid-area: 2 / 1 / 3 / 3;
      }
    }

    @include utilities.media(large) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      .domaine {
        grid-area: auto;
      }
    }
  }

  & .buttonRechercher {
    @extend %buttonRechercher;
  }
}




