@use "@styles/utilities-deprecated";
@use "@styles/utilities";
@use "@styles/components/form/variables";


// NOTE (GAFI 07-07-2023): Beaucoup du style post-UIKit est disponible sans beaucoup de modification dans le composant
//  Combobox, idéalement à mettre en commun


.textInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &Label {
    @extend %label-champ;
    margin-bottom: 0.5rem;
  }

  &Field {
    @include utilities.text-interactive-medium;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    border: solid 1px utilities-deprecated.$neutral-grey;
    font-family: inherit;

    &:disabled {
      background-color: utilities-deprecated.$white-lilac;
    }

    &:active, &:focus {
      border-color: utilities-deprecated.$color-primary;
    }

    &::placeholder {
      color: utilities-deprecated.$deep-neutral-grey;
      opacity: 1;
    }

    &Touched[aria-invalid=true],
    &Touched:invalid {
      border: solid 2px utilities-deprecated.$color-error;
    }
  }

  &Hint {
    padding-top: 0.25rem;
    color: utilities-deprecated.$color-primary;
    @include utilities.text-small;
    line-height: 1rem;

    &Error {
      color: utilities-deprecated.$color-error;
    }
  }
}
