@import "@styles/utilities";

.textInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 2rem;

  &Label {
    margin-bottom: 0.5rem;
    &Hint {
      @extend %text-small;
      color: $color-error;
    }
  }

  &Field {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 16px;
    border-radius: 1.25rem;
    border: solid 1px $color-on-surface;
    background-color: $color-form-field;
    font-family: inherit;

    &:active, &:focus {
      border-color: $color-primary;
    }

    &Touched[aria-invalid=true],
    &Touched:invalid {
      border: solid 2px $color-error;
    }
  }

  &Hint {
    height: 2rem;
    position: absolute;
    bottom: 0rem;
    @extend %text-small;
    line-height: 1.2;


    &Error {
      color: $color-error;
    }
  }
}
