@import "@styles/utilities";

.textInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 2rem;

  &Label {
    margin-bottom: 0.5rem;
    &Hint {
      @extend %text-small;
      color: $color-error;
    }
  }

  &Field {
    @extend %text-small;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 16px;
    border-radius: 1.25rem;
    border: solid 1px $neutral-grey;
    font-family: inherit;

    &:disabled {
      background-color: $white-lilac;
    }

    &:active, &:focus {
      border-color: $color-primary;
    }

    &::placeholder {
      color: $deep-neutral-grey;
      opacity: 1;
    }

    &Touched[aria-invalid=true],
    &Touched:invalid {
      border: solid 2px $color-error;
    }
  }

  &Hint {
    padding-top: 0.25rem;
    color: $color-primary;
    @extend %text-small;
    line-height: 1rem;

    &Error {
      color: $color-error;
    }
  }
}
