@use "@styles/utilities";

.Card {
  position: relative;

  a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &ImageWrapper {
    max-width: 22.5rem;
    height: 180px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &Contenu {
    padding: 0.75rem 1rem 0 0.75rem ;
    &EnTete {
      display: flex;
      justify-content: space-between;
      &Type {
        text-transform: uppercase;
        @include utilities.text-small;
      }
      &Date {
        @include utilities.text-small;
        text-transform: uppercase;
      }
    }
    & div {
      margin-bottom: 0.25rem;
    }

    & h3 {
      font-size: 1rem;
      min-height: 3.125rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &Description {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto auto;
    column-gap: 2rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    @include utilities.text-medium;
    dd {
      > sup {
        font-size: 0.75rem;
      }
    }
    dt {
      align-self: end;
    }
    dt::after {
      content: "\00a0: ";
    }
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem 1rem 0.75rem;
    gap: .5rem;
    @include utilities.text-small;

    .localisation {
      $lineHeight: 1.5;
      line-height: $lineHeight;
      white-space: unset;
      span {
        @include utilities.line-clamp(1, $lineHeight);
      }
    }

    &CallToAction {
      color: utilities.$color-primary;
      > span {
        white-space: nowrap;
      }

      &:hover {
        > span {
          text-decoration: underline;
        }
      }
    }
  }
}

@include utilities.media(medium) {
  .Card {
    &Contenu {
      & h3 {
        font-size: 1.125rem;
      }
    }
  }
}
