@use "@styles/utilities";

.cardTextContent {
  padding-right: 1rem;
  padding-left: 1rem;
}

.Card {
  position: relative;
  grid-template-areas:
      "imagesDuLogement"
      "typeLogementEtDateDeLAnnonce"
      "titreDeLAnnonce"
      "autresInfosDeLAnnonce";

  a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  & h3 {
    grid-area: titreDeLAnnonce;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1.5rem;
    min-height: 3.125rem;
  }

  &ImageWrapper {
    grid-area: imagesDuLogement;
    max-width: 22.5rem;
    height: 180px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &EnTete {
    grid-area: typeLogementEtDateDeLAnnonce;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    &Type {
      text-transform: uppercase;
      @include utilities.text-small;
    }

    &Date {
      @include utilities.text-small;
      text-transform: uppercase;
    }
  }

  &Contenu {
    grid-area: autresInfosDeLAnnonce;
  }

  &Description {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto auto;
    column-gap: 2rem;
    @include utilities.text-medium;
    margin-bottom: 1.5rem;


    dd {
      > sup {
        font-size: 0.75rem;
      }
    }
    dt {
      align-self: end;
    }
    dt::after {
      content: "\00a0: ";
    }
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 1rem;
    @include utilities.text-small;

    .localisation {
      $lineHeight: 1.5;
      line-height: $lineHeight;
      white-space: unset;
      span {
        @include utilities.line-clamp(1, $lineHeight);
      }
    }

    &CallToAction {
      color: utilities.$color-primary;
      > span {
        white-space: nowrap;
      }

      &:hover {
        > span {
          text-decoration: underline;
        }
      }
    }
  }
}

@include utilities.media(medium) {
  .Card {
    &Contenu {
      & h3 {
        font-size: 1.125rem;
      }
    }
  }
}
