@use "@styles/utilities";

.Card {
  &ImageWrapper {
    width: 360px;
    height: 180px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
      height: 180px;
      width: 360px;
    }
  }

  &Contenu {
    padding: 0.75rem 1rem 0 0.75rem ;
    &EnTete {
      display: flex;
      justify-content: space-between;
      &Type {
        text-transform: uppercase;
        @extend %text-small;
      }
      &Date {
        @extend %text-small;
        text-transform: uppercase;
      }
    }
    & div {
      margin-bottom: 0.25rem;
    }

    & h3 {
      font-size: 1rem;
      min-height: 3.125rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &Description {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto auto;
    column-gap: 2rem;
    padding: 1.5rem 0;
    @extend %text-medium;
    dd {
      > sup {
        font-size: 0.75rem;
      }
    }
    dt {
      align-self: end;
    }
    dt::after {
      content: "\00a0: ";
    }
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem 1rem 0.75rem;
    @extend %text-small;

    .localisation {
      $lineHeight: 1.5;
      line-height: $lineHeight;
      span {
        @include utilities.line-clamp(1, $lineHeight);
      }
    }

    &CallToAction {
      color: utilities.$color-primary;
      :hover {
        text-decoration: underline;
      }
      > span {
        white-space: nowrap;
      }
    }
  }
}

@include utilities.media(medium) {
  .Card {
    &Contenu {
      & h3 {
        font-size: 1.125rem;
      }
    }
  }
}