@import "@styles/utilities";

.consulterArticle {
    max-width: 78rem;
    padding: 2rem 1.5rem;
    margin: auto;
    & [href] {
        box-shadow: 0 1px 0 0;
    }
    & a {
        text-decoration: none;
    }

    > button {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.consulterArticle img {
    display: block;
    margin: 1rem auto 2rem auto;
    max-width: 100%;
}

.titre {
    @extend %bold, %headline;
    color: $color-on-background;
    padding-bottom: 1rem;
}

.contenu {
    h2, h3, h4, h5, h6 {
        @extend %bold;
    }

    h2 {
        margin-block: 1.5rem;
        @extend %text-xLarge;
    }

    h3 {
        margin-block: 1rem;
        @extend %text-large;
    }

    h4, h5, h6 {
        margin-block: 0.5rem;
        @extend %text-medium;
    }

    p {
        margin-block: 1.5rem;
    }

    ul li, ol li {
        margin-block: 0.2rem;
    }

    ul, ol {
        list-style: initial;
        margin-left: 1.3rem;
    }

    ol {
        list-style: decimal;
        margin-left: 1.5rem;
    }

    a:hover {
        color: $color-secondary;
    }
}

@include media(large) {
    .titre {
        padding-inline: 6rem;
    }
    .contenu {
        padding: 0 6rem 2rem 6rem;
    }
}
