@import "@styles/utilities";

.rappel {
  padding: 3rem 0;
  &Container {
    display: grid;
    gap: 1rem;
    padding: 0 1.5rem;
    place-items: center;
    button {
      @extend %background-primary;
      padding: 0.75rem 1.875rem;
      font-size: 15px;
    }

    h2 {
      color: $color-primary;
      text-align: center;
      font-size: 1.5rem;
      }
  }

  &Modal {
    > div {
      max-width: 100%;
    }
  }

  &Title {
    margin: 0 2rem;
    text-align: center;
    @extend %bold;
    font-size: 23px;
    color: $color-on-background;
    line-height: 2rem;
  }

  &Content {
    padding: 0 2rem;
    small {
      display:block;
      @extend %bold;
      font-size: 18px;
      margin-top: 1rem;
      color: $color-primary;
      text-align: center;
    }
    form {
      margin-top: 1rem;
    }
    &Success {
      display: flex;
      min-height: 60vh;
      > div {
        margin: auto;
      }

    }
  }
}

.btnSuccess {
    text-align: center;
    font-size: larger;
}

@include media(large) {

  .rappel {
    &Modal {
      div {
        border-radius: 20px;
      }
    }
  }
}
