@import "@styles/utilities";

.rappel {
  @extend %background-tertiary;
  padding: 3rem 0;

  &Container {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;

    button {
      @extend %background-primary;
      padding: 0.75rem 1.875rem;
      font-size: 15px;
    }

    h2 {
      color: $color-primary;
      max-width: 51.875rem;
      text-align: center;
      }
  }

  &Modal {

    div {
      border-radius: 20px;
      max-width: 100%;

    }
  }

  &Title {
    margin: 1rem;
    text-align: center;

    @extend %bold;
    font-size: 23px;
    margin: 0;
    padding: 0;
    color: $color-on-background;
    line-height: 2rem;

    small {
      display:block;
      @extend %bold;
      font-size: 18px;
      margin-top: 1rem;
      color: $color-primary;
    }
  }
}

@include media(large){

  .rappel {
    &Modal {
      div {
        border-radius: 20px;
        max-width: 100%;
        max-height: 100vh!important;
      }
    }
  }
}
