@use "@styles/utilities";

$icon-color: utilities.$color-primary;

.container {
  padding: 0 1rem;
  margin-top: 2rem;

  @include utilities.media(xlarge) {
    padding: 0;
  }
}

.partnerInfo {
  margin-top: 1rem;
  margin-bottom: 1rem;

  & .icon {
    color: $icon-color;
    vertical-align: bottom;
    margin-right: 0.5rem;
  }
}
