@import "@styles/utilities";

$content-area: 1.35;

.primaryButton, .secondaryButton, .backButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  line-height: $content-area * 1rem;

  & > svg {
    height: $content-area * 1rem;
    width: $content-area * 1rem;
    margin-inline: -.3rem;
  }
}

.primaryButton {
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-on-primary;

  &:hover {
    background-color: $color-primary-on-hover;
    border-color: $color-primary-on-hover;
  }
}

.secondaryButton, .backButton {
  border: 1px solid $color-primary;
  background-color: $color-on-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-background-white-titan;
    border-color: $color-primary-on-hover;
    color: $color-primary-on-hover;
  }
}
