@use "@styles/utilities-deprecated";
// TODO (BRUJ 12/02/2024): enlever deprecated

.primary, .secondary, .tertiary {
  @extend %button;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 50px;
  text-decoration: none;
  outline-offset: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;

  & svg {
    vertical-align: middle;
  }
}


.primary {
  border: 1px solid utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-on-primary;

  &:hover {
    background-color: utilities-deprecated.$color-primary-on-hover;
    border-color: utilities-deprecated.$color-primary-on-hover;
  }
}

.secondary {
  border: 1px solid utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$white;

  &:hover {
    background-color: utilities-deprecated.$color-background-white-titan;
    border-color: utilities-deprecated.$color-primary;
    color: utilities-deprecated.$color-primary;
  }
}

.tertiary {
  border: 1px solid utilities-deprecated.$color-primary;
  color: utilities-deprecated.$color-primary;
  background-color: utilities-deprecated.$color-background-white-titan;

  &:hover {
    background-color: utilities-deprecated.$color-tertiary-on-hover;
    border-color: utilities-deprecated.$color-tertiary-on-hover;
    color: utilities-deprecated.$white;
  }
}

.quaternary {
  display: flex;
  color: utilities-deprecated.$color-primary;
  text-decoration: none;
  border-radius: 0;
  padding: 0;
  gap: .5rem;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.linkWithRightIcon, .linkWithLeftIcon, .linkWithTopIcon {
  display: grid;
  width: fit-content;
  gap: 0;
  grid-template-columns: auto auto;

  & .icon {
    display: inline-flex;
  }
}

.linkWithLeftIcon {
  gap: 0.5rem;

  & .icon {
    grid-area: 1;
  }
}

.linkWithRightIcon {
  gap: 0.5rem;
}

.linkWithTopIcon {
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  & .icon {
    grid-area: 1;
    display: block;
  }
}
