@use "@styles/utilities";

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    color: utilities.$color-on-surface;

    a {
      display: inline-flex;
      justify-content: center;
      vertical-align: middle;

      &[aria-current=true] {
        outline-offset: 4px;
      }
    }
  }

  li:first-child > a {
    padding: 0;
    vertical-align: bottom;
  }

  li:last-child > a {
    padding: 0;
    vertical-align: bottom;
  }

  li > a {
    padding: 0.5rem 1rem;

    &[aria-disabled="true"] {
      color: utilities.$color-on-disabled;
      pointer-events: none;
    }

    &[aria-current="true"] {
      background-color: utilities.$color-primary;
      color: utilities.$color-on-primary;
    }
  }

}
