@import "@styles/_utilities";

.pagination {
  text-align: center;

  & > li {
    display: inline-block;
    text-decoration: none;

    & > a {
      text-decoration: none;
      box-shadow: none;
      min-width: 32px;
      display: inline-block;
      line-height: 32px;

      & > * > svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  & > li > a {
    &[aria-disabled="true"] {
      color: #929292;
      pointer-events: none;
    }

    &[aria-current="true"] {
      background-color: $color-primary;
      color: $color-on-primary;
    }
  }

}

.page {
  &Suivante {
    margin-left: 28px;

    & > span > svg {
      width: 16px;
      height: 16px;
    }
  }

  &Precendente {
    margin-right: 28px;
    display: flex;
    align-items: center;

    & > span > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.ellipse {
  width: 32px;
}
