@use "@styles/utilities";

$pagination-current-page-color: utilities.$color-text-primary-inverse;
$pagination-current-page-background-color: utilities.$color-background-secondary;
$pagination-disabled-page-color: utilities.$color-text-placeholder;
$pagination-available-page-color: utilities.$color-text-primary;

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    color: $pagination-available-page-color;

    a {
      display: inline-flex;
      justify-content: center;
      vertical-align: middle;

      &[aria-current=true] {
        outline-offset: 4px;
      }
    }
  }

  li:first-child > a {
    padding: 0;
    vertical-align: bottom;
  }

  li:last-child > a {
    padding: 0;
    vertical-align: bottom;
  }

  li > a {
    padding: .5rem .75rem;
    @include utilities.media(small) {
        padding: .5rem 1rem;
    }


    &[aria-disabled="true"] {
      color: $pagination-disabled-page-color;
      pointer-events: none;
    }

    &[aria-current="true"] {
      background-color: $pagination-current-page-background-color;
      color: $pagination-current-page-color;
    }
  }
}
