@use "@styles/utilities";

.entete {
  margin: 1.5rem 0;
  text-align: center;
}

.entete h1 {
  @extend %bold;
  @include utilities.title-small;
  margin: 0 0 0.5rem;
}

.entete .tags {
  margin-top: 1.5rem;
  justify-content: center;
}

.sousTitre {
  @include utilities.text-large;
}

.competenceLangage, .competenceLangageSpecification, .langueDeTravailDescription {
  &:first-letter {
    text-transform: uppercase;
  }
}

.competenceLangage {
  margin-top: 0.5rem;
}

.competenceLangageSpecification {
  margin-left: 1rem;
}

.contenu {
  @include utilities.text-medium;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  white-space: pre-line;

  & .caracteristique {
    margin-bottom: 1rem;
  }

  dt {
    @extend %bold;
    margin-bottom: 0.5rem;

    &::after {
      content: " : ";
    }
  }

  dd {
    ul {
      padding-left: 1rem;
      list-style: unset;
      white-space: initial;
    }
  }

}
