@use "@styles/utilities";
@use "@styles/components/form/variables";
// FIXME (DORO - 2023-10-02): Duplication de FormulaireRechercheAlternance.module.scss et FormulaireRechercheOffreEmploi.module.scss

.filtresRechercherOffre {
  display: grid;
  grid-gap: variables.$form-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);

    & .localisation {
      grid-column: span 3;
    }

    & .metier {
      grid-column: span 3;
    }

    & .typeContrat, & .tempsTravail, & .niveauEtudes {
      grid-row: 2;
      grid-column: span 2;
    }

    & .domaines {
      grid-row: 3;
      grid-column: 1 / -1;
    }
  }

  .filtreDesktopOnly {
    display: none;

    @include utilities.media(medium) {
      display: unset;
    }
  }

  .buttonMoreFilterMobileOnly {
    text-align: left;
    @include utilities.media(medium) {
      display: none;
    }
  }
}

.buttonRechercher {
  @extend %buttonRechercher;
}
