@use "@styles/utilities";
@use "@styles/components/form/variables";
// FIXME (DORO - 2023-10-02): Duplication de FormulaireRechercheAlternance.module.scss et FormulaireRechercheOffreEmploi.module.scss

.rechercheOffreForm {
  display: flex;
  flex-direction: column;
  gap: variables.$form-submit-button-vertical-gap-mobile;
}

.filtresRechercherOffre {
  flex-grow: 1;
}

.buttonRechercher > button {
  width: 100%;
}

@include utilities.media(medium) {
  .rechercheOffreForm {
    flex-direction: row;
    align-items: flex-start;
    gap: variables.$form-horizontal-gap;
  }

  .buttonRechercher {
    margin-top: utilities.pixel-to-rem(28);
  }

  .inputButtonWrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 0;
  }

  .inputButtonWrapper > div {
    flex-grow: 1;
  }
}
