@use "@styles/utilities";

.objectifsContainer {
  padding: 2rem 1rem;

  ul {
    margin-top: 1rem;
  }

  li {
    list-style: disc inside;
  }

  @include utilities.media(large) {
    padding: 4rem 0;
  }
}

