.title {
  height: 228px;
  background-color: var(--blue-france-113);
  display: flex;
  padding: 0.625rem;
}

.title h1 {
  margin: auto;
  color: var(--grey-1000);
  text-align: center;
}

.filtresDesktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .filtresMobile {
    display: none;
  }
  .filtresDesktop {
    display: block;
  }
}

.nombreRésultats {
  margin-top: 24px;
  padding: 16px;
}

.rechercheOffreEmploi {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid var(--grey-950);
}

.rechercheOffreEmploi > div:not(:last-child) {
  margin-bottom: 28px;
}

.résultatRechercheOffreEmploiList {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  list-style: none;
}

.résultatRechercheOffreEmploiList > li {
  margin-top: 24px;
}
