.nombreRésultats {
  margin-top: 24px;
  padding: 16px;
}

.rechercheOffreEmploi {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid var(--grey-950);
}

.rechercheOffreEmploi > div:not(:last-child) {
  margin-bottom: 28px;
}

.résultatRechercheOffreEmploiList {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  list-style: none;
}

.résultatRechercheOffreEmploiList > li {
  margin-top: 24px;
}
