html,
body {
  padding: 0;
  margin: 0;
  font-family: "Marianne", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 !important;
}

.align-right {
  text-align: right;
}
