a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: initial;
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .fr-pagination__link--first,
  .fr-pagination__link--prev {
    margin-right: 0.25rem !important;
  }

  .fr-pagination__link--next,
  .fr-pagination__link--last {
    margin-left: 0.25rem !important;
  }
}
