// Core
@import "reset/styles";

// Base
@import "theme/styles";
@import "typography/styles";

[contenteditable]:not([contenteditable="false"]), [tabindex], a, audio[controls], button,
details, details > summary:first-of-type, input, input[type="checkbox"] + label::before,
input[type="radio"] + label::before, select, textarea, video[controls] {
  outline-color: $color-primary;
  outline-offset: 0;
  outline-width: 2px;
}

.sr-only {
  position: absolute !important;
  top: 0;
  left: -999px;
  width: 1px !important;
  height: 1px !important;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  overflow: overlay;
}
