// Core
@use "reset/styles";

// Base
@use "theme/styles" as theme-styles;
@use "typography/styles" as typography-styles;
@use "utilities-deprecated";

[contenteditable]:not([contenteditable="false"]),
[tabindex="0"],
a,
audio[controls],
button,
details > summary:first-of-type,
input,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before,
select,
textarea,
video[controls] {
  @extend %outlined;
}

.sr-only {
  position: absolute !important;
  top: 0;
  left: -999px;
  width: 1px !important;
  height: 1px !important;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  overflow: overlay;
}

a {
  color: inherit;
}

button {
  background-color: initial;
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

input {
  font-family: inherit;
  line-height: 1.5rem;
  @extend %text-small;
}
