@use "@styles/utilities";

.header {
  background-color: utilities.$color-on-primary;
  color: utilities.$color-blue-navy;
  padding: 2rem 0;
  display: flex;

  .titre {
    text-decoration-line: underline;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .logo {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0 0.5rem 0 1.5rem;
  }
}

.content {
  padding-left: 32px;
  padding-right: 32px;
}

.boutonRetour {
  margin: 1rem 0;
}



.formulaire {
  .bodyFormulaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .label {
    @extend %bold;
    margin-top: 1.5rem;
  }

  .validationEtape1, .validationEtape2 {
    margin-top: 1.5rem;

    p {
      width: 100%;
      font-size: 0.7rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  > button[type=submit] {
    margin-top: 20px;
  }

}

.mandatoryFields {
  @extend %text-medium;
  margin-top: 20px;
}

.etape {
  background-color: utilities.$color-primary;
  color: white;
  max-width: 8rem;
  text-align: center;
  padding: 4px;
}

.footer {
  @extend %text-small;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;

  > span {
    color: utilities.$color-primary;
    cursor: pointer;
  }
}

.success {
  color: utilities.$color-primary;
  @extend %bold;
  @extend %text-xLarge;
  padding: 40px;
}

@include utilities.media(large) {

  .header {
    padding: 4rem 16rem;
    flex-direction: row;
    gap: 2.5rem;

    .titre {
      font-size: 20px;
      padding: 1rem 3rem 0 0;
      margin-top: 0;
      margin-bottom: 4rem;
    }

    .logo {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .content {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
  }

  .etape {
    margin-left: 8rem;
  }

  .mandatoryFields {
    margin-left: 8rem;
  }

  .boutonRetour {
    margin: 1rem 0 0 8rem;
  }

  .formulaire {
    border-radius: 40px;
    padding: 2rem 8rem 1rem;

    .validationEtape1 {
      display: flex;
      flex-direction: column;
      place-items: center;
      margin-top: 4rem;
      text-align: left;

      > button {
        width: 50%;
      }

      p {
        width: 50%;
        font-size: 0.7rem;
      }
    }

    .validationEtape2 {
      display: flex;
      flex-direction: column;
      place-items: center;
      margin-top: 4rem;
      text-align: left;

      > button {
        width: 50%;
      }

      p {
        width: 50%;
        font-size: 0.7rem;
      }
    }
  }

  .footer {
    width: 40%;
    place-items: center;
    margin: auto;
  }

  .success {
    width: 50%;
    margin: auto;
  }
}

@include utilities.media(xlarge) {
  .formulaire {
    padding: 2rem 8rem 1rem;

    .bodyFormulaire {
      flex-direction: row;
      justify-content: space-between;

      > div {
        width: 48%;
      }
    }
  }
}

.contactLink {
  color: utilities.$black;
}
