@import "@styles/utilities";

.header {
  background-color: $color-blue-navy;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  > span {
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}

.content {
  padding-left: 32px;
  padding-right: 32px;
}

.formulaire {

  .bodyFormulaire > * > label {
    @extend %bold;
    margin-top: 24px;
  }

  .buttonFormulaire {
    margin-top: 24px;
  }

  > button[type=submit] {
    margin-top: 20px;
  }
}

.mandatoryFields {
  @extend %text-medium;
  margin-top: 20px;
}

.etape {
  background-color: $color-primary;
  color: white;
  max-width: 8rem;
  text-align: center;
  padding: 4px;
}

.footer {
  @extend %text-small;
  margin-top: 20px;
  margin-bottom: 20px;

  > a {
    color: $color-primary;
  }
}

.success {
  color: $color-primary;
  @extend %bold;
  @extend %text-xLarge;
  padding: 40px;
}

@include media(large) {

  .content {
    background-color: $color-background;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
  }

  .etape {
    margin-left: 8rem;
  }

  .mandatoryFields {
    margin-left: 8rem;
  }

  .formulaire {
    background-color: white;
    border-radius: 40px;
    padding: 0 8rem 1rem;
    margin-top: 1.5rem;

    .bodyFormulaire {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 48%;
      }
    }

    .buttonFormulaire {
      text-align: center;

      > button {
        width: 30%;
      }
    }
  }

  .success {
    width: 50%;
    margin: auto;
  }
}
