@import "@styles/utilities";

.header {
  background-color: $color-blue-navy;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  > span {
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}

.formulaire {
  margin: 0 32px;

  .partieFormulaire > * > label {
    @extend %bold;
    margin-top: 24px;
  }

  .buttons {
    margin-top: 24px;
  }

  > button[type=submit] {
    margin-top: 20px;
  }
}

.mandatoryFields {
  @extend %text-medium;
  margin: 20px 32px 32px;
}

.etape {
  background-color: $color-primary;
  color: white;
  max-width: 8rem;
  text-align: center;
  padding: 4px;
  margin-left: 32px;
}

.footer {
  @extend %text-small;
  margin: 16px 32px 32px;

  > a {
    color: $color-primary;
  }
}

.success {
  color: $color-primary;
  @extend %bold;
  @extend %text-xLarge;
  padding: 40px;
}

@include media(large) {

  .formulaire {
    width: 80%;
    margin: auto;

    .partieFormulaire {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 48%;
      }
    }

    .buttons {
      text-align: center;

      > button {
        width: 30%;
      }
    }
  }

  .success {
    width: 50%;
    margin: auto;
  }
}
