@use "@styles/media/mixins";

%button {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 0.875rem;

  svg {
    height: 0.875rem;
    width: 0.875rem;
  }

  @include mixins.media(large) {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1rem;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }
}