@import "@styles/utilities";

.wrapper {
  position: relative;
}

.suggestionList {
  z-index: 2;
  position: absolute;
  border: 1px solid var(--grey-925);
  background-color: var(--grey-1000);
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.suggestionList > li {
  padding-left: 0.5rem;
  cursor: pointer;
}

.suggestionList > li:hover, .hover, .suggestionList > li[aria-selected=true] {
  background-color: rgba(3, 15, 143, .05);
}

.catégorieRésultat {
  pointer-events: none;
  user-select: none;
}

.aucunRésultat {
  padding: 0.5rem;
}

.formControl {
  &Input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0 16px;
    border-radius: 1.25rem;
    border: solid 1px $color-on-surface;
    background-color: $color-form-field;
    margin-top: 0.5rem !important;

    &:active, &:focus {
      border-color: $color-primary;
    }

    &Error {
      border: solid 2px $color-error;
    }
  }
}

.instructionMessage {
  font-size: 0.75rem;
  line-height: 1rem;
  gap: 0.5rem;
  display: inline-flex;
  align-items: center;

  &Error{
    font-size: 0.75rem;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
    color: $color-error;
  }

  & > svg {
    flex-basis: 2em;
  }

  @include media(large) {
    white-space: nowrap;
  }
}
