.wrapper {
  position: relative;
}

.suggestionList {
  z-index: 2;
  position: absolute;
  border: 1px solid var(--grey-925);
  background-color: var(--grey-1000);
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.suggestionList > li {
  padding-left: 0.5rem;
  cursor: pointer;
}

.suggestionList > li:hover, .hover, .suggestionList > li[aria-selected=true] {
  background-color: rgba(3, 15, 143, .05);
}

.libelleInput {
  margin-top: 0.5rem !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.catégorieRésultat {
  pointer-events: none;
  user-select: none;
}

.aucunRésultat {
  padding: 0.5rem;
}