@import "@styles/utilities";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: .625rem;

  &[disabled] {
    background-color: $color-disabled;
    color: $color-on-disabled;
  }

  &Primary {
    @extend %background-primary;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 2.5rem;
    &:hover {
      background-color: $color-primary-on-hover;
    }

    &OnDarkBackground {
      border: 2px solid;
      border-radius: 20px;
      padding: 0 1.5rem;
      height: 2.5rem;
      @extend %background-surface;
    }
  }

  &Link {
    color: $color-primary;
  }
  &IconOnTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}