@import "@styles/utilities";

.button {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: .625rem;

  &[disabled] {
    background-color: $color-disabled;
    color: $color-on-disabled;
  }

  &Primary {
    @extend %background-primary;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 2.5rem;

    &OnDarkBackground {
      border: 2px solid;
      border-radius: 20px;
      padding: 0 1.5rem;
      height: 2.5rem;
      @extend %background-surface;
    }
  }

  &Link {
    color: $color-primary;
  }
}

/* TODO remplacer le hover du bouton quand on aura viré la lib react dsfr */
.button:hover {}
