.button {
  background-color: #566BB1;
  border-radius: 20px;
  color: #FFF;
  padding: 0 1.5rem;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.buttonPrimary {
  border-radius: 20px;
  border: 2px solid;
  color: #161616;
  padding: 0 1.5rem;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #F5F5FE;
}

.unbutton {
  border-radius: 20px;
  color: #566BB1;
  display: inline-flex;
  align-items: center;
}

.buttonLabelAtRight {
  margin-right: 10px;
  font-size: 1rem;
  vertical-align: middle;
}

.buttonLabelAtLeft {
  margin-left: 10px;
  font-size: 1rem;
}

.buttonWithoutBorder {
  cursor: pointer;
  color: #566BB1;
  display: inline-flex;
  width: 100%;
  justify-content: left;
}
