@use "@styles/utilities";

.button {
  border-radius: 50px;
  outline-offset: 4px;

  &:disabled {
    border: 1px solid utilities.$color-on-disabled;
    background-color: utilities.$color-on-disabled;
    color: utilities.$color-disabled;
    cursor: not-allowed;
  }

  > svg {
    vertical-align: middle;
  }

  &.buttonWithRightIcon {
    & .buttonLabel {
      margin-right: 0.5rem;
    }
  }

  &.buttonWithLeftIcon {
    & .buttonLabel {
      margin-left: 0.5rem;
    }
  }

  &.buttonWithTopIcon {
    & .buttonLabel {
      margin-top: 0.5rem;
      display: block;
    }
  }
}

.buttonPrimary, .buttonSecondary, .buttonTertiary{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  @extend %button;
}


.buttonPrimary {
  border: 1px solid utilities.$color-primary;
  background-color: utilities.$color-primary;
  color: utilities.$color-on-primary;

  &:enabled:hover {
    background-color: utilities.$color-primary-on-hover;
    border-color: utilities.$color-primary-on-hover;
  }
}

.buttonSecondary {
  border: 1px solid utilities.$color-primary;
  color: utilities.$color-primary;
  background-color: utilities.$white;

  &:enabled:hover {
    background-color: utilities.$color-background-white-titan;
    border-color: utilities.$color-primary;
    color: utilities.$color-primary;
  }
}

.buttonTertiary {
  border: 1px solid utilities.$color-primary;
  color: utilities.$color-primary;
  background-color: utilities.$color-background-white-titan;

  &:enabled:hover {
    background-color: utilities.$color-tertiary-on-hover;
    border-color: utilities.$color-tertiary-on-hover;
    color: utilities.$white;
  }
}

.buttonQuaternary {
  color: utilities.$color-primary;
  border-radius: 0;
  font-size: 1rem;

  &:enabled:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
