@use "@styles/utilities";

$color-text-disabled-or-readonly: utilities.$color-text-secondary;
$color-text-label-complement: utilities.$color-text-secondary;

.label {
  display: block;
  width: fit-content;
  overflow-wrap: anywhere;
  @include utilities.text-medium;

  &:has(+input[readonly], +input[disabled]) {
    color: $color-text-disabled-or-readonly;
  }

  @include utilities.media(small) {
    @include utilities.text-large;
  }

  .complement {
    display: block;
    overflow: hidden;
    color: $color-text-label-complement;
    @include utilities.text-xsmall;
    line-height: 1.4;
  }
}
