@use "sass:color";
@use "@styles/utilities-deprecated";
@use "@styles/utilities";


@mixin underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

// NOTE (BRUJ 01/07/2024): breakpoint particulier pour le menu pour eviter le scroll horizontal sur des supports de taille moyenne
$breakpoint-menu: 67em;
$offset-sub-nav: 2.5rem;
$outline-offset-focus: -2px;
$outline-offset-focus-last-child: -4px;

.navigationDesktop {
  display: none;

  @media (min-width: $breakpoint-menu) {
    display: unset;
    border-top: 1px solid utilities.$color-background-disabled;
    padding-inline: 0;
  }

  & .navigationDesktopNavigation {
    display: flex;
    justify-content: space-between;
  }

  & .navigationDesktopList {
    display: flex;
  }
}

.navItem {
  position: relative;
  @extend %text-regular;

  &:hover > a.navItemLabel, &:hover > button > .subNavItemButtonLabel {
    @include underline;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    outline-offset: $outline-offset-focus;
  }

  & .navItemLabel {
    @extend %text-regular;
    text-decoration: none;
    display: flex;
    padding: 0.8rem 1rem;
    color: utilities.$color-text-primary;
    width: 100%;
    justify-content: flex-start;

    & .externalRedirectionIcon {
      width: 1em;
      height: 1em;
    }
  }

  &:not(:last-child) {
    color: utilities.$color-text-primary;
  }
}

.subNavItemList {
  color: utilities.$color-text-primary;
  z-index: 5;
  position: absolute;
  width: 100%;
  min-width: 12.5rem;
  background-color: utilities.$color-background-primary;
  border: 1px solid utilities.$color-background-disabled;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  margin-bottom: 1rem;
  @extend %box-shadow;

  & .subNavItem {
    color: utilities.$color-text-primary;
    position: relative;
    @extend %text-regular;

    &:hover > a.navItemLabel {
      @include underline;
    }

    > a.navItemLabel {
      outline-offset: $outline-offset-focus;
    }

    &:not(:last-child) {
      border-bottom: 1px solid utilities.$color-background-disabled;
    }
  }
}

.subNavItemButton {
  font-size: inherit;
  padding-block: 0.8rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  color: inherit;
  width: 100%;
  outline-offset: $outline-offset-focus;


  svg {
    vertical-align: text-top;
  }

  & .subNavItemButtonLabel {
    margin-right: 0.2rem;
    display: inline-block;
  }

  & .subNavItemButtonIcon {
    transition: transform 0.2s;

    &Expanded {
      transform: rotate(-180deg);
      transition: transform 0.2s;
    }
  }
}

.navItemLabel[aria-current=true], .subNavItemButtonLabel[aria-current=true] {
  @include underline;
  @extend %bold;
}

.modalNavigationList {
  & > .navItem:last-child {
    color: utilities.$color-text-primary-inverse;
    background-color: utilities.$color-title-primary-contrast;

    & > .subNavItemButton {
      outline-color: utilities.$color-cta-background-secondary;
      outline-offset: $outline-offset-focus-last-child;
    }

    &:hover {
      background-color: color.adjust(utilities.$color-title-primary-contrast, utilities.$alpha:-0.15);
    }

    & .subNavItemList {
      color: utilities.$color-text-primary;
    }
  }

  .navItem {
    border-top: 1px solid utilities.$color-background-disabled;

    &:last-child {
      border-bottom: 1px solid utilities.$color-background-disabled;
    }
  }

  .navItem > a, .subNavItemButton {
    justify-content: space-between;
  }

  .subNavItemList {
    position: relative;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;

    & .subNavItem {
      border-top: 1px solid utilities.$color-background-disabled;

      &:not(:last-child) {
        border-bottom: 0;
      }

      .navItemLabel {
        padding-left: $offset-sub-nav;
      }
    }

    .navItem {
      & .subNavItemButton {
        padding-left: $offset-sub-nav;
      }

      & .navItemLabel {
        padding-left: calc(2 * $offset-sub-nav);
      }
    }
  }
}
