@import "@styles/utilities";

.skeleton {
  cursor: progress;
}

.background {
  //background: gray;
  height: 24em;
  border-radius: 1.5em;
}

.header {
  //background: red;
  height: 7em;
  display: flex;
  flex-direction: row;
}

.companyName {
  //background: white;
  flex: 1;
  margin-left: 1.5em;
  margin-top: 1em;
}

.gradient {
  height: 2em;
  margin: .5em 0;
  padding: 0;
  border-radius: .25em;
  background-color: $color-skeleton;
  background-image: linear-gradient(90deg, $color-skeleton 30%, #C5C9D7 50%, $color-skeleton 70%);
  animation: shine 3s infinite linear backwards;
}

@keyframes shine {
  from { background-position: 0; }
  to { background-position: 315px; }
}

.image {
  height: 4.5em;
  width: 4.5em;
  border-radius: 3em;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.textBold {
  height: 2em;
  width: 14em;
  border-radius: 1em;
}

.text {
  height: 1em;
  width: 10em;
  border-radius: 1em;
}

.line {
  height: .1em;
}

.tags {
  height: 3em;
  margin-left: 1.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.tag {
  width: 5em;
  height: 1.5em;
  border-radius: 1em;
  margin-right: 1.5em;
}

.body {
  height: 7em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 1em;
}

.links {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.5em;
}

.link {
  width: 7em;
  height: 1em;
  border-radius: 1em;
}

.link2 {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-left: 1em;
}
