@use "sass:color";
@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-border-filters: lighten(utilities.$color-primary, 15%);

.RechercherLogementForm {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$form-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-template-columns: repeat(3, 1fr);
    gap: variables.$form-vertical-gap-desktop;
  }
}

.inputVille {
  grid-column: 1 / 3;
}

.filtresAvancésModalContenu {
  & details {
    border-top: 1px solid $color-border-filters;

    &:last-of-type {
      border-bottom: 1px solid $color-border-filters;
    }
  }
}
.applyFiltersButton button {
  width: 100%;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
