@use "@styles/utilities";

$color-message-champs-obligatoires: utilities.$color-primary;
$color-background-etape:  utilities.$color-background-secondary;
$color-text-etape:  utilities.$color-text-primary-inverse;


.header {
  background-color: utilities.$color-background-primary-alternative;
  padding: 2rem 0;


  @include utilities.media(medium) {
    padding: 4rem 0 4rem;
  }

  & .headerTextContainer {
    @extend %max-container;
    display: flex;
    flex-direction: column;
    gap: utilities.pixel-to-rem(12);
    padding: 0 1rem;
  }

  & .titre {
    @include utilities.title-medium;
    color: utilities.$color-primary;
    @extend %bold;

    @include utilities.media(medium) {
      @include utilities.title-large;
    }

    & em {
      font-weight: normal;
    }
  }

  & .sousTitre {
    @include utilities.text-large;
    color: utilities.$color-text-primary-alternative;
  }
}

.etape {
  background-color: $color-background-etape;
  color: $color-text-etape;
  text-align: center;
  padding: 8px;
  width: fit-content;
}

.formulaireContainer {
  padding: 0 1rem;

  & .boutonRetour {
    margin: 1.25rem 0 1.25rem 0;
  }

  .mentionChampsObligatoires {
    color: $color-message-champs-obligatoires;
    @include utilities.text-large;
    margin-block: 2rem;
  }

  form > .etape1, form.formulaireEtapeUnique {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;

    &hidden {
      display: none;
    }

    @include utilities.media(medium) {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }

    .boutonEtapeSuivante {
      grid-column: 1;
      margin: utilities.pixel-to-rem(16);

      @include utilities.media(medium) {
        grid-column: 1 / span 2;
        width: fit-content;
        justify-self: center;
        margin: 2rem;
      }
    }

    .boutonSoumission {
      grid-column: 1;
      margin-top: utilities.pixel-to-rem(4);

      @include utilities.media(medium) {
        grid-column: 1 / span 2;
        width: fit-content;
        justify-self: center;
        margin-top: 2rem;
      }
    }
  }
}

.decharge {
  background-color: utilities.$color-background-primary-alternative;
  border-radius: 1.25rem;
  margin: 1.5rem 1rem 1.5rem 1rem;

  max-width: 60.75rem;

  @include utilities.media(large) {
    margin: 1.5rem auto 1.5rem auto;
  }

  p {
    color: utilities.$color-text-placeholder;
    font-size: 0.875rem;
    padding: 1rem;
  }
}
