@import "@styles/utilities";

.rechercheAlternanceForm {
    @include media(medium){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
    &> *:not(:last-child) {
        flex: 1;
        margin-bottom: 1.5rem;
    }
}

.buttonRechercher {
    display: flex;

    @include media(medium){
        margin-top: 28px;
        display: block;
    }

    & > button {
        width: 100%;
    }
}
