@import "@styles/utilities";

.container {
    display: flex;
    flex-direction: column;
}

.layout {
    padding: 0 1rem;

    &Button {
        padding: 0 1rem;

        > button {
            margin-top: 1rem;
            padding: 0.4rem;
        }
    }
}

@media only screen and (min-width: 48em) {
    .layout {
        width: 100%;
        max-width: 78rem;
        border: 1px solid $color-separator;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 2rem auto 3.5rem auto;
        padding: 0 6rem 2rem 6rem;

        &Button {
            padding: 0;
            width: 100%;
            max-width: 78rem;
            margin: 2rem auto auto;
        }
    }
}
