@import "@styles/utilities";

.container {
    display: flex;
    flex-direction: column;
}

.layout {
    padding: 0 1rem;
}

@media only screen and (min-width: 48em) {
    .layout {
        width: 100%;
        max-width: 78rem;
        border: 1px solid $color-separator;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 2rem auto 3.5rem auto;
        padding: 0 6rem 2rem 6rem;
    }
}
