@use "@styles/utilities";

.container {
    display: flex;
    flex-direction: column;
}

.layout {
    section {
        padding: 0 1rem;
    }

    &Button {
        padding: 1.5rem 1rem;
        border-bottom: 1px solid utilities.$color-separator;
    }
}

@include utilities.media(medium) {
    .layout {
        border: 1px solid utilities.$color-separator;
        border-radius: 1.25rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 2rem auto 3.5rem auto;
        padding: 0 6rem 2rem 6rem;

        &Button {
            padding: 0;
            width: 100%;
            margin: 2rem auto auto;
            border: inherit;
            button {
                margin-left: 1rem;
            }
        }
    }
}
