@use "@styles/utilities";

$margin-tab-label: 1rem;
$backgroung-color-pannel: utilities.$color-background-primary-alternative;

.tab {
  &Label {
    &Container{
      display: flex;
      @extend %max-container;
      gap: calc($margin-tab-label/2)
    }

    &:last-child{
      margin-right: $margin-tab-label;
    }

    &:first-child{
      margin-left: $margin-tab-label;
    }

    padding: 0.5rem 1rem;
    @include utilities.text-large;
    border: 1px solid utilities.$color-primary;
    border-bottom: none;
    color: utilities.$color-primary;

    &[aria-selected="true"] {
      @extend %bold;
      padding: 5px 11px 8px 11px;
      background-color: $backgroung-color-pannel;
      border-top: 3px solid utilities.$color-primary;
    }
  }

  &Panel {
    &Container {
      background-color: $backgroung-color-pannel;
    }
    @extend %max-container;
    padding: 40px 1rem;
  }
}
