@use "@styles/utilities-deprecated";

.tab {
  &Label {
    &Container{
      display: flex;
      @extend %max-container;
    }

    margin: 0 0.25rem;
    padding: 7px 11px 8px 11px;
    @extend %text-medium;
    border: 1px solid utilities-deprecated.$color-primary;
    border-bottom: none;
    color: utilities-deprecated.$color-primary;

    &[aria-selected="true"] {
      @extend %bold;
      padding: 5px 11px 8px 11px;
      background-color: utilities-deprecated.$color-background-white-lilac;
      border-top: 3px solid utilities-deprecated.$color-primary;
    }
  }

  &Panel {
    &Container {
      background-color: utilities-deprecated.$color-background-white-lilac;
    }
    @extend %max-container;
    padding: 40px 0;
  }
}
