@import "@styles/utilities";

.animate {
  --rotate-y: 180deg;
}

.cardWrapper {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 700ms;
  transform: rotateY(var(--rotate-y, 0));
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05);
  background-color: $color-on-primary;
  max-height: calc(250px + 8.75rem);
  overflow: hidden;
  border: 1px solid $deep-neutral-grey;

  > img {
    object-fit: cover;
    width: 360px;
    height: 180px;
  }

  &Category {
    margin-inline: 1rem;
    color: $white;
    padding-inline: 0.25rem;
    width: fit-content;
    @extend %text-small;
    @extend %bold;

    &Accompagnement {
      background-color: $cerro-green;
    }
    &OrienterFormer {
      background-color: $auricula-purple;
    }
    &VieProfessionnelle {
      background-color: $dark-vinaceous;
    }
  }

  &Flip {
    backface-visibility: hidden;
  }

  &FlipBack {
    width: 100%;
    backface-visibility: hidden;
    background-color: $color-primary;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotateY(180deg) translateZ(1px);
    color: $color-on-primary;
    padding: 1rem;

    &Action {
      background-color: $color-on-primary;
      border-radius: 50%;
      padding: 0.25rem;
      line-height: 1.4;
      font-size: 1rem;
      color: $color-primary;
      width: 2rem;
      height: 2rem;
    }

    &Title {
      $lineHeight: 1.2;
      @include line-clamp(2, $lineHeight);
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      line-height: $lineHeight;
      margin: 1.5rem 0;
    }

    &Content {
      display: flex;
      align-items: center;
      min-height: 10.75rem;
      overflow: auto;
      padding-inline: 1rem;
    }
  }

  &Body {
    padding: 1rem;

    &Title {
      $lineHeight: 1.2;
      @include line-clamp(3, $lineHeight);
      font-size: 1rem;
      font-weight: bold;
      line-height: $lineHeight;
      margin-bottom: 0.75rem;
    }
  }

  &ActionWrapper {
    display: flex;
    margin-top: 1rem;

    &SpaceBetween {
      justify-content: space-between;
    }

    &FlexEnd {
      justify-content: flex-end;
    }

    &Button {
      text-decoration: underline;
      text-underline-offset: 3px;
      color: $color-primary;
      font-size: 0.875rem;

      &:hover {
        color: $color-primary-on-hover;
      }
    }
  }

  &Action {
    @extend %background-primary;
    border-radius: 20px;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    align-self: flex-end;
    font-size: 0.875rem;
    padding: 0 1.5rem;
    text-decoration: none;
  }
}

@include media(medium) {
  .card {
    max-height: calc(17.5rem + 8.75rem);

    &ImageWrapper {
      flex: 0 0 180px;
    }

    &FlipBackContent {
      > *:first-child {
        padding-top: 1rem;
      }
    }

    &Content {
      &Title {
        font-size: 1.25rem;
        min-height: calc(3 * 1.2 * 1.25rem);
      }
    }
  }
}


@media (prefers-reduced-motion: reduce) {
  .cardWrapper, .cardFlipBack {
    transform: none;
  }
}
