@use "@styles/utilities";

$transition-duration: 700ms;

.flipped {
  --rotate-y: 180deg;
}

.cardWrapper {
  transform-style: preserve-3d;
  transition: transform $transition-duration ease-in-out;
  transform: rotateY(var(--rotate-y, 0));

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    box-shadow: utilities.$box-shadow;
    background-color: utilities.$color-background-primary;
    border: 1px solid utilities.$color-background-border;
    overflow: hidden;

    .flipped & {
      transition: visibility 0ms $transition-duration linear;
      visibility: var(--visibility);
    }

    > img {
      object-fit: cover;
      width: auto;
      height: 180px;
    }

    & .category {
      @include utilities.text-small;
      font-weight: bold;
      color: utilities.$color-text-primary-inverse;
      margin-inline: 1rem;
      padding: 0.25rem;
      width: fit-content;
    }

    & .categoryAccompagnement {
      background-color: utilities.$color-groupe-2-light-green;
    }

    & .categoryOrienterFormer {
      background-color: utilities.$color-groupe-2-burgundy;
    }

    & .categoryVieProfessionnelle {
      background-color: utilities.$color-groupe-2-rust;
    }

    & .categoryAidesFinancieres {
      background-color: utilities.$color-groupe-3-green;
    }

    & .body {
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 1rem;

      & .bodyTitle {
        $lineHeight: 1.2;
        @include utilities.line-clamp(3, $lineHeight);
        font-size: 1rem;
        font-weight: bold;
        line-height: $lineHeight;
        margin-bottom: 0.75rem;
      }
    }

    & .actionWrapper {
      display: flex;

      & > button {
        @include utilities.text-small
      }

      & > :last-child {
        margin-left: auto;
      }
    }
  }

  & .cardRecto {
    .cardWrapperWithVersoVisible & {
      --visibility: hidden;
    }

    backface-visibility: hidden;
  }

  & .cardVerso {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    background-color: utilities.$color-background-secondary;
    transform: rotateY(180deg) translateZ(1px);
    color: utilities.$color-text-primary-inverse;
    padding: 1rem;
    --visibility: hidden;

    .cardWrapperWithVersoVisible & {
      --visibility: visible;
    }

    & button {
      background-color: utilities.$color-background-primary;
      border-radius: 50%;
      padding: 0.25rem;
      font-size: 1rem;
      color: utilities.$color-text-primary-alternative;
      width: 2rem;
      height: 2rem;

      &:focus {
        outline-color: utilities.$color-text-primary-inverse;
        outline-offset: 2px;
      }
    }

    & .title {
      font-weight: bold;
      text-align: center;
      margin: 1rem 0;
    }

    & .content {
      overflow: auto;
      padding-inline: 1rem;
      @include utilities.media(medium) {
        padding-top: 1rem;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .cardWrapper, .cardVerso {
    transform: none;
  }
}
