@import "@styles/utilities";

.accompagnementContainer {
  padding: 2rem;
}

.unionNationaleDesMissionsLocales {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-primary;
}

.infosJeunes {
  display: flex;
  flex-direction: column;
  background-color: $color-background-white-lilac;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
}

.poleEmploi {
  display: flex;
  flex-direction: column;
}

.petiteDescriptionStructure {
  margin-top: 1.5rem;
  @extend %text-large;

  span:first-child {
    color: $color-primary;
    @extend %bold;
  }

  span:last-child {
    color: $color-secondary;
  }
}

.imageContainer {
  margin: auto;
}

.seeMore {
  margin-top: 1rem;
}

.buttonChercher {
  margin-top: 1rem;
}

@include media(large) {
  .accompagnementContainer {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .unionNationaleDesMissionsLocales {
    flex-direction: row;
  }

  .infosJeunes {
    flex-direction: row;
  }

  .poleEmploi {
    flex-direction: row;
  }

  .imageContainer {
    margin: inherit;
  }

  .logoContainer {
    width: 30%;
    margin-right: 3.5rem;
  }

  .longueDescriptionContainer {
    width: 60%;
  }

  .buttonChercher {
   margin-top: 2.75rem;
  }
}