@use "@styles/utilities";

.displayContents {
  display: contents;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
      "boutonRetour"
      "source"
      "carousel"
      "entête"
      "annonceBody"
      "lienDeCandidatureMobile";


  @include utilities.media(medium) {
    grid-template-areas:
      "boutonRetour"
      "entête"
      "carousel"
      "annonceBody";
  }
}

.boutonRetour {
  padding-left: 1rem;
  margin: 1rem 0;
}

.source {
  grid-area: source;
  @extend %bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 0.5rem;

  @include utilities.media(medium) {
    flex-direction: column;
  }
}

.lienDeCandidatureMobile {
  z-index: 9;
  position: sticky;
  bottom: 0;
  width: 100%;
  grid-area: lienDeCandidatureMobile;
  background-color: utilities.$color-surface;
  padding: 0.5rem;

  a {
    width: 100%;
  }
}
.entête {
  width: 100%;
  padding: 1rem;
  grid-area: entête;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
        "date"
        "type"
        "titre";
  @include utilities.media(medium) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
          "type date"
          "titre titre";
  }
  & .type {
    grid-area: type;
    font-size: .875rem;
    line-height: 1.25rem;
    color: utilities.$color-mine-shaft;
    text-transform: uppercase;
    @include utilities.media(medium) {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  & .date {
    grid-area: date;
    color: utilities.$color-mine-shaft;
    font-size: .75rem;
    line-height: 1rem;
    @include utilities.media(medium) {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  & h1 {
    grid-area: titre;
    @extend %bold;
    color: utilities.$color-on-background;
    font-size: 1.25rem;
    line-height: 2rem;
    @include utilities.media(medium) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

  .card {
    padding: 1rem;

    & h2 {
      margin-bottom: 1.25rem;
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
      color: utilities.$color-primary;
      font-size: 1.25rem;
      line-height: 2rem;
      @include utilities.media(medium) {
        font-size: 1.5rem;
      }
    }

    & button.readMore {
      font-size: 1rem;
      color: utilities.$color-primary;
      width: 100%;
      margin-top: 1.25rem;
    }

    &:nth-child(2n + 1) {
      border-width: 1px 0;
      border-style: solid;
      border-color: utilities.$color-primary;
      background-color: utilities.$color-background-white-lilac;
      @include utilities.media(medium) {
        border: 1px solid utilities.$neutral-grey;
        border-radius: 1.25rem;
        background-color: utilities.$color-background;
      }
    }

    @include utilities.media(medium) {
      border: 1px solid utilities.$neutral-grey;
      border-radius: 1.25rem;
      padding: 2.5rem;
      margin: 2.5rem;
      & h2 {
        margin-bottom: 2.5rem;
      }
      & button.readMore {
        width: fit-content;
      }
    }
    &Candidater {
      position: sticky;
      top: 2rem;
      grid-area: candidater;
      height: fit-content;
      border: 1px solid utilities.$neutral-grey;
      border-radius: 1.25rem;
      padding: 2.5rem;
      margin: 2.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }

  .annonceBody {
    grid-area: annonceBody;
    @include utilities.media(medium) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
      "informationsGenerales candidater"
      "descriptionDuLogement candidater";
    }
  }

.descriptionDuLogement {
  grid-area: descriptionDuLogement;
}

.informationsGenerales {
  grid-area: informationsGenerales;
  & table.localisation tbody,
  & table.disponibilite tbody {
    column-count: 1;
  }
  & table {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.75rem;
    align-items: center;
    margin: 1.25rem;

    & caption {
      display: contents;
      color: utilities.$color-primary;
    }

    & tbody {
      & > tr {
        display: block;
      }

      & > tr:not(:last-child) {
        margin-bottom: .75rem;
      }

      @include utilities.media(medium) {
        column-count: 2;
      }
    }

    & th {
      display: inline;
      font-weight: bold;

      &::after {
        content: " :";
      }
    }

    & td {
      display: inline;
      margin-left: 0.75rem;
    }
  }

  & abbr[title="Charges Comprises"],
  & sup {
    vertical-align: super;
    font-size: 0.6em;
  }
}

.carouselWrapper {
  grid-area: carousel;
  > img {
    display: flex;
    margin: auto;
  }
  @include utilities.media(medium) {
    background-color: utilities.$white-lilac;
    border-bottom: 1px solid utilities.$color-primary;
    border-top: 1px solid utilities.$color-primary;
  }
}

.carousel {
  display: flex;
  margin: auto;
  height: 15rem;
  width: 100%;
  max-width: 25rem;
  @include utilities.media(medium) {
    max-width: utilities.$breakpoint-xl;
    height: 25rem;

    > ul > li > img {
      display: flex;
      margin: auto;
      object-fit: cover;
      object-position: center;
    }

    button {
      box-sizing: content-box;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid utilities.$color-primary;
      > svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

.services {
  li {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    @include utilities.media(medium) {
      gap: 1.25rem;
    }

    &:first-letter {
      text-transform: uppercase;
    }

    &:not(:first-child) {
      margin-top: 1.25rem;
      @include utilities.media(medium) {
        margin-top: 1.875rem;
      }
    }
  }
  ul {
    column-count: 2;
    gap: 1.25rem;
    @include utilities.media(medium) {
      gap: 1.875rem;
    }
    &:empty {
      display: none;
    }
  }
}