@import "@styles/utilities";

.entête {
  background-color: $color-background-white-titan;
  border-top: 0.5px solid $color-on-surface;
  border-bottom: 0.5px solid $color-on-surface;
  text-align: center;
  padding: 1.5rem 0;

  &__Title {
    @extend %bold;
    @extend %text-medium;
  }

  &__Description {
    @extend %text-regular;
  }
}
