@import "@styles/utilities";

.stageContainer {
  padding: 1rem;
}

.stageSelectWrapper {
  width: 100%;
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
}

input.stageInputElement {
  font-family: 'Marianne';
  background-color: $color-background;
  border: 1px solid $color-primary;
  border-radius: 1.25rem;
  width: 50%;
  color: $color-on-background;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  margin: 0 auto;
  display: inline-block;
}

.stageRootElement {
  padding: 1rem 0;
}

.stageListeRootElement> ol li {
  display: block;
  margin-bottom: 1rem;
}

.stageListeRootElement> ol {
  padding: 0;
}

.stageItemElement {
  padding: 0;
}
