@import "@styles/utilities";

.stageContainer {
  margin: 0 auto;
  padding: 2rem 1rem;
  border-bottom: 1px solid $color-form-field;
  @include media(large) {
    max-width: 78rem;
  }
}

.stageForm {
  flex-direction: row;
  align-items: start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

input.stageInputElement {
  background-color: $color-background;
  border: 1px solid $color-primary;
  border-radius: 1.25rem;
  color: $color-on-background;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0 16px;
  margin-top: 0.5rem;
  flex-grow: 1;
  width: 100%;
}

.stageListeRootElement > ol li {
  display: block;

  @include media(large) {
    margin-bottom: 1rem;
  }
}

.stageListeRootElement > ol {
  padding: 0;
}

.stageItemElement {
  padding: 0;
}

.stageTagItem{
  display: inline;
}

.stageTagCategoryElement {
  display: inline-flex;
  flex-wrap: wrap;

  @extend %text-small;
  padding: 2px 8px;
  margin: 2px 8px 2px 0;
  background-color: $color-tag;
  border-radius: calc((2px * 2 + 1.25rem) / 2);

  @include media(large) {
    padding: 4px 12px;
    margin: 4px 12px 4px 0;
    border-radius: calc((4px * 2 + 1.5rem) / 2);
  }
}

.none {
  display: none;
}

.informationRésultats {
  border-bottom: 1px solid $color-separator;
  border-top: 1px solid $color-separator;
  padding: 2rem 0;
  margin-bottom: 2.5rem;

  ul {
    padding-bottom: 1rem;
  }
}
