@import "@styles/utilities";

$color-tag: #EEEEEE;

.stageContainer {
  margin: 0 auto;
  padding: 2rem 1rem;
  border-bottom: 1px solid $color-form-field;
  @include media(large) {
    max-width: 78rem;
  }
}

.stageForm {
  padding-top: 40px;
  padding-bottom: 40px;
}

.stageSelectWrapper {
  width: 100%;
  display: inline-flex;
  gap: 1rem;
  flex-wrap: wrap;
}

input.stageInputElement {
  font-family: 'Marianne';
  background-color: $color-background;
  border: 1px solid $color-primary;
  border-radius: 1.25rem;
  width: 50%;
  color: $color-on-background;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  margin: 0 auto;
  display: inline-block;
}

.stageRootElement {
  padding: 1rem 0;
}

.stageListeRootElement > ol li {
  display: block;
  margin-bottom: 1rem;
}

.stageListeRootElement > ol {
  padding: 0;
}

.stageItemElement {
  padding: 0;
}

.stageTagLabel {
  display: none;
}

.stageTagList {
  margin-top: 1rem;
  padding-inline-start: 0;
}

.stageTagItem {
  display: inline;
}

.stageTagCategoryElement {
  display: inline-flex;
  flex-wrap: wrap;

  @extend %text-small;
  padding: 2px 8px;
  margin: 2px 8px 2px 0;
  background-color: $color-tag;
  border-radius: calc((2px * 2 + 1.25rem) / 2);

  @include media(large) {
    padding: 4px 12px;
    margin: 4px 12px 4px 0;
    border-radius: calc((4px * 2 + 1.5rem) / 2);
  }
}
