@use "@styles/utilities";

.card {
  max-width: 20rem;
  width: auto;
  @include utilities.media(medium) {
    width: 22.5rem;
  }
}

.cardList {
  @include utilities.media(medium) {
    padding-top: 2rem;
  }
}
