@use "@styles/utilities";

.card {
  max-width: 22.5rem;
}

.container {
  @include utilities.media(medium) {
    padding-top: 2rem;
  }

  & div > ul > li {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 22.5rem;
  }
}
