@import "@styles/utilities";

.bannière {
  background: #ea711b;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
}

.bannièreContent {
  padding: 36px;
  margin: 0 auto;
  flex-shrink: 5;
  flex-grow: 5;
}

.bannièreTitle {
  margin-bottom: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.bannièreAccroche {
  font-size: 1rem;
  @extend %bold;
  margin-top: 1.5rem;
}

.titre {
  @extend %bold;
  font-size: 2rem;
  color: $color-on-secondary;
  @include media(large) {
    font-size: 2.5rem;
  }
}

.cta[href] {
  margin-top: 1.5rem;
  line-height: 1.5em;
  display: inline-flex;
  align-items: flex-end;
  background: #F6F7FB;
  color: #161616;
  font-size: 18px;
  padding: 6px 4px 6px 12px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #161616;
}

@include media(medium) {
  .bannière {
    height: 27.5rem;
  }
  .bannièreContent {
    padding: 42px 42px 42px $gutter;
  }
}

@include media(xlarge) {
  .bannière {
    height: 27.5rem;
  }
  .bannièreContent {
    padding: 80px 80px 80px calc((100vw - #{$breakpoint-xl}) / 2 + #{$gutter});
  }
}

