@import "@styles/_utilities";

.content {
  padding: 1rem;
}

.container {
  max-width: 78em;
}

.etape {
  background-color: $color-primary;
  color: white;
  max-width: 17rem;
  text-align: center;
  padding: 4px;
}

.formulaire {

  .champsObligatoires, .champsFacultatifs {
    @extend %text-large;
    color: $color-primary;
    margin-block: 1.25rem;
  }

  .bodyFormulaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .textArea {
    margin-top: 1rem;

    > textarea {
      min-height: 7.5rem;
      background-color: $color-on-primary;
      padding-top: 1rem;
    }
  }

  .validation {
    margin-bottom: 1.5rem;

    > button {
      width: 100%;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

@include media(large) {

  .content {
    background-color: $color-background;
    padding: 0 8rem 2rem;
  }

  .container {
    max-width: 92em;
  }

  .etape {
    margin-left: 8rem;
  }

  .formulaire {
    background-color: $color-background;
    border-radius: 40px;
    padding: 2rem 8rem 1rem;
    margin-top: 1.5rem;

    .validation {
      display: flex;
      flex-direction: column;
      place-items: center;
      text-align: left;
      margin-block: 1.5rem;

      > button {
        width: 50%;
      }
    }
  }
}

@include media(xlarge) {
  .formulaire {
    padding: 0 8rem 0;

    .bodyFormulaire {
      flex-direction: row;
      justify-content: space-between;

      .textArea {
        width: 100%;
        > textarea {
          min-height: 15rem;
        }
      }
    }
  }
}
