@use "@styles/utilities";
@use "@styles/components/form/variables";


.rémunération {
  & .rémunérationLabel {
    margin-bottom: 0.5rem;
    @extend %label-champ;
  }
}

.contenuTeletravail {
  border: none;

  & legend{
    @extend %label-champ;
  }

  .inputTeletravail {
    display: flex;

    input[type=radio] {
      margin-right: 1.5rem;

      &:focus + label::before {
        outline: 2px solid utilities.$color-primary;
        outline-offset: 2px;
      }
    }
  }
}

.contenuDateDeDebut {
  border: none;
  width: 100%;

  & legend{
    @extend %label-champ;
  }

  &InputDate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(xlarge) {
      flex-direction: row;
      justify-content: space-between;

      > div {
        min-width: 48%;
      }
    }
  }

  &InputRadio {
    padding-bottom: 1rem;

    input[type=radio] {
      margin-right: 1.5rem;

      &:focus + label::before {
        outline: 2px solid utilities.$color-primary;
        outline-offset: 2px;
      }
    }
  }
}

.dureeStage {
  width: 100%;
}

.textareaWrapper {
  @include utilities.media(xlarge) {
    width: 100%;
  }
}

@include utilities.media(xlarge) {
  .inputNomOffre, .inputLienCandidature {
    width: 100%;
  }
}
