.homeBanner {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--text-title-blue-france);;
  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
}