@import "@styles/utilities";

.hero {
    &Button {
        margin-top: 1.5rem;
    }
    &Title {
        @extend %bold;
    }
}

.card {
    width: 22.5rem;
    img {
        object-fit: cover;
    }
}

.section {
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    &Header {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        @extend %bold;
        > svg, h2 {
            display: block;
            margin: auto;
        }
    }

    &NosOffres {
        background-color: $color-lighten-blue-navy;
        &Header {
            &Icon {
                color: $color-blue-navy;
            }
        }
    }
    &FormationsOrientation {
        background-color: $color-lighten-tapestry;
        &Header {
            &Icon {
                color: $color-tapestry;
            }
        }
    }
    &EngagementBénévolat {
        background-color: $color-lighten-smalt-blue;
        &Header {
            &Icon {
                color: $color-smalt-blue;
            }
        }
    }
    &Logement {
        background-color: $color-lighten-coral;
        &Header {
            &Icon {
                color: $color-coral;
            }
        }
    }
    &AidesOrientationAccompagnement {
        background-color: $color-lighten-blue-navy;
        &Header {
            &Icon {
                color: $color-blue-navy;
            }
        }
    }
    &AidesEtOutils {
        background-color: $color-lighten-tapestry;
        &Header {
            &Icon {
                color: $color-tapestry;
            }
        }
    }

    &FormationsOrientation, &EngagementBénévolat {
        padding-bottom: 2rem;
    }
}

@include media(medium) {
    .sectionHeader {
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .section {
        &FormationsOrientation, &EngagementBénévolat {
            padding-bottom: 3rem;
        }
    }
}
