.cardList {
    padding: 0 18px 24px 18px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 375px;
    gap: 24px;
}

.section {
    padding: 24px;
}

.sectionHeader {
    text-align: center;
    margin-bottom: 2rem;
}

.sectionHeader > svg {
    display: block;
    margin: auto;
}

.sectionHeader > h2 {
    display: block;
    margin: auto;
}

.section1 {
    background-color: #E8EDFF;
}

.section2 {
    background-color: #FEF3FD;
}

.section3 {
    background-color: #F1FEF5;
}

.section4 {
    background-color: #FFF4ED;
}


@media only screen and (min-width:48em){
    .cardList {
        grid-template-columns: repeat(3, 1fr);
    }
    .cardList {
        grid-template-columns: repeat(3, 1fr);
    }

    .cardList > article {
        width: 360px;
        margin: auto;
    }

    .cardList > * >article {
        width: 360px;
        margin: auto;
    }
}
