@import "@styles/utilities";

.cardListPadding, .cardListPaddingSeeMore {
    padding-bottom: 1.5rem;
}

.cardList {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
}

.section {
    padding: 1.5rem;
    &:not(:first-child){
        margin: 1.5rem 0;
    }

    &Header {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        @extend %bold;
        > svg, h2 {
            display: block;
            margin: auto;
        }
    }

    &NosOffres {
        background-color: $color-lighten-blue-navy;
        &Header {
            &Icon {
                color: $color-blue-navy;
            }
        }
    }
    &BesoinDeVousFormer {
        background-color: $color-lighten-tapestry;
        &Header {
            &Icon {
                color: $color-tapestry;
            }
        }
    }
    &AidesOrientationAccompagnement {
        background-color: $color-lighten-smalt-blue;
        &Header {
            &Icon {
                color: $color-smalt-blue;
            }
        }
    }
    &EngagementBénévolat {
        background-color: $color-lighten-coral;
        &Header {
            &Icon {
                color: $color-coral;
            }
        }
    }

    &BesoinDeVousFormer, &EngagementBénévolat {
        padding-bottom: 2rem;
    }
}


@media only screen and (min-width:48em) {
    .cardListPaddingSeeMore {
        padding: 0.5rem 1.125rem 1.5rem 1.125rem;
    }

    .cardList {
        gap: 2rem;
        flex-direction: row;
    }

    .cardList > a {
        width: 360px;
    }

    .sectionHeader {
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-size: 2rem;
    }

    .section {
        &BesoinDeVousFormer, &EngagementBénévolat {
            padding-bottom: 3rem;
        }
    }
}
