.cardListPadding, .cardListPaddingSeeMore {
    padding-bottom: 1.5rem;
}

.cardList {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
}

.section {
    padding: 1.5rem;
    margin: 1.5rem 0;
}

.sectionHeader {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.sectionHeader > svg {
    display: block;
    margin: auto;
}

.sectionHeader > h2 {
    display: block;
    margin: auto;
}

.section1 {
    background-color: #E8EDFF;
}

.section2 {
    background-color: #FEF3FD;
    padding-bottom: 2rem;
}

.section3 {
    background-color: #F1FEF5;
}

.section4 {
    background-color: #FFF4ED;
    padding-bottom: 2rem;
}


@media only screen and (min-width:48em){
    .cardListPaddingSeeMore {
        padding: 0.5rem 1.125rem 1.5rem 1.125rem;
    }

    .cardList {
        gap: 2rem;
        flex-direction: row;
    }

    .cardList > article {
        width: 360px;
    }

    .sectionHeader {
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .section2, .section4 {
        padding-bottom: 3rem;
    }
}
