@use "@styles/utilities-deprecated";

.entreprendreOutilADisposition {
  p {
    min-height: 5rem;
  }
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.25rem;
  text-align: center;
  border: 1px utilities-deprecated.$color-primary solid;
  border-radius: 20px;
}
