@use "@styles/utilities";

.section {
  padding: 4rem 2rem;
  background: utilities.$color-background-white-lilac;

  &Box {
    display: flex;
    flex-direction: column;
    &Container {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &Text {
        display: flex;
        flex-direction: column;
        height: 100%;

        align-self: center;
        align-items: center;

        &Icon {
          color: utilities.$color-primary;
        }

        &Titre {
          color: utilities.$color-primary;
          font-size: 1.5rem;
          margin-bottom: 2rem;
          font-weight: 700;
          text-align: left;

          &Accroche {
            font-size: 1.5rem;
            color: utilities.$color-secondary;
            font-weight: 400;
          }
        }

        > a {
          margin-top: auto;
          width: 100%;
          @include utilities.media(medium) {
            width: auto;
          }
        }
        &Description {
          display: none;
          @include utilities.media(medium) {
            display: block;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@include utilities.media(large) {
  .section {
    padding: 4rem;

    &Box {
      flex-direction: row;
      gap: 1rem;

      &Container {
        width: 100%;
        &:not(:last-of-type) {
          margin-bottom: unset;
        }
        &Text {
          > a {
            width: auto;
          }

          &Titre {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          &Description {
            display: block;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
