@use "@styles/utilities-deprecated";
@use "@styles/utilities";

.mobileOnly {
  @include utilities.media(small) {
    display: none;
  }
}

.desktopOnly {
  display: none;
  @include utilities.media(small) {
    display: unset;
  }
}

.skipLinkWrapper {
  list-style: none;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  background-color: utilities-deprecated.$color-separator;
  color: utilities-deprecated.$color-blue-navy;
  padding: 1rem 0.5rem;

  &:focus-within {
    position: relative;
    transform: translateY(0);
  }

  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &:focus-within {
      position: relative;
      transform: translateY(0);
    }

    & > li {
      & > a {
        border-radius: 1rem;
        padding: 0.25rem 0.75rem;
      }
    }
  }
}
