@use "@styles/utilities-deprecated";

// FIXME (GAFI 17-06-2024): On pourrait pas se passer de ce wrapper ? Le UL est déjà un wrapper en soi
.skipLinkWrapper {
  --ul-type: none;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  background-color: utilities-deprecated.$color-separator;
  color: utilities-deprecated.$color-blue-navy;
  --link-underline: none;
}

.skipLinkWrapper:focus-within {
  position: relative;
  transform: translateY(0);
}

.skipLinkList {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}

.skipLinkList > li {
  margin: 0 1rem 1.5rem;
}

.skipLinkList:focus-within {
  position: relative;
  transform: translateY(0);
}

.skipLink {
  border-radius: 1rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
}
