@use "@styles/utilities-deprecated";
@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-option-hover: utilities.$color-background-primary-alternative;
$border-radius: inputStyles.$border-radius;

.selectWrapper {
  position: relative;
  flex-shrink: 0;

  & .selectLabel {
    @extend %label-champ;
    display: block;
    margin-bottom: 0.5rem;
  }
}



.container {
  position: relative;
  border-radius: $border-radius;

  ul {
    z-index: 2;
    position: absolute;
    padding: 8px;
    width: 100%;
    border: 1px solid utilities-deprecated.$color-separator;
    border-radius: 20px;
    background-color: utilities-deprecated.$color-background;
    margin: 4px 0 0 0;
    max-height: 300px;
    overflow-y: auto;

    & li {
      padding: .25rem 1ch;

      &[role="option"] {
        cursor: pointer;
      }
      &[role="option"]:hover,
      &[role="option"][aria-selected="true"] {
        background-color: $color-option-hover;
        font-weight: bold;
      }
    }
  }

  .ul:not(:last-child) {
    border-bottom: 1px solid utilities-deprecated.$color-separator;
    border-radius: 0;
  }
}

.inputError {
  @include utilities.text-small;
  padding-top: 0.25rem;
  color: utilities-deprecated.$color-error;
}
