@import "@styles/utilities";

.selectWrapper {
    position: relative;
    flex-shrink: 0;
    padding-bottom: 2rem;
}

.selectWrapperFlex {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 25%;
}

.container {
    position: relative;
}

.options {
    z-index: 2;
    position: absolute;
    padding: 8px;
    width: 100%;
    border: 1px solid $color-separator;
    border-radius: 20px;
    background-color: $color-background;
    margin: 4px 0 0 0;
    max-height: 300px;
    overflow-y: auto;
}

.option:not(:last-child) {
    border-bottom: 1px solid $color-separator;
    border-radius: 0;
}

.optionName {
    padding-left: 8px;
}

.listOptionButton {
    justify-content: center;
    padding: 10px 0;
    display: flex;
}

.button {
    @extend %text-small;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 2.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: $color-mention-grey;
    padding: 0.375rem 0.375rem 0.375rem 0.75rem;
    border: 1px solid $neutral-grey;
    border-radius: 20px;

    &[aria-expanded=true] {
        border: 1px solid transparent;
        outline: 2px solid $color-primary;
        outline-offset: -2px;
    }

    &Invalid {
        border: 1px solid transparent;
        outline: 2px solid $color-error;
        outline-offset: -2px;
    }

    span {
        text-align: left;
    }
}

.innerInput {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    inset: 0;
}

.selectedLabel {
    color: $color-on-background;
}

.selectLabel {
    display:block;
    margin-bottom: 0.5rem;
}

.inputError {
    @extend %text-small;
    position: absolute;
    bottom: 0;
    height: 2rem;
    line-height: 1.2;
    color: $color-error;
}
