@import "@styles/utilities";

.selectWrapper {
    flex-shrink: 0;
}

.selectWrapperFlex {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 25%;
}

.container {
    position: relative;
}

.options {
    z-index: 2;
    position: absolute;
    padding: 8px;
    width: 100%;
    border: 1px solid $color-separator;
    border-radius: 20px;
    background-color: $color-background;
    margin: 4px 0 0 0;
    max-height: 300px;
    overflow-y: auto;
}

.option:not(:last-child) {
    border-bottom: 1px solid $color-separator;
    border-radius: 0;
}

.optionName {
    padding-left: 8px;
}

.listOptionButton {
    justify-content: center;
    padding: 10px 0;
    display: flex;
}

.button {
    @extend %text-regular;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: $color-mention-grey;
    padding: 6px 6px 6px 12px;
    border: 1.5px solid $color-primary;
    border-radius: 20px;

    &[aria-invalid=true] {
       border: solid 2px $color-error;
    }
}

.selectedLabel {
    color: $color-on-background;
}

.selectLabel {
    display:block;
    margin-bottom: 0.5rem;
}

.inputError {
  margin-top: 8px;
  --text-spacing: 0;
  @extend %text-small;
  color: $color-error;
}
