@import "@styles/utilities";

.container {
  padding: 0 1rem;
}

.etape {
 @extend %background-primary;
  max-width: 17rem;
  text-align: center;
  padding: 4px;
}

.boutonRetour {

}

.formulaire {

  .champsObligatoires, .champsFacultatifs {
    @extend %text-large;
    color: $color-primary;
    margin-block: 1.25rem;
  }

  .bodyFormulaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    input {
      background-color: $color-surface;
    }

    .inputRenumerationWrapper {
      padding-bottom: 2rem;
      & > div {
        & > span {
          @extend %text-small;
        }
        & > input {
          @extend %text-small;
          font-family: Marianne;
        }
      }
    }

    .inputRenumerationWrapper {
      & > label {
        margin-bottom: 0.5rem;
      }

      & > div {
        margin-top: 0.5rem;
        display: flex;
        height: 2.5rem;

        & > input {
          align-items: center;
          padding: 0.375rem 0.375rem 0.375rem 0.75rem;
          border: 1px solid $color-on-background;
          width: 100%;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        & > span {
          padding: 0.375rem 2rem 0 2rem;
          display: flex;
          background-color: $color-primary;
          color: $color-on-primary;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }

    .inputTeletravail {
      display: flex;
      padding-bottom: 2rem;

      &Radio {
        margin-right: 1.5rem;
      }
    }
  }

  .textareaWrapper {
    margin-top: 1rem;

    > textarea {
      height: auto;
      background-color: $color-surface;
      padding-top: 1rem;
    }
  }

  .validation {
    margin-bottom: 1.5rem;

    &Link {
      width: 100%;
    }
  }
}

@include media(large) {

  .container {
    padding: 0 0 1rem;
  }

  .etape {
    margin-left: 8rem;
  }

  .boutonRetour {
    margin-top: 1rem;
    margin-left: 8rem;
  }

  .formulaire {
    border-radius: 40px;
    padding: 2rem 8rem 1rem;
    margin-top: 1.5rem;

    .validation {
      display: flex;
      flex-direction: column;
      place-items: center;
      margin-block: 1.5rem;

      &Link {
        width: 50%;
      }
    }
  }
}

@include media(xlarge) {
  .formulaire {
    padding: 0 8rem 2rem;

    .bodyFormulaire {
      flex-direction: row;
      justify-content: space-between;

      > div {
        width: 48%;
      }

      .inputNomOffre {
        width: 100%;
      }

      .inputLienCandidature {
        width: 100%;
      }

      .textareaWrapper {
        width: 100%;
      }
    }
  }
}
