@import "@styles/utilities";

.accompagnement {
  @extend %background-primary;
  padding: 3rem 0;

  &Container {
    margin: 0 auto;
    padding: 0 1.5rem;

    h2 {
      @extend %headline;
      color: $color-on-primary;
      font-size: 1.5rem;
    }
  }

  article {
    @extend %background-surface;
    padding: 20px;
    border-radius: 12px;

    div {
      @extend %text-regular;
    }

    .optionBouton {
      @extend %text-regular;
      padding: 12px;
      text-align: start;
      line-height: 1.25rem;
      border-radius: 20px;
      border: 1px solid $color-primary;
      margin-top: 20px;
      width: 100%;
    }

    .boutonRetour {
      @extend %text-regular;
      border: none;
      color: $color-primary;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;

      .iconeRetour {
        color: $color-primary;
      }
    }
  }

  &Question {
    @extend %bold;
  }

  &Explication {
    @extend %text-medium;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &Modal {
    div {
      border-radius: 20px;
    }

    &Content {
      @extend %text-large;
      @extend %bold;
      text-align: center;
      color: $color-primary;

      &Link {
        @extend %text-regular;
        font-weight: 500;
        margin-top: 24px;

        svg {
          color: $color-on-primary;
        }
      }
    }
  }
}

@include media(large) {
  .accompagnement {
    padding: 5rem 2rem;

    &Container {
      padding: 0;
      gap: 2rem;
      display: grid;
      margin: 0 auto;
      max-width: 85rem;
      align-items: start;
      grid-template-columns: auto 1fr;

      h2 {
        font-size: 3rem;
        line-height: 4rem;
      }
    }

    article {
      padding: 40px;

      p {
        margin-bottom: 0;
      }

      .optionBouton {
        padding: 20px;
        min-width: 460px;
        line-height: 2.5rem;
      }
    }

    &Explication {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
