@import "@styles/utilities";

.accompagnement {
  @extend %background-primary;
  padding: 3rem 0;

  &Container {
    margin: 0 auto;
    padding: 0 1.5rem;

    h2 {
      @extend %headline;
      color: $color-on-primary;
      font-size: 1.5rem;
    }
  }

  article {
    @extend %background-surface;
    padding: 20px;
    border-radius: 12px;

    div {
      @extend %text-regular;
    }

    .optionBouton {
      @extend %text-regular;
      padding: 12px;
      text-align: start;
      line-height: 1.25rem;
      border-radius: 20px;
      border: 1px solid $color-primary;
      margin-top: 20px;
      width: 100%;
    }

    .boutonRetour {
      @extend %text-regular;
      border: none;
      color: $color-primary;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
  }

  &Question {
    @extend %bold;
  }

  &Explication {
    @extend %text-medium;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &Modal {
    > div:first-child {
      height: 35vh;
      margin: 15rem 1rem 8rem 1rem;
      border-radius: 20px;
    }
    &Content {
      text-align: center;
      color: $color-primary;
      padding: 3rem 2rem 2rem 2rem;
      h1 {
        @extend %text-large;
        @extend %bold;
        margin: 1rem 2rem;
      }
      p {
        @extend %text-small, %background-surface;
        margin: 2rem;
        font-weight: 400;
      }
    }
  }

  &Mission {
    &__Title {
      font-size: 1.4rem !important;
      text-align: center;
      @extend %bold;
      color: $color-on-background;
      line-height: 2rem;
    }

    &__Content {
      padding: 0 2rem;
      small {
        display: block;
        @extend %bold;
        font-size: 18px;
        margin-top: 1rem;
        color: $color-primary;
        text-align: center;
      }
      form {
        margin-top: 1rem;
      }
      &Success {
        display: flex;
        min-height: 60vh;
        > div {
          margin: auto;
        }
      }
    }
    &BoutonSuccess {
      text-align: center;
      font-size: larger;
    }
  }

  &Dispositifs {
    &__Title {
      @extend %text-xLarge;
      @extend %bold;
      color: $color-primary;
      text-align: center;
      line-height: 2rem;
      margin: 1rem 2rem;
    }

    &__Content {
      display: flex;
      > div {
        margin: auto;
      }
    }

    &Position {
      display: grid;
      place-content: center;

      &Icon {
        box-shadow: 0 1px 1px rgba(55, 86, 189) !important;
        border: 1px solid $color-primary;
        border-radius: 20px;
        width: 300px;
        display: grid;
        place-items: center;
        margin-top: 10px;

        p {
          font-size: smaller;
        }

        &Offre {
          color: $color-blue-navy;
          width: 30px;
          margin-top: 0.5rem;
        }

        &Formation {
          color: $color-tapestry;
          width: 30px;
          margin-top: 0.5rem;
        }

        &Aide {
          color: $color-smalt-blue;
          width: 30px;
          margin-top: 0.5rem;
        }

        &Benevolat {
          color: $color-coral;
          width: 30px;
          margin-top: 0.5rem;
        }
      }
    }
  }

  &Valider {
    text-align: center;
    margin-top: 2rem;
  }

  &Boutons {
    display: grid;
    grid-template-rows: 1fr;
  }

  &IsActive {
    display: grid;
    gap: 1rem;
    text-align: center;
    min-width: 230px;
    border-radius: 20px;
    border: 1px solid $color-primary;
    margin-top: 15px;
    width: 100%;
    min-height: 3.375rem;
    padding: 1rem;
    background-color: $color-primary;
    color: $color-on-primary;
  }
  &Desactive {
    display: grid;
    gap: 1rem;
    text-align: center;
    min-width: 230px;
    border-radius: 20px;
    border: 1px solid $color-primary;
    margin-top: 15px;
    width: 100%;
    min-height: 3.375rem;
    padding: 1rem;
  }
}

@include media(large) {
  .accompagnement {
    padding: 5rem 2rem;

    &Modal {
      > div:first-child {
        width: 40%;
        height: 35vh;
        margin: auto;
      }
    }

    &Mission {
      &__Title {
        padding: 7rem 7rem 1rem 7rem;
      }
      &__Content {
        padding: 0 7rem 7rem 7rem;
      }
    }

    &Container {
      padding: 0;
      gap: 2rem;
      display: grid;
      margin: 0 auto;
      max-width: 85rem;
      align-items: start;
      grid-template-columns: auto 1fr;

      h2 {
        font-size: 1.5rem;
        line-height: 4rem;
      }
    }

    article {
      padding: 40px;

      p {
        margin-bottom: 0;
      }

      .optionBouton {
        padding: 20px;
        min-width: 460px;
        line-height: 2.5rem;
      }
    }

    &Explication {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    &Dispositifs {
      > div:first-child {
        width: 50%;
        height: 55vh;
        margin: auto;
        border-radius: 20px;
      }
      &__Title {
        margin: 2.5rem;
      }
      &__Content {
        padding: 1rem;
      }
      &Position {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
    }

    &Boutons {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
