@use "@styles/utilities";

.contentWrapper {
  padding-block: 1.5rem;
  padding-inline: 1rem;

  @include utilities.media(xlarge) {
    padding-block: 1rem;
    padding-inline: 0;
  }
}

.section {
  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  @include utilities.media(large) {
    margin-bottom: 3rem;
  }
}

.sectionHeading {
  color: utilities.$color-primary;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  @extend %bold;
  @extend %subheading;
}

.partnerCard {
  &:last-of-type {
    margin-bottom: 1rem;
  }
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.additionalInfo {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
  @extend %text-small;

  svg {
    color: utilities.$color-primary;
    flex-shrink: 0;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
  }
}
