@import "src/styles/utilities";


.iframe {
  height: 73rem;
  margin: 5rem 0 2rem;
  width: 90vw;
  max-width: 30rem;

  @include media(large) {
    height: 56rem;
    width: 70vw;
    max-width: 58rem;
  }
}
