@use "@styles/typography/_placeholders.scss";
@use "@styles/theme/_variables.scss";


%linkWithRightIcon {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  color: variables.$color-primary;
  svg {
    margin-left: 0.5ch;
  }
}