.container {

}

.autocompletionSuggestion {
  position: absolute;
  border: 1px solid var(--grey-950);
  background-color: #ffffff;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.autocompletionSuggestion > li {
  padding-left: 0.5rem;
  cursor: pointer;
}


.autocompletionSuggestion > li:hover, .active {
  background-color: rgba(3,15,143,.05);
}

.label {
  clip: rect(0,0,0,0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}