.serviceCardList {
  padding: 2.5rem 0;
  background-image: url("/images/background/services.svg");
  background-repeat: no-repeat;
  background-color: #FEF3FD;
  background-size: cover;
  background-position: center;

  h2 {
    font-weight: 800;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: #502E4D;
  }

 img {
    object-fit: contain !important;
    padding: 1rem;
  }
}