@use "@styles/utilities";
@use "@styles/components/link/_placeholders.scss";

.services {
  background-color: utilities.$color-background-white-lilac;

  & > ul {
    @extend %max-container;
    padding: 1rem;
    list-style: none;

    @include utilities.media(xlarge) {
      margin: auto;
      padding-left: 0;
      padding-right: 0;
    }

    & > li {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.cardContainer {
  display: block;

  &:hover {
    & .cardAction {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  & .card {
    display: grid;

    &Horizontal {
      grid-template-columns: 18.875rem 1fr;
    }

    &Vertical {
      grid-template-rows: 7.75rem 1fr;
    }

    & .cardLogo {
      align-self: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
      min-height: 92px;
      min-width: 310px;

      @include utilities.media(large) {
        width: 100%;
        min-width: 140px;
        flex-shrink: 0;
        border: 0;
      }
    }

    img {
      object-fit: contain;
    }
  }

  & .cardCover {
    grid-template-rows: 11.25rem 1fr;

    @include utilities.media(large) {
      grid-template-rows: revert;
    }

    & .cardLogo {
      align-self: flex-end;
      width: calc(100% - 1.5rem);
      height: calc(100% - 0.75rem);

      @include utilities.media(large) {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      > img {
        border-radius: 20px;
        object-fit: cover;
        @include utilities.media(large) {
          border-radius: 0;
          padding: 0;
        }
      }
    }
  }

  & .cardBody {
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include utilities.media(large) {
      width: 100%;
      border-left: 1px solid utilities.$color-separator;
    }

    > p {
      margin-bottom: 20px;
      @extend %text-regular;
    }

    & .cardTitle {
      @extend %text-medium;
      @extend %bold;
      margin-bottom: 0.5rem;
    }

    & .cardAction {
      @extend %linkWithRightIcon;
    }
  }
}
