@use "@styles/utilities";

$subHeading-color: utilities.$color-primary;

.modal {
  text-align: center;
  height: 80%;

  display: grid;
  align-content: center;

  & .buttons {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }

  & .heading {
    @include utilities.title-small;
    @extend %bold;
  }

  & .subHeading {
    margin-top: 1rem;
    color: $subHeading-color;
  }
}
