@use "sass:color";
@use "@styles/utilities";

.rechercheOffreForm {
  display: flex;
  flex-direction: column;
}

.filtresRechercherOffre {
  flex-grow: 1;
}

.rechercherAccompagnementFiltres {
  flex: 1 0;
}

.filtresAvancésModalTitle > span {
  font-size: 0.875rem;
}

.filtresAvancésModalContenu {

  & details {
    border-top: 1px solid color.adjust(utilities.$color-primary, utilities.$lightness: 15%);

    &:last-of-type {
      border-bottom: 1px solid color.adjust(utilities.$color-primary, utilities.$lightness: 15%);
    }
  }
}

.filtresAvancésModalFooter {
  justify-content: center;
}

.buttonRechercher > button {
  width: 100%;
}

.champsObligatoires {
  color: utilities.$color-primary;
  margin-block: 1.25rem;
}

@include utilities.media(medium) {
  .rechercheOffreForm {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .buttonRechercher {
    margin-top: 28px;
    margin-left: 40px;
  }

  .inputButtonWrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 0;
  }

  .inputButtonWrapper > div {
    flex-grow: 1;
  }

  .filtreRechercheDesktop {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
  }

  .filtreRechercheDesktop > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
  }

  .filtreRechercheDesktop > div > button {
    width: 100%;
  }
}

.applyFiltersButton button {
  width: 100%;
}
