@use "sass:color";
@use "@styles/utilities";
@use "@styles/components/form/variables";
@use "@styles/theme/variables" as theme-variables;

$color-border-filters: lighten(utilities.$color-primary, 15%);
$border-width: 1px;

.rechercheOffreForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: variables.$form-submit-button-vertical-gap-mobile;

  @include utilities.media(medium) {
    grid-template-columns: 1fr;
    grid-gap: variables.$form-horizontal-gap;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  & .filtres {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "metier metier metier localisation localisation localisation"
    "typeContrat typeContrat tempsTravail tempsTravail niveau niveau"
    "domaines domaines domaines domaines domaines domaines";

      .metier {
        grid-area: metier;
      }

      .localisation {
        grid-area: localisation;
      }

      .typeContrat {
        grid-area: typeContrat;
      }

      .tempsTravail {
        grid-area: tempsTravail;
      }

      .niveau {
        grid-area: niveau;
      }

      .domaines {
        grid-area: domaines;
      }
    }
  }

  & .buttonRechercher {
    display: flex;
    justify-content: center;
    position: relative;
    
    @include utilities.media(small) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-top: $border-width solid theme-variables.$color-background-border;
        top: 50%;
        height: 1px;
        width: calc(50% - 130px);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    > button {
      width: 100%;

      @include utilities.media(small) {
        width: auto;
      }
    }

    @include utilities.media(medium) {
      margin-top: utilities.pixel-to-rem(28);
    }
  }
}

.modalfiltresAvancesButton button {
  width: 100%;
}

.modalfiltresAvancesContenu {
  & details {
    border-top: 1px solid $color-border-filters;

    &:last-of-type {
      border-bottom: 1px solid $color-border-filters;
    }
  }
}



