@use "@styles/utilities";
@use "@styles/components/form/variables";

.RechercherMetierForm {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: variables.$form-vertical-gap-mobile;

  @include utilities.media(medium) {
    flex-direction: row;
    gap: variables.$form-vertical-gap-desktop;
  }
}

.inputNomMetier {
  flex-basis: 70%;
}

.inputCentresInteret {
  flex-basis: 30%;
}

