@import "@styles/utilities";

.container {
  padding: 1rem;

  @include media(xlarge) {
    padding-block: 2rem;
    padding-inline: 0;
  }
}

.backButton {
  margin-bottom: 1rem;

  @include media(xlarge) {
    margin-bottom: 2rem;
  }
}

.partnerInfo {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &Icon {
    color: $color-primary;
    vertical-align: bottom;
    margin-right: 0.5rem;
  }

  span {
    line-height: 1.6rem;
  }
}
