@import "@styles/utilities";

.heroSection, .headingSection {
  background-color: white;
}

.heroMessage {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  @extend %text-xLarge;

  @include media(large) {
    padding: 6rem 1rem 3rem 1rem;
  }

  & > span {
    display: block;
  }

  &FirstPart {
    color: $color-primary;
    font-weight: bold;
  }

  &SecondPart {
    color: $color-secondary;
  }
}

.formContainer {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  justify-content: space-between;

  @media (min-width: $breakpoint-xl) {
    padding: 2rem 0;
    gap: 1.5rem;
  }
}

.resultInfosContainer {
  background-color: white;
  border-top: 1px solid $color-separator;
  border-bottom: 1px solid $color-separator;
  padding: 1rem;

  @media (min-width: $breakpoint-xl) {
    padding: 2rem 1rem;
  }
}

.bodySection {
  background-color: $color-background;
  padding: 1rem;

  @media (min-width: $breakpoint-xl) {
    padding: 2rem 1rem;
  }
}

.inputNomMetier {
  flex-grow: 2;
}

.submitButtonIcon {
  width: 16px;
}

.resultList {
  padding: 0;
  margin: 0;
}

.resultCard {
  display: block;
  background-color: white;
  box-shadow: $box-shadow;
  border-left: 3px solid $color-primary;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 1.5rem;
  }
}

.cardTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardContent {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  & > p {
    margin: 0;
  }
}

.cardLink {
  color: $color-primary;
  text-align: right;
}

.cardLinkIcon {
  vertical-align: middle;
  width: 16px;
  margin-left: 0.2rem;
  fill: $color-primary;
}
