@import "@styles/utilities";

.heroSection, .headingSection {
  background-color: white;
}

.heroMessage {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  @extend %text-xLarge;

  @include media(xlarge) {
    padding: 4rem 1rem 2rem 1rem;
  }

  & > span {
    display: block;
  }

  &FirstPart {
    color: $color-primary;
    font-weight: bold;
  }

  &SecondPart {
    color: $color-secondary;
  }
}

.container {
  padding: 1rem;

  @include media(xlarge) {
    padding-block: 2rem;
    padding-inline: 0;
  }
}

.backButton {
  margin-bottom: 1rem;

  @include media(xlarge) {
    margin-bottom: 2rem;
  }
}

.partnerInfo {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &Icon {
    color: $color-primary;
    vertical-align: bottom;
    margin-right: 0.5rem;
  }

  span {
    line-height: 1.6rem;
  }
}

.additionalSection {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
}

.partnerCardContainer {
  margin-top: 2rem;
}