@import "@styles/utilities";

.heroSection, .headingSection {
  background-color: white;
}

.heroMessage {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  @extend %text-xLarge;

  @include media(xlarge) {
    padding: 4rem 1rem 2rem 1rem;
  }

  & > span {
    display: block;
  }

  &FirstPart {
    color: $color-primary;
    font-weight: bold;
  }

  &SecondPart {
    color: $color-secondary;
  }
}

.formContainer {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  justify-content: space-between;

  @include media(xlarge) {
    padding: 2rem 0;
    gap: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include media(xlarge) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.resultInfosContainer {
  background-color: $color-on-secondary;
  border-top: 1px solid $color-separator;
  border-bottom: 1px solid $color-separator;
  padding: 1rem;

  @include media(xlarge) {
    padding: 2rem 1rem;
  }
}

.bodySection {
  background-color: $color-background-white-lilac;
  padding: 1rem;

  @include media(xlarge) {
    padding: 2rem 1rem;
  }
}

.inputNomMetier {
  flex-grow: 2;
}

.skeletonCards li {
  margin-bottom: 1rem;

  @include media(xlarge) {
    margin-bottom: 2rem;
  }
}

.resultList {
  padding: 0;
  margin: 0;
}

.resultCard {
  display: block;
  margin-bottom: 1rem;

  @include media(xlarge) {
    margin-bottom: 1.5rem;
  }
}

.cardBody {
  background-color: $color-on-secondary;
  box-shadow: $box-shadow;
  border-left: 3px solid $color-primary;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

.cardTitle {
  @extend %bold;
  margin-bottom: 1rem;
}

.cardContent {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  & > p {
    margin: 0;
  }
}

.cardLink {
  @extend %linkWithRightIcon;
  text-align: right;
  display: block;
}

.cardLinkIcon {
  vertical-align: bottom;
}

.container {
  padding: 1rem;

  @include media(xlarge) {
    padding-block: 2rem;
    padding-inline: 0;
  }
}

.section {
  border: 1px solid $color-separator;
  border-radius: 20px;
  box-shadow: $box-shadow;
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 1rem;

    @include media(xlarge) {
      margin-bottom: 2rem;
    }
  }
}

.disclosureSection[open] {
  .sectionDisclosureIcon {
    transform: rotate(-180deg);
    transition: transform 0.2s;
  }

  .sectionHeader {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.sectionHeader {
  padding: 1.5rem;
  border-bottom: 1px solid $color-separator;
  list-style: none;
  border-radius: 20px;
  cursor: pointer;
}

.sectionTitle {
  display: inline-block;
  color: $color-primary;
  margin-right: 0.5rem;
  line-height: 1.6rem;
  @extend %text-medium;
  @extend %bold;
}

.sectionDisclosureIcon {
  color: $color-primary;
  vertical-align: bottom;
  transition: transform 0.2s;
}

.sectionContent {
  padding: 2rem;

  h3, h4, h5 {
    margin-bottom: 1rem;
    @extend %bold;
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.abstractSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include media(large) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }
}

.mainTitle {
  background-color: $color-primary;
  color: $color-on-primary;
  text-align: center;
  padding: 1.5rem;
  @extend %text-large;
  @extend %bold;
}

.fieldDomaine, .fieldRésumé {
  @include media(large) {
    grid-column-start: span 2;
  }

  .fieldContent {
    display: inline-block;
  }
}

.fieldRésumé {
  display: flex;

  .fieldLabel {
    flex-shrink: 0;
  }
}

.fieldNiveauAccès, .fieldStatutsPro {
  @include media(large) {
    grid-column-start: 3;

  }

  .fieldContent {
    display: inline-block;

    @include media(large) {
      display: block;
    }
  }

}

.fieldLabel {
  margin-right: 0.5rem;
  @extend %text-medium;
  @extend %bold;

  @include media(large) {
    margin-right: 1rem;
  }
}


.lastSectionTitle {
  background-color: $color-primary;
  color: $color-on-primary;
  padding: 1.5rem;
  @extend %bold;
  @extend %text-medium;
}