@import "@styles/utilities";

.entete {
  margin: 2.5rem 0;
  text-align: center;
  &> *:not(:last-child) {
    padding-inline: 1rem;
  }
}

.entete h1 {
  @extend %bold, %subheading;
  margin: 0 0 1rem;
}

.entete .sousTitre {
  @extend %bold, %text-medium;
}

.entete .tags {
  margin-top: 2rem;
  justify-content: center;
}

.entete .postuler {
  margin-top: 3rem;
  justify-content: center;
}

.iframe {
  width: 100%;
  padding: 1rem;
  height: 72rem;

  @include media(large) {
    height: 50rem;
  }
}

.contenu {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.contenu dt {
  @extend %bold;
  margin-bottom: 0.5rem;
}
.contenu dt::after {
  content: " : ";
}

.contenu dd ul,
.contenu dd dl {
  padding-left: 40px;
  list-style: disc;
}
.contenu dd dl > * {
  display: list-item;
}

.niveauRequis > *,
.dateDebut > *,
.natureContrat > *,
.typeContrat > *,
.duree > *,
.rythme > *,
.adresse > *,
.telephone > *,
.description > *{
  display: inline;
  white-space: pre-line;
}
.contenu .description > * {
  @include media(large) {
    display: block;
  }
}
