@use "@styles/utilities";
@use "../TextboxShared.module" as inputStyles;

.combobox {
  @extend %comboboxes;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 6px 6px 0 0;
  margin-top: .5rem;
  
  &:focus-within {
    outline: #0a76f6 solid 2px;
    outline-offset: 2px;
  }
  
  & > button {
    border-top-left-radius: 0;
  }

  & > input {
    border-top-right-radius: 0;
    
    &:focus {
      outline: none;
    }
  }

  & > button svg {
    @extend %chevron;
    width: 1rem;
    height: 1rem;
  }
  & > [aria-expanded="true"] + button > svg {
    @extend %chevron-expanded;
  }

  & input[role="combobox"][data-touched="true"]:invalid,
  & input[role="combobox"][data-touched="true"]:invalid ~ button {
    @extend %error;
  }
  & input[role="combobox"]:valid,
  & input[role="combobox"]:not([data-touched="true"]) {
    margin-right: 0;

    & ~ button {
      margin-left: 0;
    }
  }

  & [role="option"]:hover,
  & [role="option"][aria-selected="true"] {
    @extend %hovered-option;
  }
}
