@use "@styles/utilities";
@use "../TextboxShared.module" as inputStyles;

.combobox {
  @extend %comboboxes;
  & > button {
    font-size: inherit;
    line-height: 1;
  }

  display: grid;
  grid-template-columns: 1fr auto;
  & > button svg {
    @extend %chevron;
  }
  & > [aria-expanded="true"] + button > svg {
    @extend %chevron-expanded;
  }

  @extend %outlined;
  border-radius: inputStyles.$border-radius;
  & input,
  & button {
    @extend %no-outline;
  }

  // NOTE (GAFI 27-06-2023): Impossible de changer la couleur de la bordure quand disabled si elle est sur la div parent
  & input[role="combobox"] {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 0;
  }
  & input[role="combobox"] + button {
    @extend %bordered;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  & button:disabled {
    @extend %disabled;
  }

  & input[role="combobox"][data-touched="true"]:invalid,
  & input[role="combobox"][data-touched="true"]:invalid ~ button {
    @extend %error;
  }
  & input[role="combobox"]:valid,
  & input[role="combobox"]:not([data-touched="true"]) {
    @extend %compensate-border-width;
    margin-right: 0;

    & ~ button {
      @extend %compensate-border-width;
      margin-left: 0;
    }
  }

  & [role="option"]:hover,
  & [role="option"][aria-selected="true"] {
    @extend %hovered-option;
  }
}
