@use "@styles/utilities";

.section {
  padding: 4rem 2rem;
  background: utilities.$color-background-white-lilac;

  &Container {
    img {
      display: none;
    }
    &Text {
      display: flex;
      flex-direction: column;

      @include utilities.media(medium) {
        align-self: center;
        align-items: center;
      }

      &Titre {
        color: utilities.$color-primary;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 700;

        &Accroche {
          font-size: 1.5rem;
          color: utilities.$color-secondary;
          font-weight: 400;
        }
      }
    }
  }
}

@include utilities.media(large) {
  .section {
    padding: 2rem;
    &Container {
      display: flex;
      max-width: 60rem;

      &Text {
        margin-left: 4rem;
        align-self: center;
        align-items: center;

        > a {
          align-self: flex-start;
        }
      }

      img {
        display: block;
      }
    }
  }
}
