@import "@styles/utilities";

.section {
  padding: 4rem 2rem;
  background: $color-background-white-lilac;

  &Container {
    &Illustration {
      display: none;
      position: relative;
      width: 30rem;
      height: 30rem;
    }
    &Text {
      > a {
        display: block;
      }
      &Titre {
        color: $color-primary;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 700;

        &Accroche {
          font-size: 1.5rem;
          color: $color-secondary;
          font-weight: 400;
        }
      }
    }
  }
}

@include media(large) {
  .section {
    padding: 2rem;
    &Container {
      display: flex;
      max-width: 60rem;
      &Text {
        > a {
          display: initial;
          align-self: flex-start;
        }
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
      }

      &Illustration {
        display: block;
        flex-shrink: 0;
      }
    }
  }
}
