@import "@styles/utilities";

.titre {
  margin: 1.5rem 0;
  text-align: center;
  border-bottom: 1px solid $color-separator;
  padding-bottom: 1rem;
}

.titre h1 {
  @extend %bold, %subheading;
  margin: 0 0 1rem;
}

.titre h2 {
  @extend %text-medium;
}

.buttonPostuler {
  margin: 0 auto 2rem;
}

.buttonPostuler > a {
  margin: auto;
}

.contenu {
  display: flex;
  flex-direction: column;
}

.contenu * {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.contenu p {
  margin-bottom: 1.5rem;
}

.contenu ul {
  padding-left: 40px;
  margin: 14px 0;
  list-style: disc;
}

.contenu li {
  list-style: disc;
}

.contenu h2 {
  @extend %bold;
  margin-bottom: 0.5rem;
}

.contenu h3 {
  @extend %bold;
  margin-bottom: 0.5rem;
}

.competences {
  padding-left: 1.5rem;
}

.informations  h3, .informations  p {
  display: inline;
}

.contenuAdaptatif  h3, .contenuAdaptatif  p {
  display: inline;
}

.contact {
  font-style: inherit;
}
.contact ul {
  padding-left: 0.5rem;
  list-style: "*";
}

.buttonAsLink {
  margin: auto auto 20px auto;
}

@include media(large) {
  .titre {
    display: flex;;
    flex-direction: column;
    border-bottom: 0;
  }

  .titre > ul {
    margin: auto;
  }

  .contenuAdaptatif  h3, .contenuAdaptatif  p {
    display: block;
  }

  .buttonAsLink {
    margin: auto;
  }
}

.iframe {
  width: 100%;
  height: 78rem;
}
