.container {
    display: flex;
    flex-direction: column;
}

.layout {
    padding: 0 1rem;
}

.rechercheOffreForm {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-950);
}

.filtresRechercherOffre {
    flex: 1 0;
}

.inputButtonWrapper {
    padding-top: 24px;
    padding-bottom: 32px;
}

.inputButtonWrapper > * {
    margin-bottom: 1.5rem;
}

.buttonRechercher {
    width: 100%;
}

.buttonRechercher > span {
    margin: auto;
}

.nombreRésultats {
    padding: 16px 0;
    border-bottom: 1px solid var(--grey-950);
}

.nombreRésultats > h2 {
    font-size: 1.25rem;
    margin: 0;
}

.résultatRechercheOffreList {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

.résultatRechercheOffreList > li {
    margin-top: 24px;
}

@media only screen and (min-width: 48em) {
    .layout {
        width: 100%;
        max-width: 78rem;
        margin: auto;
    }

    .rechercheOffreForm {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .buttonRechercher {
        width: initial;
        margin-top: 32px;
        margin-left: 40px;
    }

    .inputButtonWrapper {
        display: flex;
        width: 100%;
        align-items: flex-end;
        gap: 1rem;
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .inputButtonWrapper > div {
        flex-grow: 1;
    }
}