@import "@styles/utilities";

.témoignage {
  padding: 2rem;

  article {
    .portrait, h2 {
      display: none;
    }

    .bio {
      @extend %text-large;
      margin: 0 0 1em;
      p, h3 {
        font-size: inherit;
        margin: 0;
        color: inherit;
      }
    }

    .programme {
      @extend %background-surface;
      h4 {
        font-size: inherit;
      }
      ul {
        list-style-type: initial;
        padding-left: 20px;
        margin-bottom: 2rem;
      }
    }
  }

  @include media(large) {
    padding: 5rem 0;
    background-color: $color-background-white-lilac;

    & + & {
      padding-top: 0;
      margin-top: -3em;
    }

    & + & article {
      grid-template-columns: 7.8rem auto 30rem 21.5em;
      grid-template-areas:
        ".         titre     titre     titre"
        ".         .         .         ."
        ".         .         bio       portrait"
        "programme programme programme portrait"
        "programme programme programme ."
        "programme programme programme ."
        ;

      &::before {
        grid-area: 2 / 3 / span 4 / span 2;
      }

      .portrait {
        margin: 0 3em 0 1em;
      }

      .bio {
        margin: 0 0 0 $gutter;
      }

      h2 {
        text-align: right;
      }
    }

    article {
      display: grid;
      grid-template-rows: auto 50px auto auto 50px auto;
      grid-template-columns:  21.5em 30rem auto 7.8rem;
      grid-template-areas:
        "titre    titre titre ."
        ".        .     .     ."
        "portrait bio . ."
        "portrait programme programme programme"
        ".        programme programme programme"
        ".        programme programme programme"
        ;

      gap: $gutter;
      max-width: $breakpoint-xl;
      margin: 0 auto;
      padding: 0 $gutter;

      &::before {
        content: '';
        background-color: $color-cej-background;
        grid-area: 2 / 1 / span 4 / span 2;
        border-radius: 20px;
      }


      h2 {
        display: initial;
        font-size: 1.8em;
        color: $color-primary;
        margin: 3em 0 0 0;
        grid-area: titre;
      }

      .bio {
        grid-area: bio;
        color: $color-on-primary;
        margin: 0 $gutter 0 0;
      }


      .portrait {
        grid-area: portrait;
        display: initial;
        justify-self: end;
        position: relative;
        margin: 0 2em 0 3em;
        line-height: 0;
        border: solid 4px $color-on-primary;
        box-shadow: 16px 16px 0px $color-primary;
      }

      .programme {
        grid-area: programme;
        border-radius: 1.25rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 1.5;
        padding: $gutter;

        h4 {
          font-size: initial;
        }

        ul > li {
          margin-top: $gutter;
        }
      }
    }
  }
}

.buttonAccordeon {
  @extend %text-large;
  color: $color-primary;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding: 0;

  svg {
    flex-shrink: 0;
    flex-grow: 0;
  }
}
