@use "@styles/utilities";

.header {
  background-color: utilities.$color-background-primary-alternative;
  padding: 2rem 1rem;

  & .titre {
    text-align: center;
    @extend %headline;
    font-size: 1.25rem;
    @extend %bold;
  }

  & .sousTitre {
    @include utilities.text-medium;
    color: utilities.$color-text-primary-alternative;
  }
}

.formulaireContainer {
  padding: 0 1rem;

  & .boutonRetour {
    margin: 1.25rem 0 1.25rem 0;
  }
}

.decharge {
  background-color: utilities.$color-background-primary-alternative;
  border-radius: 1.25rem;
  margin: 1.5rem 0 1.5rem 0;

  p {
    color: utilities.$color-text-placeholder;
    font-size: 0.7rem;
    padding: 1rem;
  }
}
