@import "@styles/_utilities";

.heroTitle {
  @extend %bold;
}

.heroSubtitle {
  @extend %text-large;
  margin-top: 1em;
}

.content {
  padding: 1rem;
}

.container {
  max-width: 78em;
}

.boutonRetour {
  @extend %text-regular;
  margin-block: 1.25rem;
}

.formulaire {
  .bodyFormulaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .label {
    @extend %bold;
    margin-top: 1.5rem;
  }

  .textArea {
    margin-top: 1rem;

    > textarea {
      min-height: 8rem;
      padding-top: 1rem;
    }
  }

  .buttonFormulaire {
    margin-top: 1.5rem;
  }

  .validation {
    margin-top: 1.5rem;

    > button {
      white-space: normal;
    }

    p {
      font-size: 0.7rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.champsObligatoires {
  color: $color-primary;
  margin-top: 1.25rem;

  > p:first-child {
    @extend %text-large;
    @extend %bold;
    margin-bottom: 1rem;
  }

  > p:last-child {
    @extend %text-medium;
  }
}

.etape {
  background-color: $color-primary;
  color: white;
  max-width: 8rem;
  text-align: center;
  padding: 4px;
}

.success {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p:first-child {
    color: $color-primary;
    @extend %bold;
    @extend %text-xLarge;
  }

  p:last-child {
    color: $color-on-surface;
    @extend %bold;
    @extend %text-medium;
  }

  a {
    width: 100%;
  }
}



@include media(large) {

  .content {
    background-color: $color-background;
    padding: 0 8rem 2rem;
  }

  .container {
    max-width: 92em;
  }

  .etape {
    margin-left: 8rem;
  }

  .champsObligatoires {
    margin-left: 8rem;
  }

  .boutonRetour {
    margin-top: 1rem;
    margin-left: 8rem;
  }

  .formulaire {
    background-color: $color-background;
    border-radius: 40px;
    padding: 2rem 8rem 1rem;
    margin-top: 1.5rem;

    .bodyFormulaireEtape3 {
      display: flex;
      flex-direction: column;
      place-items: center;
      > div {
        width: 100%;
        margin-bottom: 1.5rem;
      }

    }

    .validation {
      width: min-content;
      margin: 4rem auto 0 auto;

      > button {
        min-width: 25rem;
        white-space: nowrap;
      }

      p {
        font-size: 0.7rem;
      }
    }
  }
  .success {
    width: 50%;
    margin: auto;
  }

}

@include media(xlarge) {
  .formulaire {
    padding: 2rem 8rem 1rem;

    .bodyFormulaire {
      flex-direction: row;
      justify-content: space-between;

      > div {
        width: 48%;
      }
    }
  }
}
