@import "@styles/utilities";

.card {
  display: flex;
  flex-direction: column;
  background: $color-surface;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  &Header {
    display: flex;
    padding: 1.5rem;
    border-bottom: 4px solid $color-primary;

    > img {
      width: 56px;
      height: 56px;
    }
  }

  &Description {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
  }
}

.offreLead {
  margin-left: 2rem;
  line-height: 1.5;
  &Title {
    @extend  %bold;
    font-size: 1rem;
  }
  &SubTitle {
    min-height: 24px;
    font-size: 0.75rem;
  }
}

.callToAction {
  color: $color-primary;
}

@include media(medium) {
  .card {
    padding: 1rem 1.5rem;
    border-left: 4px solid $color-primary;

    &Header {
      display: flex;
      width: 100%;
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;

      > img {
        width: 120px;
        height: 120px;
      }
    }

    .offreLead {
      margin-left: 2.5rem;
      width: 100%;
      &Title {
        font-size: 1.25rem;
      }
      &SubTitle {
        font-size: 1rem;
      }
    }

    &Description {
      width: 100%;
      margin-top: 1rem;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;

      .callToAction {
        flex-shrink: 0;
        align-self: center;
      }
    }
  }

}

