@import "@styles/utilities";

.card {
  display: flex;
  flex-direction: column;
  background: var(--background-default-grey);
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  border-bottom: 4px solid $color-primary;;
}

.logoEntreprise {
  flex-shrink: 0;
}

.offreLead {
  margin-left: 24px;
  line-height: 1.5;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.cardBody > *:not(:last-child) {
  margin-bottom: 20px;
}

.callToAction {
  @extend %linkWithRightIcon;
}

@media screen and (min-width: 48em) {
  .card {
    padding: 32px 40px;
    border-left: 4px solid $color-primary;
  }

  .cardHeader {
    border-bottom: none;
    padding: 0 40px 0 0;
  }

  .cardBody {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    ul {
      padding-left: 80px;
    }

    .callToAction {
      align-self: center;
    }
  }


}

