@import "@styles/utilities";

.card {
  display: flex;
  flex-direction: column;
  background: $color-surface;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.cardHeader {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  border-bottom: 4px solid $color-primary;
}

.logoEntreprise {
  flex-shrink: 0;
}

.offreLead {
  margin-left: 2rem;
  line-height: 1.5;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.callToAction {
  @extend %linkWithRightIcon;
}

@include media(medium) {
  .card {
    padding: 2rem 2.5rem;
    border-left: 4px solid $color-primary;
  }

  .cardHeader {
    border-bottom: none;
    margin-bottom: 1.5rem;
    padding: 0 2.5rem 0 0;
  }

  .cardBody {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    ul {
      padding-left: 80px;
    }

    .callToAction {
      align-self: center;
    }
  }
}

