@use "@styles/utilities";

.card {
  position: relative;
  background: utilities.$color-surface;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  .cardLead {
    display: flex;
  }

  &Link {
    &Container {
      padding: 1rem;
      text-align: right;
      margin-top: auto;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    &CallToAction {
      @extend %text-medium;
      color: utilities.$color-primary;
    }
  }

  &TagsAndCTA {
    padding: 0.75rem;
  }
}

.cardLead {
  display: flex;
  padding: 1.5rem;
  border-bottom: 4px solid utilities.$color-primary;

  > img {
    margin-top: auto;
    margin-bottom: auto;
    width: 56px;
    height: 56px;
  }
}

.offreLead {
  margin-left: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  &Title {
    @extend %bold;
    @extend %text-medium
  }

  &SubTitle {
    min-height: 24px;
    @extend %text-regular;
  }

  &Description {
    @extend %text-regular;
  }
}


@include utilities.media(medium) {
  .card {
    padding: 2rem 1.5rem;
    border-left: 4px solid utilities.$color-primary;

    &Lead {
      display: flex;
      width: 100%;
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;

      > img {
        width: 120px;
        height: 120px;
      }
    }

    .offreLead {
      margin-left: 2.5rem;
      width: 100%;
    }

    &TagsAndCTA {
      height: 100%;
      margin-top: 1rem;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    &Link {
      &Container {
        margin-top: auto;
        padding: 0;
      }
    }
  }
}

