@import "@styles/utilities";

.section {
  border: 1px solid $color-separator;
  border-radius: 20px;
  box-shadow: $box-shadow;
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 1rem;

    @include media(xlarge) {
      margin-bottom: 2rem;
    }
  }

  details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.foldingSectionContent {
  border: 1px solid $color-separator;
  border-radius: 0 0 20px 20px;
  background-color: $color-surface;
}

.abstractSection {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;

  @include media(large) {
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-auto-flow: column;
  }
}

.mainTitle {
  background-color: $color-primary;
  color: $color-on-primary;
  text-align: center;
  padding: 1.5rem;
  @extend %text-large;
  @extend %bold;
}

.fieldDomaine, .fieldRésumé {
  @include media(large) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .fieldContent {
    display: inline-block;
    vertical-align: sub;
  }
}

.fieldDomaine .fieldContent {
  @include media(medium) {
    max-width: 75%;
  }
}

.fieldRésumé {
  @include media(large) {
    display: flex;
  }

  .fieldLabel {
    flex-shrink: 0;
  }
}

.fieldNiveauAccès, .fieldStatutsPro {
  @include media(large) {
    grid-column-start: 3;
  }

  .fieldContent {
    display: inline-block;

    @include media(large) {
      display: block;
    }
  }
}

.fieldLabel {
  margin-right: 0.5rem;
  @extend %text-medium;
  @extend %bold;

  @include media(large) {
    margin-right: 1rem;
  }
}

.lastSectionTitle {
  background-color: $color-primary;
  color: $color-on-primary;
  padding: 1.5rem;
  @extend %bold;
  @extend %text-medium;
}