@use '@styles/utilities-deprecated';
@use '@styles/utilities';

.enqueteBanner {
  @include utilities.text-small;
  text-align: center;
  background: utilities-deprecated.$white-lilac;
  color: utilities-deprecated.$color-primary;
  padding: utilities.pixel-to-rem(20) utilities.pixel-to-rem(8);

  & .enqueteLink:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  & .enqueteUrlDeuxiemePhrase {
    display: unset;
  }
}
