@import "@styles/utilities";


.container {
  display: grid;
  padding: 0 1.5rem;
  place-items: center;
}

.article li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article h2 {
  color: $color-primary;
  font-size: 1.5rem;
}

.article ul {
  list-style: unset;
  margin-left: 1rem;
}

@include media(large) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5rem;
  }
}
