@use "@styles/utilities";


.container {
  display: grid;
  padding: 0 1.5rem;
  place-items: center;
}

.avantages li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.avantages h2 {
  color: utilities.$color-primary;
  font-size: 1.5rem;
}

.avantages ul {
  list-style: unset;
  margin-left: 1rem;
}

@include utilities.media(large) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5rem;
  }
}
