@import "@styles/utilities";

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &Slogan {
    display: flex;
    font-size: 1rem;
  }

  &Devise {
    font-size: 0.75rem;
    font-style: italic;
  }

  &Logo {
    display: flex;
    flex-direction: column;
  }

  &LogoFranceRelance {
    margin-left: 40px;
  }

  &Proprietaire {
    font-weight: bold;
    text-transform: uppercase;
    width: 130px;
  }
}

.footerLienExterne {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  font-size: 0.875rem;
  padding-top: 20px;
  color: $color-mine-shaft;
  font-weight: bold;

  & > a {
    box-shadow: none;
  }

  & > a > svg {
    width: 12px;
    height: 12px;
  }
}

.footerMessage {
  font-size: 0.875rem;
  color: $color-mine-shaft;

  & > div {
    padding-top: 20px;
  }
}

.footerLienUtile {
  border-top: 1px solid $color-mention-grey;
  font-size: 0.75rem;
  color: $color-mention-grey;
  margin-top: 20px;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  padding-top: 10px;

  & > a {
    border-right: 1px solid $color-mention-grey;
    padding: 10px 10px 10px 0;
    line-height: 0px;
    box-shadow: none;
  }

  & > a > svg {
    width: 12px;
    height: 12px;
  }

  & > div {
    margin-top: 20px;
  }
}

.footerCopyRight {
  padding-top: 10px;
  font-size: 0.75rem;
  color: $color-mention-grey;

  & > a > svg {
    width: 12px;
    height: 12px;
  }
}

.preFooter {
  background-color: #18753C;
  color: white;
  padding: 32px 16px 32px 16px;
  text-align: center;
}

@include media(large) {

  .footer {
    &Header {
      display: flex;
      flex-direction: row;
    }

    &Slogan {
      width: 50%;
      font-size: 1.125rem;
    }

    &Message > div:not(:last-child) {
      padding-top: 0;
    }

    &LienUtile > div {
      margin-top: 0;
    }

    &MessageWrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &Devise {
      font-size: 0.875rem;
      font-style: italic;
    }
  }

  .footerLienExterne {
    font-size: 1rem;
  }

  .footerLienUtile {
    font-size: 0.875rem;
  }

  .footerCopyRight {
    font-size: 0.875rem;
  }

  .footerProprietaire {
    width: 240px;
  }
}
