@import "@styles/utilities";

.footer {
  padding: 2rem 1.5rem;

  &Slogan {
    display: flex;
    @extend %text-medium;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &Devise {
    margin-top: 0.4rem;
  }

  &Logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &LogoFranceRelance {
    margin-left: 2.5rem;
  }

  &Propriétaire {
    @extend %bold;
    line-height: 1;
    text-transform: uppercase;

    & > span {
      display: block;
    }
  }

  &LienExterne {
    display: flex;
    gap: 0.5rem 1.25rem;
    flex-wrap: wrap;
    @extend %text-small;
    @extend %bold;

  }

  &Message {
    @extend %text-small;
    color: $color-mine-shaft;

    & > p {
      margin-bottom: 1rem;
    }
  }

  &LienUtile {
    border-top: 1px solid $color-separator;
    color: $color-mention-grey;
    margin-top: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.7rem;
    font-size: .75rem;

    & > a {
      padding: 0.7rem 0.7rem 0.7rem 0;

      &:not(:last-child) {
        border-right: 1px solid $color-separator;
        margin-right: 0.7rem;
      }
    }

    & > a > svg {
      width: 12px;
      height: 12px;
    }
  }

  &LinkAction {
    display: inline-flex;
    align-items: center;
    align-self: flex-end;
    svg {
      margin-left: 0.5ch;
    }
  }

  &CopyRight {
    padding-top: 0.7rem;
    color: $color-mention-grey;
    font-size: .75rem;

    & > a > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.preFooter {
  background-color: $color-secondary;
  color: white;
  padding: 2.5rem 1rem;
  text-align: center;
  font-weight: 500;
}

@include media(large) {
  .footer {
    &Header {
      display: flex;
      flex-direction: row;
    }

    &Slogan {
      width: 50%;
      margin-bottom: 0;
    }

    &Message > div:not(:last-child) {
      padding-top: 0;
    }

    &LienUtile > div {
      margin-top: 0;
    }

    &MessageWrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}
