@import "@styles/utilities";

.section {
   padding: 3rem 0;
   background: $color-on-primary;
}

.container {
    gap: 3rem;
    margin: 0 auto;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;
}

.titre {
  place-self: stretch;
}

.article p:last-child {
  margin-bottom: 0;
}

.soustitre {
  color: $color-primary;
}

.accordion > button {
  margin: 0;
}

@include media(large){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
