@import "@styles/utilities";

.section {
   padding: 3rem 0;
   background: $color-background;
}

.container {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;
}

.illustration {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    height: 20rem;
  }

.article p:last-child {
  margin-bottom: 0;
}

.article h2 {
  color: $color-primary;
}

.article p {
  color: $color-on-background;
  font-weight: bold;
}

.article li {
  color: $color-on-background;
}

.article em {
  font-style: normal;
  font-weight: bold;
}

.article strong {
  font-weight: bold;
  color: $color-primary;
}

.titre {
  color: $color-primary;
}

.accordion > button {
  margin: 0;
}

@include media(large) {

  .section {
    background: $color-primary;
    padding: 0;
    margin-top: 5rem;
  }

  .container{
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .illustration {
    place-self: stretch center;
    width: 25rem;
    height: 29.5rem;
    margin-top: -30px;
    margin-bottom: -30px;
  }
  
  .article {
    padding: 0;
  }

  .article p:last-child {
    margin-bottom: 0;
  }
  
  .article h2, .article li {
    color: $color-on-primary;
  }
  
  .article p {
    color: $color-on-primary;
    font-weight: normal;
  }
  
  .article strong {
    color: $color-on-primary;
  }

  .titre {
    color: $color-on-primary;
  }
}