@import "@styles/utilities";

.section {
   padding: 3rem 0;
   background: $color-primary;
}

.container {
    display: grid;
    gap: 3rem;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 78rem;
    padding: 0 1.5rem;
    place-items: center;
}

.illustration {
    position: relative;
    place-self: stretch center;
    border-radius: 30px;
    overflow: hidden;
  }

.article p:last-child {
  margin-bottom: 0;
}

.article h2 {
  color: $color-on-primary;
}

.article p {
  color: $color-on-primary;
}

.article li {
  color: $color-on-primary;
}

.article em {
  font-style: normal;
  font-weight: bold;
}

.article strong {
  font-weight: bold;
  color: $color-on-primary;
}

@include media(large) {

  .container{
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .section {
    z-index: 0;
    padding: 0;
    margin-top: 5rem;
 }

  .illustration {
    z-index: 2;
    width: 25rem;
    height: 29.5rem;
    margin-top: -30px;
    margin-bottom: -30px;
  }
  
  .article {
    padding: 0;
  }
}