@import "@styles/utilities";

.section {
  background: #ea711b;
  padding: 3rem 0 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.titre {
  color: white;
  font-weight: 700;
  width: 325px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 0.5rem;
}

.liste {
  padding: 0;
}

.liste > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: white;
  height: 60px;
  font-size: 12px;
  padding: 12px;
  margin: 12px 0;
  line-height: 16.5px;
}

.liste > li:first-child {
  margin-top: 0;
}

.arrow {
  background-color: $color-primary;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 60px;
}

@include media(medium) {
  .section {
    padding: 3rem 0;
  }

  .container {
    margin : 0 auto;
    justify-content: center;
    align-items: center;
  }

  .titre {
    margin: 55px;
    width: 510px;
    font-size: 40px;
    line-height: 55px;
  }

  .liste > li {
    height: auto;
    line-height: 40px;
    padding: 20px;
    margin: 24px;
    font-size: 20px;
  }

  .arrow {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
}

