@import "@styles/utilities";

.témoignage {
  padding: 2rem;

  article {
    .portrait, h2 {
      display: none;
    }

    .bio {
      font-size: 1.2em;
      margin: 0 0 2em;
      p, h3 {
        font-size: inherit;
        margin: 0;
        color: inherit;
      }
    }

    .programme {
      h4 {
        font-size: inherit;
      }
    }
  }

  @include media(medium) {
    padding: 5rem 0;
    background-color: $color-background;

    article {
      display: grid;
      grid-template-columns: 21.6875rem 30.1875rem 1fr 7.5625rem;
      grid-template-rows: auto 3.125rem auto auto 3.125rem auto;
      gap: 1.5em;
      max-width: 78rem;
      margin: 0 auto;
      padding: 0 1.5rem;

      &::before {
        content: '';
        background-color: #E96F19;
        grid-row: 2/span 4;
        grid-column: 1/span 2;
        border-radius: 20px;
      }


      h2 {
        display: initial;
        font-size: 1.8em;
        color: $color-primary;
        margin: 3em 0 0 0;
        grid-row: 1;
        grid-column: 1/span 3;
      }

      .bio {
        grid-column: 2;
        grid-row: 3;
        color: white;
        margin: 0 1.5em 0 0;

      }


      .portrait {
        display: initial;
        grid-row: 3/span 2;
        grid-column: 1;
        justify-self: end;
        position: relative;
        margin: 0 2em 0 3em;
        border: solid 4px white;
        box-shadow: 16px 16px 0px #566bb1;
      }

      .programme {
        grid-column: 2/span 2;
        grid-row: 4/span 3;
        background: white;
        border-radius: 1.25rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 1.5;

        padding: 1.5em;
        font-size: 0.9em;

        h4 {
          font-size: initial;
        }

        ul > li {
          margin-top: 1.5em;
        }

      }
    }
  }
}
