@use "@styles/utilities";

$color-contact-mail: utilities.$color-primary;
$color-summary: utilities.$color-primary;
$color-summary-hover: utilities.$color-cta-background-primary-hover;

.card {
  padding: 1rem;

  @include utilities.media(large) {
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0 0;
  }
}

.content {
  min-height: 10rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
            "logo titre"
            "tags tags"
            "horaire horaire"
            "contact contact";

  @include utilities.media(large) {
    width: 100%;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
            "logo titre horaire"
            "logo tags horaire"
            "logo contact horaire";
  }
}

.logo {
  grid-area: logo;
  width: 6.8rem;
  height: 6.8rem;
  align-self: center;
  margin-right: 2rem;
}

.title {
  margin-bottom: 0.5rem;
}

.mainInfoEtablissement {
  grid-area: titre;
}

.tags {
  grid-area: tags;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;

  @include utilities.media(large) {
    margin-block: 1rem;
  }

  & .telephone {
    text-decoration: none;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    & svg {
      width: 1em;
      height: 1em;
    }
  }
}

.contactMailÉtablissement {
  grid-area: contact;
}

.contactMailÉtablissementDektop {
  display: none;
  @include utilities.media(large) {
    display: flex;
  }
}

.contactMailÉtablissementMobile {
  margin-top: 1.25rem;
  width: 100%;
  @include utilities.media(large) {
    display: none;
  }
}

.contactFormulaireÉtablissement {
  grid-area: contact;
}

.contactFormulaireÉtablissementMobileOnly {
  margin-top: 1.25rem;
  width: 100%;
  justify-content: center;

  @include utilities.media(large) {
    display: none;
  }
}

.contactFormulaireÉtablissementDesktopOnly {
  display: none;

  @include utilities.media(large) {
    display: flex;
  }
}

.buttonIcon {
  vertical-align: sub;
  margin-left: 0.5rem;
}

.details {
  grid-area: horaire;

  @include utilities.media(large) {
    margin-left: auto;
    padding-right: 1.5rem;
  }

  .summary {
    margin-bottom: 0.5rem;
    font-weight: normal;
    padding: 0.5rem 0 0 0;
    text-align: start;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: $color-summary;
    cursor: pointer;
    list-style: none;
    width: 16rem;

    &::-webkit-details-marker { // Enlève le marqueur par défaut présent sur Safari
      display: none;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23566BB1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
      vertical-align: top;
      margin-left: 0.5rem;
    }

    @include utilities.media(large) {
      text-align: center;
      font-size: 1rem;
      padding: 0;
    }

    &:hover {
      color: $color-summary-hover;
      list-style: none;

      &:after {
        background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23040085' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
      }
    }
  }

  &[open] .summary:after {
    transform: rotate(-180deg);
  }
}

.horaireBackground {
  width: 16.7rem;
  display: flex;
  align-self: center;

  @include utilities.media(large) {
    width: calc(100% + 3rem);
  }
}

.listeHoraire {
  list-style: none;
  line-height: 1.15rem;
  margin-block: 0.25rem;
  margin-inline: auto;
  width: 16rem;
  @include utilities.text-small;

  @include utilities.media(large) {
    margin-left: 0;
    width: auto;
  }
}
