@use "@styles/utilities";

.card {
  padding: 1rem;

  @include utilities.media(large) {
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0 0;
  }
}

.content {
  display: flex;
  align-self: stretch;
  gap: 2rem;
  min-height: 10rem;
  align-items: stretch;
}

.logo {
  width: 6.8rem;
  align-self: center;

  &Alignment {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
}

.logo, .logoAlignment {
  height: 6.8rem;
  flex-shrink: 0;
}

.mainContent {
  @include utilities.media(large) {
    display: flex;
    flex-direction: column;
  }
}

.title {
  margin-bottom: 0.5rem;
  @extend %text-medium;
}

.address {
  @extend %text-regular;
}

.tags {
  list-style-type: none;

  @include utilities.media(large) {
    margin-block: 1rem;
  }
}

.contactMailÉtablissement {
  color: utilities.$color-primary;
  margin-top: 1.25rem;
  font-weight: bold;
  text-decoration: none;

  @include utilities.media(large) {
    align-self: flex-start;
  }
}

.contactFormulaireÉtablissement {
  margin-top: 1.25rem;
  font-weight: bold;
  align-self: center;
  font-size: 1rem;

  @include utilities.media(large) {
    align-self: flex-start;
  }
}

.buttonIcon {
  vertical-align: sub;
  margin-left: 0.5rem;
}

.details {
  width: 15rem;
  align-self: center;

  @include utilities.media(large) {
    margin-left: auto;
    width: auto;
    padding-right: 1.5rem;
    align-self: flex-start;
  }

  .summary {
    @extend %text-regular;
    margin-bottom: 0.5rem;
    font-weight: normal;
    padding: 0.5rem 0 0 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: utilities.$color-primary;
    cursor: pointer;
    list-style: none;
    width: 16rem;

    &:after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23566BB1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
      vertical-align: top;
      margin-left: 0.5rem;
    }

    @include utilities.media(large) {
      font-size: 1rem;
      padding: 0;
    }

    &:hover {
      color: utilities.$color-primary-on-hover;
      list-style: none;

      &:after {
        background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23735BF2' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
      }
    }
  }

  &[open] .summary:after {
    transform: rotate(-180deg);
  }
}

.horaireBackground {
  width: 16.7rem;
  display: flex;
  align-self: center;

  @include utilities.media(large) {
    width: calc(100% + 3rem);
  }
}

.listeHoraire {
  list-style: none;
  line-height: 1.15rem;
  margin-block: 0.25rem;
  margin-inline: auto;
  width: 16rem;
  @extend %text-small;

  @include utilities.media(large) {
    margin-left: 0;
    width: auto;
  }
}
