@use '@styles/utilities';

.informationSurEmbauche {
  max-width: 100%;
  
  & .aideFinanciere {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.75rem 1rem;

    @include utilities.media(large) {
      gap: 2.5rem;
      padding: 5rem 1rem
    }

    & span {
      display: inline-block;
    }
  }

  & h2 {
    @extend %subheading;
    color: utilities.$color-primary;
    flex-grow: 1;

    @include utilities.media(large) {
      text-align: center;
    }
  }

  & .description {
    @include utilities.media(large) {
      text-align: center;
    }
  }

  & .link {
    max-width: 60ch;
    width: 100%;
    justify-content: center;
    align-self: center;

    @include utilities.media(large) {
      max-width: fit-content;
    }
  }
}
