@import "@styles/utilities";

.application {
  padding: 40px 20px;
  background: $color-primary;

  &Container {
    background: $color-on-primary;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
  }

  &Description {
    @extend %text-regular;
    font-weight: 700;
    text-align: center;
  }

  &Telecharger {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 12.5rem));
    justify-content: center;
    gap: 0.5rem;
    margin-top: 20px;

    @include media(large) {
      gap: 0.75rem;
    }

    &Lien {
      display: flex;
      align-items: center;
      gap: .5rem;
      background: $color-on-background;
      color: $color-on-primary;
      text-align: left;
      line-height: 1rem;
      font-size: 0.625rem;
      font-weight: 400;
      border-radius: 8px;
      padding: 8px 10px;
      text-decoration: none;

      @include media(large) {
        font-size: 0.875rem;
      }

      &Logo {
        position: relative;
        flex: 0 0 35px;
        align-self: stretch;

        @include media(large) {
          flex-basis: 50px;
        }
      }

      &Store {
        font-weight: 500;
        white-space: nowrap;

        @include media(large) {
          font-size: 1.25rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@include media(large) {
  .application {
    padding: 2.5rem 0;

    &Container {
      max-width: 32rem;
      margin: 0 auto;
      border-radius: 20px;
    }

    &Description {
      line-height: 1.5rem;
    }
  }
}
