@use "@styles/utilities-deprecated";
@use "@styles/utilities";

.application {
  padding: 40px 20px;
  background: utilities.$color-background-secondary;

  @include utilities.media(large) {
    padding: 2.5rem 0;
  }

  & .applicationContainer {
    background: utilities.$color-background-primary;
    padding: 20px;
    border-radius: 12px;
    text-align: center;

    @include utilities.media(large) {
      max-width: 32rem;
      margin: 0 auto;
      border-radius: 20px;
    }

    & .applicationDescription {
      @include utilities.text-medium;
      font-weight: bold;
      text-align: center;
    }

    & .applicationTelecharger {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 12.5rem));
      justify-content: center;
      gap: 0.5rem;
      margin-top: 20px;

      @include utilities.media(large) {
        gap: 0.75rem;
      }

      & .applicationTelechargerLien {
        display: flex;
        align-items: center;
        gap: .5rem;
        background: utilities-deprecated.$color-on-background;
        color: utilities.$color-cta-texte-primary;
        font-size: 0.625rem;
        border-radius: 8px;
        padding: 8px 10px;
        text-decoration: none;
        text-align: left;

        &:focus {
          outline: 2px solid utilities.$color-primary;
          outline-offset: 2px;
        }

        @include utilities.media(large) {
          @include utilities.text-small;
        }

        & .applicationTelechargerLienLogo {
          position: relative;
          flex: 0 0 35px;
          align-self: stretch;

          @include utilities.media(large) {
            flex-basis: 50px;
          }
        }

        & span {
          display: block;
          font-weight: bold;
          margin-top: 0.5ch;
          white-space: nowrap;

          @include utilities.media(large) {
            @include utilities.text-large;
          }
        }
      }
    }
  }
}

