@use "src/styles/utilities";

.iframe {
  min-width: 100%;
  min-height: 1500px;
  margin-top: 1rem;

/*
  height: 2790px;

  @include utilities.media(small) {
      height: 2000px;
  }


  @include utilities.media(medium) {
      height: 1750px;
  }

  @include utilities.media(xlarge) {
      height: 1500px;
  }*/

}
