@use "@styles/utilities-deprecated";
@use "@styles/utilities";
@use "@styles/components/form/variables";

$checkbox-width: 1em;
$checkbox-padding: .5rem;

%checkbox {
  content: "";
  width: $checkbox-width;
  aspect-ratio: 1;
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px utilities-deprecated.$color-on-surface;
}

%checkbox-checked {
  background-color: utilities-deprecated.$color-primary;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23fff' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
}

.checkbox {
  position: relative;

  label {
    display: block;
    color: utilities-deprecated.$color-on-surface;
    @extend %label-champ;
  }

  input[type=checkbox] {
    position: absolute;
    margin: 0;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);

    &:focus + label:before {
      outline: 2px solid utilities-deprecated.$color-primary;
      outline-offset: 2px;
    }
  }

  input[type=checkbox] + label {
    position: relative;
    padding: 0.75rem 0 .75rem calc($checkbox-width + 2*$checkbox-padding);
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  input[type=checkbox] + label::before {
    @extend %checkbox;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $checkbox-padding;
  }

  input[type=checkbox]:checked + label::before {
    @extend %checkbox-checked;
  }
}
