@use "@styles/utilities";
@use "@styles/components/form/variables";

$checkbox-width: 1rem;
$checkbox-padding: .5rem;

%checkbox {
  width: $checkbox-width;
  aspect-ratio: 1;
  border-radius: 0.25rem;
  border: 1px solid utilities.$color-text-primary;
  vertical-align: baseline;
}

%checkbox-checked {
  background-color: utilities.$color-primary;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23fff' d='M10 15.17l9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/></svg>");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox {
  // FIXME (GAFI 23-10-2024): Déplacer la gestion du layout dans les parents
  margin-block: 0.75rem;
  label {
    display: inline;
    color: utilities.$color-text-primary;
    @extend %label-champ;
  }

  input[type=checkbox] {
    appearance: none;
    outline-offset: 2px;
    margin-inline: $checkbox-padding;
  }

  input[type=checkbox] {
    @extend %checkbox;
  }

  input[type=checkbox]:checked {
    @extend %checkbox-checked;
  }
}
