@import "@styles/_utilities";

.content {
  padding: 2rem 1rem 2rem 1rem;
  background-color: $color-background-white-lilac;

  h1 {
    @extend %text-xLarge;
    color: $color-primary;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  p:nth-child(2) {
    @extend %text-xLarge;
    @extend %bold;
    color: $color-secondary;
    margin-bottom: 2.5rem;
  }
}

.lesEntreprisesSEngagent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-blue-navy;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 20px;

  img {
    width: 65px;
    height: 65px;
  }
}

.linkAsButtonWrapper {
  margin: 40px auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@include media(large) {
  .content {
    padding: 2rem 1rem 4rem 1rem;
    
    .container {
      max-width: 45rem;
      margin: auto;
    }

    h1 {
      text-align: left;
    }

    p:nth-child(2) {
      text-align: left;
    }

    p:nth-child(3) {
      margin: auto;
      line-height: 1.5rem;
    }
  }

  .linkAsButtonWrapper {
    width: 60%;
  }
}
