@import "@styles/utilities";

.referencer {
  padding: 4rem 0 4rem 0;
  background-color: $color-background-white-lilac;

  &Container {
    @extend %max-container;
    display: grid;
    gap: 2rem;
    padding: 0 1.5rem;
    place-items: center;

    &Titre {
      @extend %bold;
      color: $color-primary;
      max-width: 50rem;
      text-align: left;
      font-size: 1.75rem;
    }

    a {
      @extend %text-medium;
      margin: 20px auto auto;
      padding: 0 4rem;
      height: 40px;
    }

    a::after {
      display: none;
    }

    p {
      @extend %text-large, %bold;
    }

    ul {
      @extend %bold;
      max-width: 33rem;
      margin-left: 1.5rem;
      list-style-type: disc;
      li {
        margin-top: 0.5rem;
      }
    }

    &Bouton {
      text-align: center;
    }
  }
}

@include media(large) {
  .referencer {
    &Container {
      &Titre {
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        margin-right: 10rem;
      }

      ul {
        margin-left: 0;
        max-width: 37rem;
      }
    }
  }
}
