@import "@styles/utilities";

.referencer {
  padding: 2rem 1rem 2rem 1rem;
  background-color: $color-background-white-lilac;
  display: grid;

  &Titre {
    @extend %bold;
    color: $color-primary;
    max-width: 43rem;
    text-align: left;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  a {
    @extend %text-medium;
    margin: 20px auto auto;
    padding: 0px 3rem;
    height: 40px;
  }

  a::after {
    display: none;
  }

  p {
    @extend %text-large, %bold;
  }

  ul {
    margin-left: 1.5rem;
    list-style-type: disc;
    margin-top: 1rem;
    margin-bottom: 2rem;
    li {
      margin-top: 0.5rem;
    }
  }

  &Bouton {
    text-align: center;
  }
}

@include media(large) {
  .referencer {
    padding: 4rem 1rem 4rem 1rem;

    .container {
      max-width: 45rem;
      margin: auto;
    }
  }
}
