@use "@styles/utilities";

.referencer {
  padding: 2rem 1rem 2rem 1rem;
  background-color: utilities.$color-background-white-lilac;
  display: grid;

  .container {
    display: flex;
    flex-direction: column;
  }
  &Titre {
    @extend %bold;
    color: utilities.$color-primary;
    max-width: 43rem;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &Bouton {
    margin: auto;
  }

  p {
    @extend %text-large, %bold;
  }

  ul {
    margin-left: 1.5rem;
    list-style-type: disc;
    margin-top: 1rem;
    margin-bottom: 2rem;
    li {
      margin-top: 0.5rem;
    }
  }
}

@include utilities.media(large) {
  .referencer {
    padding: 4rem 1rem 4rem 1rem;

    .container {
      max-width: 45rem;
      margin: auto;
    }
  }
}
