@import "@styles/utilities";

.monEspace {
  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;
  background-color: $color-background-white-lilac;

  &Titre {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  &Accroche {
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
  }

  &Description {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  &Connexion {
    display: block;
    margin-bottom: 1.5rem;
  }

  &Inscription {
    color: $color-primary;
    display: block;
    text-align: center;

    svg {
      vertical-align: middle;
      margin-right: 0.5rem;
    }

    &:hover {
      color: $color-primary-on-hover;
    }
  }
}

@include media(large) {
  .monEspace {
    padding: 4rem 1rem 4rem 1rem;

    .container {
      max-width: 45rem;
      margin: auto;

      &Boutons {
        max-width: 28rem;
        margin: 40px auto auto;
        flex-direction: column;
      }

      &Info {
        max-width: 30rem;
        margin: 40px auto auto;
        display: flex;
        flex-direction: column;
        gap: 1rem
      }
    }

    &Titre {
      color: $color-primary;
      font-weight: 700;
      text-align: left;
    }

    &Accroche {
      font-weight: 400;
      color: $color-secondary;
      margin-bottom: 3.5rem;
      text-align: left;
    }

    &Description {
      line-height: 2rem;
      font-size: 1rem;
      margin-bottom: 4rem;
    }

    &Connexion {
      display: block;
    }

    &Inscription {
      &Lien {
        display: grid;
        grid-template-columns: 0fr 10fr;
        align-items: center;
      }
    }
  }
}
