@import "@styles/utilities";

.monEspace {
  margin: 0 auto;
  padding: 2rem 1rem 2rem 1rem;
  background-color: $color-background-white-lilac;

  &Titre {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  &Accroche {
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
  }

  &Description {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  &Connexion {
    margin-bottom: 0.5rem;
    display: flex;
  }

  &Inscription {
    background-color: transparent !important;
    color: $color-primary !important;

    &Lien {
      text-align: left;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr 10fr;
      align-items: center;
      line-height: 1.5rem;
      margin-top: 2rem;
    }
  }
}

@include media(large) {
  .monEspace {
    padding: 4rem 1rem 4rem 1rem;

    .container {
      max-width: 45rem;
      margin: auto;
    }

    &Titre {
      color: $color-primary;
      font-weight: 700;
      text-align: left;
    }

    &Accroche {
      font-weight: 400;
      color: $color-secondary;
      margin-bottom: 3.5rem;
      text-align: left;
    }

    &Description {
      line-height: 2rem;
      font-size: 1rem;
      margin-bottom: 4rem;
    }

    &Connexion {
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }

    &Inscription {
      font-size: 1.25rem;

      &Lien {
        display: grid;
        grid-template-columns: 0fr 10fr;
        align-items: center;
      }
    }
  }
}
