@use "@styles/utilities-deprecated";
@use "@styles/utilities";

$background-color: utilities.$color-background-primary-alternative;

.monEspace {
  margin: 0 auto;
  padding: 1rem;
  background-color: $background-color;
  @include utilities.media(large) {
    padding: 2rem 4rem;
  }

  span {
    display: block;
  }

  h1 {
    margin-bottom: 2rem;
    @extend %text-xLarge;

    @include utilities.media(large) {
      font-weight: bold;
      text-align: center;
    }
  }

  & .entreprisesPourLaJeunesse {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 1.5rem;

    @include utilities.media(large) {
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 5rem;
    }

    & img {
      height: 100%;
      border-radius: 10px;
      box-shadow: utilities.$box-shadow;
      background-color: utilities.$color-background-primary;
      padding: 1rem;
    }

    & h2 {
      @extend %text-large;
    }

    & p {
      @extend %text-regular;
      span {
        margin-top: 0.5ch;
      }
    }

    & a {
      width: 100%;

      &:last-child:not(:first-child) {
        margin-top: 1rem;
        margin-bottom: 2rem;
        @include utilities.media(large) {
          margin-bottom: 0;
        }
      }
    }
  }
}
