@import "@styles/utilities";

.seeMoreButton {
  font-size: 1rem;
  padding-block: 1rem;
  display: block;
  margin: auto;

  @include media(large) {
    padding-block: 1.5rem;
  }
}

.itemList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @include media(medium) {
    margin-bottom: 2rem;
  }
}