@use "@styles/utilities";

.seeMoreButton {
  color: utilities.$black;
  display: block;
  margin: auto;
}

.itemList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @include utilities.media(medium) {
    margin-bottom: 2rem;
  }
}