@import "@styles/utilities";

.seeMoreButton {
  font-size: 1rem;
  padding-block: 1rem;

  @include media(large) {
    padding-block: 1.5rem;
  }
}

.closed {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;

  & * {
    visibility: hidden;
  }
}

.open {
  visibility: visible;
  max-height: 100%;
  opacity: 1;
  transition: all 0.4s;
}
