@import "@styles/utilities";

.seeMoreButton {
    font-size: 1rem;
    display: block;
    margin: 1rem auto;
}

.seeMoreButton > svg {
    vertical-align: middle;
}

.seeMoreButtonLabel {
    margin-right: 1rem;
}

.closed {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;

    & * {
        visibility: hidden;
    }
}

.open {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    transition: all 0.4s;
}

.open > article:not(:last-child) {
    margin-bottom: 1.5rem;
}

@include media(large) {
    .seeMoreButton {
        margin: 1.5rem auto;
    }
}
