@use "variables";

@mixin font-face($name, $filename, $font-weight: 400, $font-style: normal, $font-display: swap) {
  @font-face {
    font-family: #{$name};
    src: url('#{variables.$font-directory}/#{$filename}.woff2') format('woff2'),
    url('#{variables.$font-directory}/#{$filename}.woff') format('woff');
    font-weight: #{$font-weight};
    font-style: #{$font-style};
    font-display: #{$font-display};
  }
}

@mixin line-clamp($lines, $lineHeight: 1.5) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  min-height: calc(#{$lines} * #{$lineHeight} * 1em);
  overflow: hidden;
}
