@use "@styles/media/mixins";
@use "@styles/theme/variables.scss";

@mixin title-large {
  font-size: 1.5rem;
  line-height: 1.4;

  @include mixins.media(large) {
    font-size: 1.75rem;
  }
}

@mixin title-medium {
  font-size: 1.25rem;
  line-height: 1.2;

  @include mixins.media(large) {
    font-size: 1.5rem;
  }
}

@mixin title-small {
  font-size: 1.125rem;
  line-height: 1.2;

  @include mixins.media(large) {
    font-size: 1.25rem;
  }
}

@mixin text-large {
  font-size: 1.125rem;
  line-height: 1.2;
}

@mixin text-medium {
  font-size: 1rem;
  line-height: 1.2;
}

@mixin text-small {
  font-size: 0.875rem;
  line-height: 1.2;
}

@mixin text-xsmall {
  font-size: 0.75rem;
  line-height: 1.2;
}

@mixin text-interactive-medium{
  font-size: 0.875rem;
  line-height: 1.4;

  @include mixins.media(large) {
    font-size: 1rem;
  }
}

%bold {
  font-weight: 700;
}

@mixin bold {
  font-weight: 700
}

%italic {
  font-style: italic;
}


%headline {
  color: variables.$color-primary;
  @include title-large;
}

%subheading {
  @include title-large;
}

