@import "@styles/media/mixins";

%text-regular {
  font-size: .875rem;
  line-height: 1.5rem;

  @include media(large) {
    font-size: 1rem;
  }
}

%text-large {
  font-size: 1.125rem;
  line-height: 1.5rem;

  @include media(large) {
    font-size: 1.25rem;
  }
}

%text-small {
  font-size: .75rem;
  line-height: 1.25rem;

  @include media(large) {
    font-size: .875rem;
    line-height: 1.5rem;
  }
}

%headline {
  font-size: 1.25rem;
  line-height: 2rem;

  @include media(large) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

%subheading {
  font-size: 1.25rem;
  line-height: 2rem;

  @include media(large) {
    font-size: 1.5rem;
  }
}

%bold {
  font-weight: 700;
}

%italic {
  font-style: italic;
}
