@use "@styles/media/mixins";
@use "@styles/theme/variables.scss";

%title-large {
  font-size: 1.5rem;
  line-height: 1.2;

  @include mixins.media(large) {
    font-size: 1.75rem;
  }
}

%title-medium {
  font-size: 1.25rem;
  line-height: 1.2;

  @include mixins.media(large) {
    font-size: 1.5rem;
  }
}

%title-small {
  font-size: 1.125rem;
  line-height: 1.2;

  @include mixins.media(large) {
    font-size: 1.25rem;
  }
}

%text-large {
  font-size: 1.125rem;
  line-height: 1.2;
}

%text-medium {
  font-size: 1rem;
  line-height: 1.2;
}

%text-small {
  font-size: 0.875rem;
  line-height: 1.2;
}

%text-xsmall {
  font-size: 0.75rem;
  line-height: 1.2;
}

%text-interactive-medium {
  font-size: 0.875rem;
  line-height: 1.4;

  @include mixins.media(large) {
    font-size: 1rem;
  }
}

%bold {
  font-weight: 700;
}

@mixin bold {
  font-weight: 700
}

%italic {
  font-style: italic;
}


%headline {
  color: variables.$color-primary;
  @extend %title-large;
}

%subheading {
  @extend %title-large;
}

