@use "@styles/media/mixins";
@use "@styles/theme/variables.scss";

%title-xLarge {
  font-size: 2rem;
  line-height: 2.4rem;

  @include mixins.media(large) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

%title-large {
  font-size: 1.5rem;
  line-height: 1.8rem;

  @include mixins.media(large) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

%title-medium {
  font-size: 1.25rem;
  line-height: 1.5rem;

  @include mixins.media(large) {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

%title-small {
  font-size: 1rem;
  line-height: 1.2rem;

  @include mixins.media(large) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}


%text-large {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

%text-medium {
  font-size: 1rem;
  line-height: 1.2rem;
}

%text-small {
  font-size: 0.875rem;
  line-height: 1.05rem;
}

%text-xsmall {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

%bold {
  font-weight: 700;
}

@mixin bold {
  font-weight: 700
}

%italic {
  font-style: italic;
}


%headline {
  color: variables.$color-primary;
  @extend %title-xLarge;
}

%subheading {
  @extend %title-large;
}

