@use "@styles/media/mixins" as mixins2;
@use "mixins";
@use "placeholders";
@use "variables";
@use "../theme/variables" as theme-variables;

@include mixins.font-face(variables.$font-family, "Marianne-Light", 300);
@include mixins.font-face(variables.$font-family, "Marianne-Light_Italic", 300, italic);
@include mixins.font-face(variables.$font-family, "Marianne-Regular", 400);
@include mixins.font-face(variables.$font-family, "Marianne-Regular_Italic", 400, italic);
@include mixins.font-face(variables.$font-family, "Marianne-Medium", 500);
@include mixins.font-face(variables.$font-family, "Marianne-Medium_Italic", 500, italic);

body {
  font-family: Marianne, arial, sans-serif;
  color: theme-variables.$color-on-surface;
}

.text-regular, .paragraph {
  @extend %text-regular;
}

.text-large {
  @extend %text-large;
}

.text-small {
  @extend %text-small;
}

.headline {
  @extend %headline;
}

.subheading {
  @extend %subheading;
}

.bold {
  @extend %bold;
}

.italic {
  @extend %italic;
}

.separator {
  border-bottom: 1px solid theme-variables.$color-separator;
}

.underline-none {
  text-decoration: none;
}

.display-none {
  display: none;
}
