@use "@styles/utilities";

.typographie {
  display: grid;
  grid-template-columns: auto auto;
}

section > h2 {
  margin-bottom: 1rem;
  text-decoration: underline;
  color: utilities.$color-title-primary;
  @extend %title-large
}

section > *:not(last-child) {
  margin-bottom: 20px;
}

.title {
  .title-large > h2 {
    @extend %title-large
  }

  .title-medium > h2 {
    @extend %title-medium
  }

  .title-small > h2 {
    @extend %title-small
  }
}

.text {
  p {
    @extend %text-medium
  }

  .text-large > h2 {
    @extend %text-large
  }

  .text-medium > h2 {
    @extend %text-medium
  }

  .text-small > h2 {
    @extend %text-small
  }

  .text-xsmall > h2 {
    @extend %text-xsmall
  }
}

.text-interactive {
  p {
    @extend %text-medium
  }

  .text-interactive-medium > h2 {
    @extend %text-interactive-medium
  }

  .text-interactive-example {
    width: min-content;

    & .text-interactive-example-input{
      margin-bottom: 1rem;
    }
  }
}

.titre-headline {
  @extend %headline;
  margin-bottom: 1rem;
}

.titre-subheading {
  @extend %subheading
}

