@use "@styles/utilities";

.typographie {
  display: grid;
  grid-template-columns: auto auto;
}

.title > h2, .text > h2 {
  margin-bottom: 1rem;
  text-decoration: underline;
  color: utilities.$color-title-primary;
  @extend %title-large
}

.title > *:not(last-child),
.text > *:not(last-child) {
  margin-bottom: 20px;
}

.title {
  .title-xLarge > h2 {
    @extend %title-xLarge
  }

  .title-large > h2 {
    @extend %title-large
  }

  .title-medium > h2 {
    @extend %title-medium
  }

  .title-small > h2 {
    @extend %title-small
  }
}

.text {
  .text-regular > h2 {
    @extend %text-regular
  }

  .text-xLarge > h2 {
    @extend %text-xLarge
  }

  .text-large > h2 {
    @extend %text-large
  }

  .text-medium > h2 {
    @extend %text-medium
  }

  .text-small > h2 {
    @extend %text-small
  }
}

.titre-headline {
  @extend %headline;
  margin-bottom: 1rem;
}

.titre-subheading {
  @extend %subheading
}

