@use "@styles/_utilities";

.objectifs {

  &Container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    > img {
      margin: auto;
      height: 65px;
      width: 65px;
    }

    &Text {
      p {
        font-weight: bold;
        margin-bottom: 3rem;
        text-align: center;
      }

      ol {
        list-style: none;
        counter-reset: item;
        text-align: center;
      }

      li {
        display: grid;
        grid-template-rows: 1fr;
        place-items: center;
        counter-increment: item;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      li:before {
        margin-right: 10px;
        margin-bottom: 0.5rem;
        content: counter(item);
        background: utilities.$color-primary;
        border-radius: 100%;
        color: utilities.$color-on-primary;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        display: inline-block;
      }
    }

  }
}

@include utilities.media(large) {
  .objectifs {
    &Container {
      padding: 4rem 1rem 4rem 1rem;
      max-width: 50%;

      &Text {
        li {
          grid-template-columns: 1fr 20fr;
          counter-increment: item;
          place-items: inherit;
          margin-bottom: 1.5rem;
          text-align: left;
        }
      }
    }
  }
}
