.buttonFiltrerRecherche {
  padding: 0 !important;
}

.filtresAvancésModalTitle > span {
  font-size: 0.875rem;
}

.filtresAvancésModalContenu legend {
  font-weight: bold !important;
}

.filtresAvancésModalFooter {
  justify-content: center;
}

.pagination {
  display: flex;
  padding: 16px 0;
}

.pagination > nav {
  margin: auto;
}

.errorMessage {
  padding: 16px;
}

.partnerList {
  margin: 40px 0 48px 0;
  list-style: none;
  padding-inline-start: 0;
}

.partnerList > * + * {
  margin-top: 28px;
}

@media screen and (min-width: 48em) {


  .filtreRechercheDesktop {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .filtreRechercheDesktop > div {
    flex-grow: 1;
  }

  .filtreRechercheDesktop > div > button {
    width: 100%;
  }

  .errorMessage {
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 2em 0;
  }
}

