.nombreRésultats {
  padding: 16px;
  border-bottom: 1px solid var(--grey-950);
}

.nombreRésultats > h2 {
  font-size:1.25rem;
  padding:16px;
  margin:0;
}

.pagination {
  display: flex;
  padding: 16px 0;
}

.pagination > nav {
  margin: auto;
}

.rechercheOffreEmploi {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid var(--grey-950);
}

.buttonFiltrerRecherche {
  align-self: flex-start;
}

.filtreRechercheDesktop {
  margin-top: 16px;
  padding-left: 16px;
  border-left: solid 2px var(--blue-france-113);
}

.filtresAvancésModalFooter {
  justify-content: center;
}

.rechercheOffreEmploi > div:not(:last-child) {
  margin-bottom: 28px;
}

.résultatRechercheOffreEmploiList {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  list-style: none;
}

.résultatRechercheOffreEmploiList > li {
  margin-top: 24px;
}

.errorMessage {
  padding: 16px;
}

@media (min-width: 36em) {
  .errorMessage {
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 2em 0;
  }
}

