.container {
  display: flex;
  flex-direction: column;
}

.layout {
  padding: 0 1rem;
}

.rechercheOffreEmploiForm {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--grey-950);
}

.inputButtonWrapper {
  padding-top: 24px;
  padding-bottom: 32px;
}

.inputButtonWrapper > * {
  margin-bottom: 1.5rem;
}

.buttonRechercher {
  width: 100%;
}

.buttonRechercher > span {
  margin: auto;
}

.buttonFiltrerRecherche {
  padding: 0 !important;
}

.filtresAvancésModalTitle > span {
  font-size: 0.875rem;
}

.filtresAvancésModalContenu legend {
  font-weight: bold !important;
}

.filtresAvancésModalFooter {
  justify-content: center;
}

.nombreRésultats {
  padding: 16px 0;
  border-bottom: 1px solid var(--grey-950);
}

.nombreRésultats > h2 {
  font-size: 1.25rem;
  margin: 0;
}

.pagination {
  display: flex;
  padding: 16px 0;
}



.pagination > nav {
  margin: auto;
}

.résultatRechercheOffreEmploiList {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.résultatRechercheOffreEmploiList > li {
  margin-top: 24px;
}

.errorMessage {
  padding: 16px;
}

.partnerList {
  margin: 40px 0 48px 0;
  list-style: none;
  padding-inline-start: 0;
}

.partnerList > * + * {
  margin-top: 28px;
}

@media screen and (min-width: 48em) {
  .layout {
    width: 100%;
    max-width: 78rem;
    margin: auto;
  }

  .rechercheOffreEmploiForm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .inputButtonWrapper {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .inputButtonWrapper > div {
   flex-grow: 1;
  }

  .buttonRechercher {
   width: initial;
  }

  .filtreRechercheDesktop {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .filtreRechercheDesktop > div {
    flex-grow: 1;
  }

  .filtreRechercheDesktop > div > button {
    width: 100%;
  }

  .errorMessage {
    text-align: center;
    max-width: 36em;
    margin: auto;
    padding: 2em 0;
  }
}

