@import "@styles/utilities";

.textInput {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * + * {
    margin-top: 8px;
  }

  &Label {
    &Hint {
      @extend %text-small;
      color: $color-error;
    }
  }

  &Field {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 16px;
    border-radius: 1.25rem;
    border: solid 1px $color-on-surface;
    background-color: $color-form-field;

    &:active, &:focus {
      border-color: $color-primary;
    }

    &Touched:invalid {
      border: solid 2px $color-error;
    }
  }

  &Hint {
    --text-spacing: 0;
    @extend %text-small;

    &Error {
      color: $color-error;
    }
  }
}