@import "@styles/utilities";

$color-vie-professionnelle: #E8EDFF;
$color-orienter-former: #FEF3FD;
$color-accompagnement: #F1FEF5;
$color-aides-financières: #FFF4ED;

.cardListPadding, .cardListPaddingSeeMore {
  padding-bottom: 1.5rem;
}

.cardList {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
}

.heroText {
  color: #2B8079;
}

.heroBackground {
  background-color:white;
  color: $color-primary;
}

.section {
  padding: 1.5rem;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &Header {
    @extend %text-xLarge, %bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    > svg, h2 {
      display: block;
      margin: auto;
    }
  }

  &VieProfessionnelle {
    background-color: $color-vie-professionnelle;
  }
  &OrienterFormer {
    background-color: $color-orienter-former;
  }
  &ParcoursAccompagnement {
    background-color: $color-accompagnement;
  }
  &AidesFinancières {
    background-color: $color-aides-financières;
  }

  &OrienterFormer, &AidesFinancières {
    padding-bottom: 2rem;
  }
}


@include media(medium){
  .cardListPaddingSeeMore {
    padding: 0.5rem 1.125rem 1.5rem 1.125rem;
  }

  .cardList {
    gap: 2rem;
    flex-direction: row;
  }

  .cardList > a {
    width: 360px;
  }

  .sectionHeader {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .section {
    &OrienterFormer, &AidesFinancières {
      padding-bottom: 3rem;
    }
  }
}
