@import "@styles/_utilities";

.section {
  padding: 3rem 0;
  max-width: 47rem;
  margin: 0 auto;

  &Container {
    display: grid;
    padding: 14rem 1.5rem;
    place-items: center;

    &Illustration {
      display: none;
      position: relative;
      width: 30rem;
      height: 30rem;
    }

    &Text {
      text-align: center;
      &Titre {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
      }
      p {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@include media(large) {
  .section {
    &Container {
      padding: 0 1.5rem;
      &Illustration {
        display: block;
      }
    }
  }
}
