@use "@styles/utilities";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  padding: 1rem;

  &Text {
    text-align: center;
    &Titre {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
      margin-bottom: 3rem;
    }
  }
}

@include utilities.media(large) {
  .container {
    padding: 3rem 0rem;
    max-width: 48rem;
  }
}
