.textIcon {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
}

.spaceForRightIcon {
  svg {
    margin-left: 0.5ch;
  }
}

.spaceForLeftIcon {
  svg {
    margin-right: 0.5ch;
  }
}