.textIcon {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  white-space: nowrap;

  svg {
    vertical-align: text-bottom;
  }
}

.spaceForRightIcon {
  svg {
    margin-left: 0.5ch;
  }
}

.spaceForLeftIcon {
  svg {
    margin-right: 0.5ch;
  }
}
