@import "@styles/utilities";



.formulaire {
  padding: 0 1rem;
  margin-top: 2rem;
  @include media(medium) {
    display: grid;
    grid-column-gap: 1rem;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .commentaireDemandeDeContact {
    margin-top: 1rem;

    @include media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &ValidateButton {
    width: 100%;
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-inline: 1rem;
    white-space: normal;
    @include media(medium) {
      width: 26rem;
      padding-inline: 1.5rem;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &Décharge {
    background-color: $color-cadre-formulaire;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    @include media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    p {
      color: $color-mention-grey;
      font-size: 0.7rem;
      padding: 1rem;
    }
  }
}
