@use "@styles/utilities";

$color-background-decharge: utilities.$color-background-primary-alternative;

.formulaire {
  padding: 0 1rem;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;

  @include utilities.media(medium) {
    row-gap: 2rem;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .commentaireDemandeDeContact {
    @include utilities.media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &ValidateButton {
    width: 100%;
    justify-self: center;
    margin-bottom: 1rem;
    @include utilities.media(medium) {
      width: 26rem;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &Décharge {
    background-color: $color-background-decharge;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    @include utilities.media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    p {
      @include utilities.text-small;
      padding: 1rem;
    }
  }
}
