@use "@styles/utilities";

$color-text: utilities.$color-text-primary;
$color-border: utilities.$color-background-border;
$color-text-disabled: utilities.$color-text-secondary;
$color-background-disabled: utilities.$color-background-primary-alternative;
$color-error: utilities.$color-error;
$error-border-width: 2px;
$border-radius: 1.25rem;
$border-width: 1px;
$border-width-compensation: calc($error-border-width - $border-width);

%disabled {
  color: $color-text-disabled;
  background-color: $color-background-disabled;
  cursor: not-allowed;
}

%bordered {
  border-radius: $border-radius;
  border: $border-width solid $color-border;
}

%input {
  color: $color-text;
  background-color: transparent;
  padding: 0.5rem 1rem;
  @extend %bordered;
  @include utilities.text-interactive-medium;

  &:disabled,
  &:not(button):read-only {
    @extend %disabled;
  }

  &[data-touched="true"]:invalid {
    border-color: $color-error;
    border-width: $error-border-width;
  }
  &:valid,
  &:not([data-touched="true"]) {
    margin: $border-width-compensation;
  }
}

%comboboxes {
  $color-list-border: $color-border;
  $color-list-background: utilities.$color-background-primary;
  $color-option-hover: utilities.$color-background-primary-alternative;
  @include utilities.text-interactive-medium;
  & [role="combobox"] {
    @extend %input;
  }

  position: relative;
  & [role="listbox"] {
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 2px;
  }

  & [role="listbox"] {
    border: 1px solid $color-list-border;
    border-radius: $border-radius;
    background-color: $color-list-background;
  }

  & [role="listbox"] {
    max-height: 10em;
    overflow-y: scroll;
  }

  & [role="option"] {
    cursor: pointer;
  }

  %hovered-option {
    background-color: $color-option-hover;
    font-weight: bold;
  }

  & li[role="none"]:has([role="group"]) {
    font-weight: bold;
    & > * {
      font-weight: initial;
    }
  }
}
