@use "@styles/utilities";

.enSavoirPlus {

  @include utilities.media(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }

  &DepotOffre {
    background-color: utilities.$color-background-white-lilac;
    @include utilities.media(large) {
      background-color: revert;
    }
  }

  &Faq, &DepotOffre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.75rem 1rem;

    @include utilities.media(large) {
      padding: 5rem 1rem
    }
  }

  .heading {
    @extend %subheading;
    color: utilities.$color-primary;
    margin-bottom: 1rem;

    @include utilities.media(large) {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    & span {
      display: inline-block;
    }
  }

  .link {
    max-width: 60ch;
    width: 100%;
    align-self: center;

    @include utilities.media(large) {
      max-width: fit-content;
    }
  }
}
