@use "@styles/utilities";
@use "@styles/utilities-deprecated";
@use "@styles/components/form/variables";
@use "../TextboxShared.module" as inputStyles;
@use "src/client/components/ui/Checkbox/Checkbox.module";
@use "src/client/components/ui/Radio/Radio.module";

$color-text: inputStyles.$color-text;
$color-border: inputStyles.$color-border;
$color-text-disabled: inputStyles.$color-text-disabled;
$error-border-width: inputStyles.$error-border-width;
$color-background-disabled: inputStyles.$color-background-disabled;
$color-error: inputStyles.$color-error;
$border-width-compensation: inputStyles.$border-width-compensation;
$color-category-separator: $color-border;
$border-radius: inputStyles.$border-radius;
$border-width: inputStyles.$border-width;

.container {
  @extend %comboboxes;

  & [role="combobox"] {
    width: 100%;
    text-align: left;
    cursor: pointer;
    @extend %outlined;
    font-size: inherit;
    line-height: inherit;
    display: grid;
    grid-template-columns: 1fr auto;
    border: $border-width solid $color-border;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    background-color: transparent;

    &[aria-expanded="true"] svg {
      transform: rotate(-180deg);
      transition: transform 200ms linear;
    }
  }

  input:invalid + [role="combobox"][data-touched="true"] {
    border-color: $color-error;
    border-width: $error-border-width;
  }

  ul[role="listbox"] {
    li[role="option"] {
      padding: .5rem 1ch;

      &:hover,
      &.optionVisuallyFocus {
        @extend %hovered-option;
      }
    }

    li[role="option"] {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    &:not([aria-multiselectable="true"]) {
      li[role="option"]::before {
        @extend %radio;
        margin-right: 0.5rem;
      }
      li[role="option"][aria-selected="true"]::before {
        @extend %radio-checked;
      }
    }
    &[aria-multiselectable="true"] {
      li[role="option"]::before {
        @extend %checkbox;
      }
      li[role="option"][aria-selected="true"]::before {
        @extend %checkbox-checked;
      }
    }
  }

  & input[aria-hidden="true"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    inset: 0;
  }
}
