@use "@styles/utilities";
@use "@styles/utilities-deprecated";
@use "@styles/components/form/variables";
@use "../TextboxShared.module" as inputStyles;
@use "src/client/components/ui/Checkbox/Checkbox.module" as checkboxStyles;
$color-text: inputStyles.$color-text;
$color-border: inputStyles.$color-border;
$color-text-disabled: inputStyles.$color-text-disabled;
$error-border-width: inputStyles.$error-border-width;
$color-background-disabled: inputStyles.$color-background-disabled;
$color-error: inputStyles.$color-error;
$border-width-compensation: inputStyles.$border-width-compensation;
$color-list-border: $color-border;
$color-list-background: utilities.$color-background-primary;
$color-option-hover: utilities.$color-background-primary-alternative;
$color-category-separator: $color-border;
$border-radius: inputStyles.$border-radius;
$border-width: inputStyles.$border-width;

.selectWrapper {
  position: relative;
  flex-shrink: 0;

  & .selectLabel {
    @extend %label-champ;
    display: block;
    margin-bottom: 0.5rem;
  }
}

.container {
  position: relative;
  border-radius: $border-radius;
  @extend %outlined;

  & .combobox {
    @include utilities.text-interactive-medium;
    display: grid;
    grid-template-columns: 1fr auto;
    border: $border-width solid $color-border;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    background-color: transparent;
  }

  ul {
    z-index: 2;
    position: absolute;
    padding: 8px;
    width: 100%;
    border: 1px solid utilities-deprecated.$color-separator;
    border-radius: 20px;
    background-color: utilities-deprecated.$color-background;
    margin: 4px 0 0 0;
    max-height: 300px;
    overflow-y: auto;

    & li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      padding: .5rem 1ch;

      &[role="option"] {
        cursor: pointer;
      }

      &.optionComboboxMultiple::before {
        @extend %checkbox;
      }

      &[role="option"][aria-selected="true"].optionComboboxMultiple::before  {
        @extend %checkbox-checked;
      }

      &[role="option"]:hover,
      &[role="option"].optionVisuallyFocus{
        background-color: $color-option-hover;
        font-weight: bold;


      }
    }
  }
}

.inputError {
  @include utilities.text-small;
  padding-top: 0.25rem;
  color: utilities-deprecated.$color-error;
}
