@use "@styles/utilities";

.rangeBox {
  padding: .75rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: inherit;
}

.customRangeInputWrapper {
  display: inline-flex;
  margin-bottom: 1.5rem;

  & input {
    height: 2rem;
    width: 100%;
  }
  & > span {
    height: 2rem;
    padding: 4px 16px;
    display: flex;
    background-color: utilities.$color-primary;
    color: utilities.$color-on-primary;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}