@use "@styles/utilities";

.customSearchBox {
  &InputWrapper {
    position: relative;
    display: block;
    padding-top: 0.5rem;
  }

  &Input {
    font-family: inherit;
    background-color: utilities.$color-background;
    border: 1px solid utilities.$color-on-background;
    border-radius: 1.25rem;
    color: utilities.$color-on-background;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0 16px;
    flex-grow: 1;
    width: 100%;

    &::placeholder {
      color: utilities.$deep-neutral-grey;
      opacity: 1;
    }
  }

  &ResetButton {
    position: absolute;
    right: 0.5rem;
    top: calc(50% - 10px + 0.25rem);
  }
}
