@import "@styles/utilities";


.customSearchBox {
  &InputWrapper {
    position: relative;
    display: block;
    padding-top: 0.5rem;
    & input {
      background-color: $color-background;
      border: 1px solid $color-primary;
      border-radius: 1.25rem;
      color: $color-on-background;
      height: 2.5rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      padding: 0 16px;
      flex-grow: 1;
      width: 100%;
    }

    & button {
      position: absolute;
      right: 0.5rem;
      top: calc(50% - 10px + 0.25rem);
    }
  }
}
