@use "@styles/utilities";

.customRangeInputWrapper {
  display: inline-flex;
  margin-bottom: 1.5rem;

  & input {
    height: 2rem;
    width: 100%;
  }
  & > span {
    height: 2rem;
    padding: 4px 16px;
    display: flex;
    background-color: utilities.$color-primary;
    color: utilities.$color-on-primary;
  }
}

.selectContainer {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  @extend %text-small;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: utilities.$color-mention-grey;
  padding: 6px 6px 6px 12px;
  border: 1px solid utilities.$color-on-background;
  border-radius: 20px;
  height: 2.5rem;
}

.rangeBox {
  z-index: 15;
  position: absolute;
  padding: .75rem 2rem;
  width: 100%;
  border: 1px solid utilities.$color-separator;
  border-radius: 20px;
  background-color: utilities.$color-background;
  margin: 4px 0 0 0;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
