@import "@styles/utilities";

.meilisearchPagination {
  text-align: center;
  &>li {
    display: inline-block;
    text-decoration: none;
    min-width: 32px;
    height: 32px;
    &>a {
      text-decoration: none;
      box-shadow: none;
      height: 32px;
      min-width: 32px;
      display: inline-block;
      line-height: 32px;
    }
  }
}

.meilisearchPaginationActive {
  background-color: $color-primary;
  color: $color-on-primary;
}
