@import "@styles/utilities";

.meilisearchPagination {
  text-align: center;

  & > li {
    display: inline-block;
    text-decoration: none;

    & > a {
      text-decoration: none;
      box-shadow: none;
      min-width: 32px;
      display: inline-block;
      line-height: 32px;

      & > * > svg {
        width: 16px;
        height: 16px;
      }
      & > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.disabled {
  color: #929292;

  & > a {
    pointer-events: none;
  }
}

.meilisearchPaginationActive {
  background-color: $color-primary;
  color: $color-on-primary;
}

.page {
  &Suivante {
    margin-left: 28px;
    display: flex;
    align-items: center;
  }

  &Precendente {
    margin-right: 28px;
    display: flex;
    align-items: center;
  }
}

.ellipse {
  width: 32px;
}
