@use "@styles/utilities";
$description-color: utilities.$color-primary;

@mixin center-verticaly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  @include center-verticaly;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-left: auto;
  margin-right: auto;
  @extend %bold;
  @include utilities.title-small;
}

.description {
    margin-top: 1rem;
    color: $description-color;
}

.redirections {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
