@use "@styles/utilities";

.section {
  background: utilities.$color-on-primary;
  padding: 2rem 1.5rem 2rem;
}

.container {
  max-width: utilities.$breakpoint-xl;
}

.titre {
  margin-bottom: .5rem;

  > h2 {
    @extend %bold;
    @extend %headline;
    margin-bottom: 1rem;
  }
}

.sousTitre {
  @extend %text-large;
  display: none;
  font-weight: 700;
}

.contenu ul {
  list-style-type: initial;
  padding-left: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contenu ul > li > b {
  color: utilities.$color-primary;
}

.contenu, .contenu b {
  @extend %text-regular;
}

@include utilities.media(large) {
  .section {
    padding: 5rem;
  }

  .container {
    gap: 4rem;
    display: grid;
    margin: 0 auto;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }

  .contenu {
    padding-right: 3rem;
  }

  .sousTitre {
    display: initial;
  }
}
