@import "src/styles/utilities";

.section {
  background: $color-on-primary;
  padding: 1.5rem 1.5rem 1.5rem;
}

.container {
  max-width: $breakpoint-xl;

  button {
    margin: inherit;
    margin-bottom: 1.5rem;
  }
}

.titre {
  margin-bottom: 2rem;

  > h2 {
    @extend %bold;
    color: $color-primary;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  strong {
    @extend %text-large;
    font-size: 1rem;
  }
}

.contenu ul {
  list-style-type: initial;
  padding-left: 20px;
}
.contenu ul > li > strong {
  color: $color-primary;
}

.contenu, .contenu strong {
  @extend %text-regular;
}

@include media(large) {
  .section {
    padding: 5rem;
  }

  .container {
    gap: 4rem;
    display: grid;
    margin: 0 auto;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }

  .titre > h2 {
    font-size: 1.5rem;

  }

  .contenu {
    padding-right: 3rem;
  }
}
