@import "src/styles/utilities";

.section {
  background: $color-on-primary;
  padding: 1.5rem;
}

.container {
  max-width: $breakpoint-xl;
}

.titre {
  margin-bottom: 2rem;

  > h2 {
    @extend %bold;
    color: $color-primary;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  strong {
    @extend %text-large;
  }
}

.contenu {
  @extend %text-large;

  > ul > li > strong {
    color: $color-primary;
  }
}

.accordion > button {
  margin: 0;
}

@include media(large) {
  .section {
    padding: 5rem;
  }

  .container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
  }

  .titre > h2 {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }

  .titre > strong {
    line-height: 1.75rem;
  }

  .contenu {
    line-height: 40px;
  }
}
