@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheMissionEngagementForm {
  @include utilities.media(medium) {
    padding: 40px 0;
  }

  .filtreRecherche {
    display: grid;
    grid-gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: variables.$form-vertical-gap-desktop;
    }
  }
}

.rechercherMissionEngagementButton {
  @extend %buttonRechercher;
}