@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheMissionEngagementForm {
  @include utilities.media(medium) {
    padding: 40px 0;

  }

  &__Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: variables.$form-vertical-gap-mobile;

    @include utilities.media(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.rechercherMissionEngagementButton {
  @extend %buttonRechercher;
}

@include utilities.media(medium) {
  .rechercheMissionEngagementForm {
    flex-direction: row;
    gap: variables.$form-vertical-gap-desktop;
    align-items: flex-start;
  }
}
