@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheMissionEngagementForm {
  display: flex;
  flex-direction: column;
  gap: variables.$form-submit-button-vertical-gap-mobile;
  &__Container {
    flex: 1 0;
  }

  & .inputButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: variables.$form-vertical-gap-mobile;
  }
}

.rechercherMissionEngagementButton {
  > button {
    width: 100%;
  }
}

.rechercherMissionEngagementButton > span {
  margin: auto;
}

@include utilities.media(medium) {
  .rechercheMissionEngagementForm {
    flex-direction: row;
    gap: variables.$form-vertical-gap-desktop;
    align-items: flex-start;
    padding: 40px 0;

    & .inputButtonWrapper {
      width: 100%;
      flex-direction: row;
      gap: variables.$form-vertical-gap-desktop;

      > div {
        flex-grow: 1;
      }
    }
  }

  .rechercherMissionEngagementButton {
    width: initial;
    margin-top: utilities.pixel-to-rem(28);
  }
}
