@use "@styles/utilities-deprecated";

.section {
  background-color: utilities-deprecated.$color-background-white-lilac;
}

.hero {
  padding-top: 2rem;
  @include utilities-deprecated.media(large) {
    padding: 4rem 1rem;
  }
}
