@use "@styles/utilities";

.container {
  @include utilities.media(medium){
    display: grid;
    grid-template-columns: auto 40%;
  }
  padding: 5rem 1rem;
}

.title {
  @extend %title-large , %bold;
  padding-bottom: 2.5rem;
}

.subtitle {
  @extend %title-small;
  margin-bottom: 1rem;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;

  .backButton {
    margin-right: 1rem;
  }

  .backButton, .homeLink {
    margin-top: 1rem;
  }
}

.errorLogo {
  flex-shrink: 0;
  margin: auto;

  img {
    width: 15rem;
  }
}
