@use "@styles/utilities-deprecated";

.footnote {
  @extend %text-small;
  text-align: justify;
  @include utilities-deprecated.media(medium) {
    text-align: end;
  }

  & .backlink > svg {
    color: utilities-deprecated.$color-primary;
    height: 1em;
    width: 1em;
  }
}

.reference {
  color: utilities-deprecated.$color-primary;
  text-decoration: none;
}