@use "@styles/utilities";

.footnote {
  @extend %text-small;
  text-align: justify;
  @include utilities.media(medium) {
    text-align: end;
  }

  & .backlink > svg {
    color: utilities.$color-primary;
    height: 1em;
    width: 1em;
  }
}