@import "@styles/utilities";


.FormulaireDeRecherche {
  padding: 1.5rem 1rem;
}

.ResultatTotal {
  padding: 1.5rem 1rem;
}

.pagination {
  padding-top: 2.5rem;
  @include media(large) {
    padding-top: 5rem;
  }
}

.TagListWrapper {
  & ul {
    padding-top: 1.5rem;
    padding-left: 1rem;
  }
}

.TagItem {
  display: inline;
}

.TagCategoryElement {
  display: inline-flex;
  flex-wrap: wrap;

  @extend %text-small;
  padding: 2px 8px;
  margin: 2px 8px 2px 0;
  background-color: $color-tag;
  border-radius: calc((2px * 2 + 1.25rem) / 2);

  @include media(large) {
    padding: 4px 12px;
    margin: 4px 12px 4px 0;
    border-radius: calc((4px * 2 + 1.5rem) / 2);
  }
}