@import "@styles/utilities";


.listeDesResultatsWrapper {
  background-color: $color-background-white-lilac;
  padding: 2rem 1rem;

  & ol {
    list-style-type: none;
    & li {
      margin-bottom: 1rem;
    }
  }
}

.listeDesResultats {
  & ol {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }
}

@include media(medium) {
  .listeDesResultats {
    & ol {
      gap: 2rem 4rem;
      flex-direction: row;
      > li {
        width: 22.5rem;
      }
    }
  }

}


.skeletonAffichageDesktopDirectionRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include media(medium) {
    flex-direction: row;
    justify-content: space-around;
  }
  > li {
    margin-bottom: 1.5rem;
    @include media(medium) {
      width: 22.5rem;
    }
  }
}