@use "@styles/utilities";


.listeDesResultatsWrapper {
  background-color: utilities.$color-background-white-lilac;
  padding: 2rem 1rem;

  & ol {
    list-style-type: none;
    & li {
      margin-bottom: 1rem;
    }
  }
}

.listeDesResultats {
  & ol {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    > li {
      width: 22.5rem;
      margin: auto;
    }
  }
}

@include utilities.media(medium) {
  .listeDesResultats {
    & ol {
      gap: 2rem 4rem;
      flex-direction: row;
    }
  }

}


.skeletonAffichageDesktopDirectionRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include utilities.media(medium) {
    flex-direction: row;
    justify-content: space-around;
  }
  > li {
    margin-bottom: 1.5rem;
    @include utilities.media(medium) {
      width: 22.5rem;
    }
  }
}

.footnote {
  scroll-margin-top: 50vh;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;

  @include utilities.media(medium) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}