@use "@styles/utilities";

.pourqui {
  .container {
    padding: 0 1rem 2rem 1rem;
    max-width: 67.5rem;
    @include utilities.media(large) {
      padding: 0 2rem 4rem 2rem;
    }
  }

  .contenu {
    padding-left: 20px;
    @include utilities.media(large) {
      padding-left: 40px;
    }

    dt {
      display: list-item;
      list-style: disc;
      @extend %bold;
      margin-bottom: 0.2rem;
    }

    dd {
      margin-bottom: 0.5rem;
    }
  }

  .linkWrapper {
    max-width: 20rem;
    margin: 40px auto auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    text-align: left;
  }


  @include utilities.media(large) {
    .title {
      text-align: center;
    }
  }
}


