@import "@styles/utilities";

.card {
  padding: 1rem;

  @include media(large) {
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0 0;
  }
}

.content {
  display: flex;
  align-self: stretch;
}
.logo {
  width: 6.8rem;
  margin-right: .7rem;

  @include media(large) {
    margin-right: 2rem;
  }

  &Alignment {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
}

.logo, .logoAlignment {
  height: 6.8rem;
}

.mainContent {
  align-self: center;

  @include media(large) {
    display: flex;
    flex-direction: column;
  }
}


.title {
  @extend %text-medium;
  @include media(large) {
    font-size: 1.2rem;
  }
}

.address {
  margin-top: .2rem;
  font-size: .9rem;
  @include media(large) {
    font-size: 1rem;
  }
}

.tags {
  list-style-type: none;
  margin-top: .5rem;

  @include media (large) {
    margin-top: auto;
  }
}

.button {
  margin-top: 1.1rem;
  font-weight: bold;
  color: $color-primary;
  align-self: center;
  text-decoration: none;

  @include media(large) {
    width: 11.5rem;
    font-size: 1.1rem;
    align-self: auto;
  }

  &:hover {
    color: $color-primary-on-hover;
  }
}

.buttonIcon {
  margin-left: .4rem;
  padding-top: .3rem;
}

.details {
  cursor: default;
  margin-top: .2rem;
  width: 15rem;
  align-self: center;

  @include media(large) {
    margin-left: auto;
    width: 17rem;
    align-self: flex-start;
  }

  .summary {
    font-size: .9rem;
    font-weight: normal;
    padding: .5rem 0 0 0;
    text-align: center;
    text-decoration: underline;
    color: $color-primary;
    background-repeat: no-repeat;
    background-position: calc(50% + 7rem) .5rem;
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23566BB1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");
    list-style: none;
    cursor: pointer;

    @include media(large) {
      font-size: 1rem;
      padding: 0 0 0 0;
      background-position: 24.5ch 0;
      text-align: left;
      margin-left: 1rem;
    }

    &:hover {
      color: $color-primary-on-hover;
      background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='25' viewBox='0 0 24 25' fill='%23735BF2' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 13.5797L16.95 8.62971L18.364 10.0437L12 16.4077L5.63599 10.0437L7.04999 8.62971L12 13.5797Z' /></svg>");    list-style: none;
    }

    &, & > * {
      @extend %bold;
    }

  }

  &[open] .summary {
    background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='%23566BB1' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 10.8281L7.04999 15.7781L5.63599 14.3641L12 8.00008L18.364 14.3641L16.95 15.7781L12 10.8281Z' /></svg>");

    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='%23735BF2' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12 10.8281L7.04999 15.7781L5.63599 14.3641L12 8.00008L18.364 14.3641L16.95 15.7781L12 10.8281Z' /></svg>");
    }
  }
}

.horaireBackground {
  width: 16.7rem;
  margin-top: .3rem;
  display: flex;
  align-self: center;

  @include media(large) {
    width: calc(100% - 1rem);
    margin-top: .3rem;
    margin-left: .2rem;
  }
}

.listeHoraire {
  list-style: none;
  font-size: .8rem;
  margin: .4rem auto .4rem;
  width: 12rem;

  @include media(large) {
    width: auto;
    margin-left: 1rem;
  }
}

.horaireJour {
  font-weight: bold;
}

.horaireHeure {
  margin-left: .5ch;
}
