@import "@styles/utilities";

.contentWrapper {
  @include media(large) {
    display: flex;
  }
}

.textContent {
  padding: 2rem;
  width: 100%;

  @include media(medium) {
    padding: 3rem;
  }

  @include media(large) {
    max-width: 50%;
    padding: 6rem 8rem;
  }

  @include media(xlarge) {
    padding: 8rem 10rem;
  }
}

.imageContent {
  position: relative;
  width: 50%;
  display: none;

  @include media(large) {
    display: block;
  }
}

.title {
  margin-bottom: 3rem;
  line-height: 2.5rem;
  @extend %text-xLarge;

  &PrimaryText {
    color: $color-primary;
    @extend %bold;
  }

  &SecondaryText {
    color: $color-secondary;
  }
}

.description {
  margin-bottom: 4rem;
  line-height: 1.8rem;
  @extend %text-medium;
}

.cta {
  width: 100%;

  @include media(large) {
    width: initial;
  }
}