@use "@styles/media/mixins";
@use "@styles/typography/placeholders";

$form-horizontal-gap: 1.5rem;

$form-vertical-gap-mobile: 1rem;
$form-vertical-gap-desktop: 1.5rem;

$form-submit-button-vertical-gap-mobile: 3rem;


%label-champ{
  @include placeholders.text-medium;

  @include mixins.media(large) {
    @include placeholders.text-large
  }
}
