@use "@styles/media/mixins";
@use "@styles/typography/placeholders";
@use "@styles/utilities";

$form-horizontal-gap: 1.5rem;

$form-vertical-gap-mobile: 1rem;
$form-vertical-gap-desktop: 1.5rem;

$form-submit-button-vertical-gap-mobile: 3rem;



%label-champ{
  @include placeholders.text-medium;

  @include mixins.media(large) {
    @include placeholders.text-large
  }
}

%buttonRechercher {
  margin-top: $form-submit-button-vertical-gap-mobile;

  @include utilities.media(medium) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 2rem;
    margin-top: utilities.pixel-to-rem(28);

    &::before,
    &::after {
      content: '';
      border-top: 1px solid utilities.$color-background-border;
    }
  }

  > button {
    width: 100%;
  }
}
