@import "@styles/utilities";

.rechercheMissionEngagementForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  &__Container {
    flex: 1 0;
  }
}

.rechercherMissionEngagementButton {
  > button {
    width: 100%;
  }
}

.rechercherMissionEngagementButton > span {
  margin: auto;
}

@include media(medium) {
  .rechercheMissionEngagementForm {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 40px;
  }

  .rechercherMissionEngagementButton {
    width: initial;
    margin-top: 32px;
    margin-left: 40px;
  }

  .inputButtonWrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 0;
    > div {
      flex-grow: 1;
    }
  }

  .accessibleAuxMineursWrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    > div {
      flex-grow: 1;
    }
  }
}
