@use '@styles/utilities-deprecated';
@use '@styles/utilities';

.enqueteBanner {
  @include utilities.text-small;
  background: utilities-deprecated.$white-lilac;
  padding: utilities.pixel-to-rem(20) utilities.pixel-to-rem(8);

  & .enqueteLink {
    margin: auto;
  }
}
