@import "@styles/utilities";

div.bannière {
  background-color: $color-surface;

  h1 {
    font-size: 2rem;
    line-height: 1.4;
    color: $color-primary;
    > span:not(:first-child) {
      color: $color-secondary;
    }
  }
}





