@import "@styles/utilities";

.title {
  height: 0;
  overflow: hidden;
}

.section {
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
}

.sectionTitle {
  margin-bottom: 2rem;
}

.mesuresJeunesSection {
  background-color: $color-background-white-lilac;
}

.cartesActualitesList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.carteActualite {
  @include media(medium) {
    width: 22.5rem;
  }
}

.carteActualiteDescription {
  @include line-clamp(3);
}