@use "@styles/utilities-deprecated";

.title {
  height: 0;
  overflow: hidden;
}

.section {
  padding-inline: 1rem;
  padding-bottom: 3rem;
}

.sectionTitle {
  margin-bottom: 2rem;
}

.mesuresJeunesSection {
  background-color: utilities-deprecated.$color-background-white-lilac;
}

.cartesActualitesList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  flex-direction: column;

  @include utilities-deprecated.media(medium) {
    padding-top: 2rem;
  }

  & ul > li {
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 22.5rem;
  }
}

.carteActualite {
  @include utilities-deprecated.media(medium) {
    width: 22.5rem;
  }
}

.carteActualiteDescription {
  @include utilities-deprecated.line-clamp(3);
}
