.title > a {
    font-size:1.75rem;
    font-weight:bold;
}

.navLinks > li > a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks > li > button {
    font-size: 1.5rem;
    font-weight: bold;
}