@use "@styles/utilities-deprecated";
@use "variables";

.colors {
  section {
    margin: 2rem 0;
  }

  h2 {
    margin-top: 1rem;
    @extend %text-xLarge;
  }

  h3 {
    margin-top: 1rem;
    @extend %text-large;
  }

  ul {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 1rem;
    }
  }

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #000 solid;
  }

  .colors-main {
    & .color-primary {
      background-color: variables.$color-primary;
    }

    & .color-secondary {
      background-color: variables.$color-secondary;
    }

    & .color-tertiary {
      background-color: variables.$color-tertiary;
    }
  }

  .colors-textual-elements {
    & .color-title-primary {
      background-color: variables.$color-title-primary;
    }

    & .color-title-primary-contrast {
      background-color: variables.$color-title-primary-contrast;
    }

    & .color-title-primary-alternative {
      background-color: variables.$color-title-primary-alternative;
    }

    & .color-title-secondary {
      background-color: variables.$color-title-secondary;
    }

    & .color-text-primary {
      background-color: variables.$color-text-primary;
    }

    & .color-text-primary-alternative {
      background-color: variables.$color-text-primary-alternative;
    }

    & .color-text-secondary {
      background-color: variables.$color-text-secondary;
    }

    & .color-text-placeholder {
      background-color: variables.$color-text-placeholder;
    }
  }

  .colors-system {
    & .color-error {
      background-color: variables.$color-error;
    }

    & .color-warning {
      background-color: variables.$color-warning;
    }

    & .color-success {
      background-color: variables.$color-success;
    }
  }

  .colors-background {
    & .color-background-primary {
      background-color: variables.$color-background-primary;
    }

    & .color-background-primary-alternative {
      background-color: variables.$color-background-primary-alternative;
    }

    & .color-background-secondary {
      background-color: variables.$color-background-secondary;
    }

    & .color-background-border {
      background-color: variables.$color-background-border
    }

    & .color-background-tag {
      background-color: variables.$color-background-tag;
    }
  }

  .colors-cta {

    & .colors-cta-background {
      & .color-cta-background-primary {
        background-color: variables.$color-cta-background-primary;
      }

      & .color-cta-background-primary-hover {
        background-color: variables.$color-cta-background-primary-hover;
      }

      & .color-cta-background-secondary {
        background-color: variables.$color-cta-background-secondary;
      }

      & .color-cta-background-secondary-hover {
        background-color: variables.$color-cta-background-secondary-hover;
      }

      & .color-cta-background-tertiary {
        background-color: variables.$color-cta-background-tertiary;
      }

      & .color-cta-background-tertiary-hover {
        background-color: variables.$color-cta-background-tertiary-hover;
      }

      & .color-cta-background-inactive {
        background-color: variables.$color-cta-background-inactive;
      }
    }
    & .colors-cta-texte {
      & .color-cta-texte-primary {
        background-color: variables.$color-cta-texte-primary;
      }

      & .color-cta-texte-primary-hover {
        background-color: variables.$color-cta-texte-primary-hover;
      }

      & .color-cta-texte-secondary {
        background-color: variables.$color-cta-texte-secondary;
      }

      & .color-cta-texte-secondary-hover {
        background-color: variables.$color-cta-texte-secondary-hover;
      }

      & .color-cta-texte-tertiary {
        background-color: variables.$color-cta-texte-tertiary;
      }

      & .color-cta-texte-tertiary-hover {
        background-color: variables.$color-cta-texte-tertiary-hover;
      }

      & .color-cta-texte-inactive {
        background-color: variables.$color-cta-texte-inactive;
      }
    }

    & .colors-cta-link {
      .color-cta-link-background-light {
        background-color: variables.$color-cta-link-background-light;
      }

      .color-cta-link-background-dark {
        background-color: variables.$color-cta-link-background-dark;
      }

      .color-cta-link-inactive{
        background-color: variables.$color-cta-link-inactive;
      }
    }
  }

  .colors-complementary{
    & .colors-group-1 {
      .color-group-1-purple {
        background-color: variables.$color-groupe-1-purple;
      }

      .color-group-1-pink{
        background-color: variables.$color-groupe-1-pink;
      }

      .color-group-1-green{
        background-color: variables.$color-groupe-1-green;
      }

      .color-group-1-orange{
        background-color: variables.$color-groupe-1-orange;
      }
    }

    .colors-group-2 {
      .color-group-2-rust{
        background-color: variables.$color-groupe-2-rust;
      }

      .color-group-2-dark-green{
        background-color: variables.$color-groupe-2-dark-green;
      }

      .color-group-2-light-green{
        background-color: variables.$color-groupe-2-light-green;
      }

      .color-group-2-burgundy{
        background-color: variables.$color-groupe-2-burgundy;
      }
    }
    .colors-group-3 {
      .color-group-3-purple{
        background-color: variables.$color-groupe-3-purple;
      }

      .color-group-3-green{
        background-color: variables.$color-groupe-3-green;
      }

      .color-group-3-brown{
        background-color: variables.$color-groupe-3-brown;
      }

      .color-group-3-yellow{
        background-color: variables.$color-groupe-3-yellow;
      }

      .color-group-3-pink{
        background-color: variables.$color-groupe-3-pink;
      }

      .color-group-3-blue{
        background-color: variables.$color-groupe-3-blue;
      }
    }
  }
}



