@use "variables-deprecated";

%background-surface {
  background: variables-deprecated.$color-surface;
  color: variables-deprecated.$color-on-surface;
}

%background-primary {
  background: variables-deprecated.$color-primary;
  color: variables-deprecated.$color-on-primary;
}

%background-secondary {
  background: variables-deprecated.$color-secondary;
  color: variables-deprecated.$color-on-secondary;
}

%background-tertiary {
  background: variables-deprecated.$color-background;
  color: variables-deprecated.$color-on-background;
}

%box-shadow {
  box-shadow: variables-deprecated.$box-shadow;
}

%outlined {
  outline-color: variables-deprecated.$color-focus-outline;
  outline-offset: 0;
  outline-width: 2px;

  &:focus {
    outline-style: solid;
  }

  @supports selector(&:focus-visible) {
    &:focus {
      outline-style: revert;
    }
    &:focus-visible {
      outline-style: solid;
    }
  }

  &:focus-within:not(:focus) {
    outline-style: solid;
  }
}
%no-outline {
  &:focus-visible,
  &:focus-within {
    outline-style: none;
  }
}
