@import "variables";

%background-surface {
  background: $color-surface;
  color: $color-on-surface;
}

%background-primary {
  background: $color-primary;
  color: $color-on-primary;
}

%background-secondary {
  background: $color-secondary;
  color: $color-on-secondary;
}

%background-tertiary {
  background: $color-background;
  color: $color-on-background;
}

%box-shadow {
  box-shadow: $box-shadow;
}
