@use "variables";

%background-surface {
  background: variables.$color-surface;
  color: variables.$color-on-surface;
}

%background-primary {
  background: variables.$color-primary;
  color: variables.$color-on-primary;
}

%background-secondary {
  background: variables.$color-secondary;
  color: variables.$color-on-secondary;
}

%background-tertiary {
  background: variables.$color-background;
  color: variables.$color-on-background;
}

%box-shadow {
  box-shadow: variables.$box-shadow;
}
