@import "variables";
@import "@styles/utilities";

body {
  background: $color-background;
  color: $color-on-background;
}

.background-white {
  background-color: $color-background;
}

.background-white-lilac {
  background-color: $color-background-white-lilac;
}

.background-primary {
  background-color: $color-primary;
}

.background-gradient-to-primary {
  background: linear-gradient( to right, $color-background-white-lilac 0% 50%, $color-primary 50% 100% );
}
