@use "variables-deprecated";
@use "@styles/utilities-deprecated";

body {
  background: utilities-deprecated.$color-background;
  color: utilities-deprecated.$color-on-background;
}

.background-white {
  background-color: utilities-deprecated.$color-background;
}

.background-white-lilac {
  background-color: utilities-deprecated.$color-background-white-lilac;
}

.background-primary {
  background-color: utilities-deprecated.$color-primary;
}

.background-gradient-to-primary {
  background: linear-gradient( to right, utilities-deprecated.$color-background-white-lilac 0% 50%, utilities-deprecated.$color-primary 50% 100% );
}
