@use "variables";
@use "@styles/utilities";

body {
  background: utilities.$color-background;
  color: utilities.$color-on-background;
}

.background-white {
  background-color: utilities.$color-background;
}

.background-white-lilac {
  background-color: utilities.$color-background-white-lilac;
}

.background-primary {
  background-color: utilities.$color-primary;
}

.background-gradient-to-primary {
  background: linear-gradient( to right, utilities.$color-background-white-lilac 0% 50%, utilities.$color-primary 50% 100% );
}
