@import "variables";

body {
  background: $color-background;
  color: $color-on-background;
}

.background-white {
  background-color: $color-background;
}

.background-white-lilac {
  background-color: $color-background-white-lilac;
}