@use "sass:color";

/* ***************
 * Main colors
 * ***************/
$color-primary: #566BB1;
$color-secondary: #18753C;
$color-tertiary: #ECECFF;
$white: #FFFFFF;

/* ***************
 * System Colors
 * ***************/
$color-error: #CE0500;
$color-warning: #E4794A;
$color-success: #18753C;
$color-text-disabled: #929292;
$color-background-disabled: #EEEEEE;


/* ***************
 * Background colors
 * ***************/
$color-background-primary: #FFFFFF;
$color-background-primary-alternative: #F6F7FB;
$color-background-secondary: #566BB1;
$color-background-border: #929292;
$color-background-tag: #EEEEEE;


/* ***************
 * Textual elements colors
 * ***************/
$color-title-primary: #566BB1;
$color-title-primary-contrast: #18753C;
$color-title-primary-alternative: #161616;
$color-title-secondary: #FFFFFF;
$color-text-primary: #161616;
$color-text-primary-alternative: #566BB1;
$color-text-secondary: #FFFFFF;
$color-text-placeholder: #666666;


/* ***************
 * CTA colors
 * ***************/
$color-cta-background-primary: #566BB1;
$color-cta-background-primary-hover: #040085;
$color-cta-background-secondary: #FFFFFF;
$color-cta-background-secondary-hover: #ECECFF;
$color-cta-background-tertiary: #ECECFF;
$color-cta-background-tertiary-hover: #6E61E9;
$color-cta-background-inactive: $color-text-disabled;

$color-cta-texte-primary: #FFFFFF;
$color-cta-texte-primary-hover: #FFFFFF;
$color-cta-texte-secondary: #566BB1;
$color-cta-texte-secondary-hover: #566BB1;
$color-cta-texte-tertiary: #566BB1;
$color-cta-texte-tertiary-hover: #FFFFFF;
$color-cta-texte-inactive: $color-text-disabled;

$color-cta-link-background-light: #566BB1;
$color-cta-link-background-dark: #FFFFFF;
$color-cta-link-inactive: $color-text-disabled;

/* ***************
 * Complementary colors - groupe 1
 * ***************/
$color-groupe-1-purple: #ECECFF;
$color-groupe-1-pink: #F5EDF5;
$color-groupe-1-green: #E7F1F1;
$color-groupe-1-orange: #FFF4ED;


/* ***************
 * Complementary colors - groupe 2
 * ***************/
$color-groupe-2-rust: #A66465;
$color-groupe-2-dark-green: #455A64;
$color-groupe-2-light-green: #61803E;
$color-groupe-2-burgundy: #6E445A;


/* ***************
 * Complementary colors - groupe 3
 * ***************/
$color-groupe-3-purple: #566BB1;
$color-groupe-3-green: #18753C;
$color-groupe-3-brown: #7F3E3B;
$color-groupe-3-yellow: #EDED89;
$color-groupe-3-pink: #BA40B0;
$color-groupe-3-blue: #407BFF;


/* ***************
 * Shadows
 * ***************/
$box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05);