/* ***************
 * Colors
 * ***************/
$color-primary: #566BB1;
$color-primary-on-hover: #735BF2;
$color-on-primary: #FFFFFF;
$color-secondary: #18753C;
$color-on-secondary: #FFFFFF;
$color-background-white-lilac: #F6F7FB;
$color-background-white-titan: #ECECFF;
$color-background: #FFFFFF;
$color-on-background: #161616;
$color-surface: #FFFFFF;
$color-on-surface: #161616;
$color-tertiary: #B34000;
$color-error: #CE0500;
$color-cej-background : #EA711B;
$color-mention-grey: #666666;
$color-disabled: #e5e5e5;
$color-on-disabled: #696969;
$color-blue-navy: #000091;
$color-lighten-blue-navy: lighten($color-blue-navy, 67%);
$color-tapestry: #A558A0;
$color-lighten-tapestry: lighten($color-tapestry, 45%);
$color-smalt-blue: #53918C;
$color-lighten-smalt-blue: lighten($color-smalt-blue, 48%);
$color-coral: #FF934F;
$color-lighten-coral: lighten($color-coral, 31%);
$color-separator: #E5E5E5;
$color-form-field: #f6f6f6;
$color-mine-shaft: #3A3A3A;
$color-skeleton: #E9EEEE;
$color-cadre-formulaire: #EEF0F7;
/* ***************
 * Shadows
 * ***************/
$box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05);
