/* ***************
 * Colors
 * ***************/
$color-primary: #566BB1;
$color-on-primary: #FFFFFF;
$color-secondary: #18753C;
$color-on-secondary: #FFFFFF;
$color-background: #F6F7FB;
$color-on-background: #161616;
$color-surface: #FFFFFF;
$color-on-surface: #161616;
$color-tertiary: #B34000;
$color-cej-background : #EA711B;
$color-homepage-first-section: #E8EDFF;
$color-homepage-second-section: #FEF3FD;
$color-homepage-third-section: #F1FEF5;
$color-homepage-fourth-section: #FFF4ED;

/* ***************
 * Shadows
 * ***************/
$box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05);
