@import "@styles/utilities";

.partnerList {
  @extend %max-container;
  padding: 1rem;
  list-style: none;

  & > li {
    padding-block: 1rem;
  }

  &Wrapper {
    background-color: $color-background-white-lilac;
  }

  @include media(xlarge) {
    margin: auto;
    padding-inline: 0;
  }
}

.card {
  display: block;

  &Container {
    width: 100%;
  }

  &Logo {
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    margin: 1.25rem;
    width: 100%;

    img {
      object-fit: contain;
    }
  }

  &Action {
    @extend %linkWithRightIcon;
  }

  &Body {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > p {
      margin-bottom: 20px;
      @extend %text-regular;
    }

    &__Title {
      @extend %text-medium;
      @extend %bold;
      margin-bottom: 0.5rem;
    }
  }

  .bonneAlternanceColor {
    @extend %bold;
    color: #a558a0;
  }

  .bonneBoiteColor {
    @extend %bold;
    color: #c7297e;
  }

  .onisepColor {
    @extend %bold;
    color: #c52e25;
  }

  .passColor {
    @extend %bold;
    color: #524795;
  }

  .serviceCiviqueColor {
    @extend %bold;
    color: #107cc0;
  }

  &Headline:after {
    content: " ";
  }

  @include media(large) {
    display: flex;
    align-items: center;

    &Logo {
      flex-shrink: 0;
      width: 280px;
      border: 0;
    }

    &Body {
      width: 100%;
      border-left: 1px solid $color-separator;
    }
  }
}
