@import "@styles/utilities";

.card {
  display: block;
  background: $color-surface;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(22, 22, 22, 0.05) !important;
  &:after {
    content: inherit !important;
    font: inherit !important;
  }

  &Logo {
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid $color-separator;
    padding: 16px;
  }

  &Action {
    @extend %linkWithRightIcon;
  }

  &Body {
    flex-direction: column;
    padding: 20px;

    > p {
      margin-bottom: 20px;
      font-size: 0.875rem;
    }

    > h2 {
      @extend %text-medium;
      margin-bottom: 5px;
    }
  }
}

.headline:after {
  content: " ";
}

@media only screen and (min-width: 48em) {
  .card {
    display: flex;
    background-image: none;
    border: 1px solid $color-separator;

    &Logo {
      flex-shrink: 0;
      width: 280px;
      border: 0px;
      padding: 0;
    }

    &Body {
      width: 100%;
    }
  }
}
