@import "@styles/utilities";

.partnerList {
  @extend %max-container;
  padding: 1rem;
  list-style: none;

  & > li {
    padding-block: 1rem;
  }

  &Wrapper {
    background-color: $color-background-white-lilac;
  }

  &Title {
    font-size: 1.5rem;
    text-align: center;
    padding: 3.5rem 1rem 1.5rem;
    color: $color-primary;
    @extend %bold;
  }

  @include media(xlarge) {
    margin: auto;
    padding-inline: 0;
  }
}

.card {
  display: block;

  &Logo {
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    margin: 3.5rem 2rem 2rem 2rem;
  }

  &Action {
    @extend %linkWithRightIcon;
  }

  &Body {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > p {
      margin-bottom: 20px;
      @extend %text-regular;
    }

    &__Title {
      @extend %text-medium;
      @extend %bold;
      margin-bottom: 0.5rem;
    }
  }

  .bonneBoiteColor {
    @extend %bold;
    color: #C7297E;
  }

  .onisepColor {
    @extend %bold;
    color: #C52E25;
  }

  .serviceCiviqueColor {
    @extend %bold;
    color: #107CC0;
  }

  &Headline:after {
    content: " ";
  }

  @include media(large) {
    display: flex;
    align-items: center;

    &Logo {
      flex-shrink: 0;
      width: 280px;
      border: 0;
    }

    &Body {
      width: 100%;
      border-left: 1px solid $color-separator;
    }
  }
}
