@use "@styles/utilities";

.section {
  &ExperienceEurope {
    padding-bottom: 3.5rem;
    > p, span {
      padding: 0 1rem;
    }
    > p {
      margin-bottom: 1.25rem;
    }
    &__Information {
      display: flex;
      p {
        font-size: 0.75rem;
      }
      svg {
        flex-shrink: 0;
        color: utilities.$color-primary;
        margin-right: 0.5ch;
      }
    }
  }

  &Liens {
    padding: 2rem;
    & li {
      padding: 0.625rem 0;
    }
    & a > span {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: utilities.$color-primary;
      & svg {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
    .imageWrapper {
      display: none;
    }
  }

  &Dispositif {
    &__Title {
      > span {
        display: contents;
      }
    }
    padding: 2rem;
    > div > * {
      margin-bottom: 2.5rem;
    }
    &__Card {
      background-color: utilities.$color-background;
      border-radius: 20px;
      padding: 0.75rem;
      &Content {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.25rem;

        svg {
          flex-shrink: 0;
          margin-right: 0.75rem;
          margin-top: 0.2rem;
        }
        & > div > p > span {
           display: inline-block;
         }
      }
      &List > li {
        margin-top: 1.25rem;
      }
      & > * {
        margin-bottom: 1.25rem;
      }
      > h3 {
        @extend %bold;
        font-size: 1.25rem;
        color: utilities.$color-primary;
        text-align: center;
      }
      & h4 {
        @extend %bold;
        font-size:  1rem;
      }
    }
  }

  &AidesFinancieres {
    padding: 2.5rem 2rem;
    h2 {
      font-size: 1.25rem;
      color: utilities.$color-primary;
      margin-bottom: 1.25rem;
    }
  }

  &NiveauAnglais {
    padding: 2.5rem 2rem;
    color: utilities.$color-on-primary;
    display: flex;
    flex-direction: column;
    &__Content {
      h2 {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
      }
      > p {
        margin-bottom: 2rem;
      }
      > span {
        font-size: 0.75rem;
      }
      .buttonWrapper {
        margin-bottom: 1.25rem;
      }
    }
    > img {
      margin: auto;
    }


  }
}

.buttonWrapper {
  display: flex;
  a {
    margin: auto;
  }
}

.buttonOnDarkBackground {
  background-color: utilities.$color-background;
  color: utilities.$color-primary;

  &:hover {
    background-color: utilities.$color-background-white-titan;
  }
}

@include utilities.media(small) {
  .sectionDispositif__Title {
    > span {
      display: block;
    }
  }
}

@include utilities.media(medium) {
  .section {
    &ExperienceEurope {
      max-width: 756px;
      padding-bottom: 5rem;
      > p {
        font-size: 1.25rem;
      }
      &__Information {
        p {
          font-size: 1rem;
        }
      }
    }

    &Liens {
      display: flex;
      & a > span {
        justify-content: flex-start;
        font-size: 1rem;
      }
    }

    &Dispositif {
      &__Card {
        max-width: 548px;
        padding: 2.5rem 1.25rem;
        &Wrapper {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
        > h3 {
          font-size: 1.5rem;
        }
        & h4 {
          font-size:  1.25rem;
        }
        .buttonWrapper {
          margin-top: 2.5rem;
        }
      }
    }

    &AidesFinancieres {
      padding: 5rem 0;
      max-width: 756px;
      h2 {
        font-size: 1.75rem;
        margin-bottom: 2.5rem;
        text-align: center;
      }
    }

    &NiveauAnglais {
      &__Content {
        display: flex;
        flex-direction: column;
        h2 {
          font-weight: bold;
          font-size: 1.50rem;
        }
        p {
          font-size: 1.25rem;
          margin-bottom: 3.25rem;
        }
        > span {
          font-size: 1rem;
          margin: 0 auto;
        }
      }
    }
  }
}

@include utilities.media(large) {
  .section {
    &Liens {
      .imageWrapper {
        overflow: hidden;
        border-radius: 20px;
        display: initial;
        width: 560px;
        height: 160px;
        margin-right: 2rem;

        img {
          width: 560px;
          height: 160px;
          object-fit: cover;
        }
      }
    }
    &NiveauAnglais {
      padding: 0;
      flex-direction: row;
      &__ImageWrapper {
        display: flex;
        align-items: center;
        padding: 5rem 2rem;
        width: 36%;
        background-color: utilities.$color-background-white-lilac;
      }
      &__Content {
        padding: 5rem 0 5rem 2rem;
        width: 64%;
        background-color: utilities.$color-primary;
      }
    }
  }
}
