@use "@styles/utilities";

.quEstCeQueLeMentorat {
  @extend %background-primary;
  padding: 2rem 1rem;

  .container {
    max-width: 61.25rem;
  }

  .question {
    @extend %subheading;
    @extend %bold;
    margin-bottom: 1rem;
  }
}

@include utilities.media(large) {
  .quEstCeQueLeMentorat {
    padding: 4rem 1rem;
  }
}

