@import "@styles/utilities";

.quEstCeQueLeMentorat {
  @extend %background-primary;
  padding: 2rem 1rem 2rem 1rem;

  .container {
    max-width: 45rem;
    margin: auto;
  }

  h1 {
    @extend %text-xLarge;
    @extend %bold;
    margin: auto;
    max-width: 48rem;
    margin-bottom: 2rem;
  }

  p {
    max-width: 48rem;
    margin: auto;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media(large) {
  .quEstCeQueLeMentorat {
    padding: 4rem 1rem 4rem 1rem;

    h1 {
      max-width: 56rem;
    }

    p {
      max-width: 56rem;
      margin-bottom: auto;
    }
  }
}

