@import "@styles/utilities";

.resultat {
  border-left: 3px solid $color-primary;
  padding: 1.5rem 2rem;

  &Content {
    display: flex;
    flex-direction: column;
  }

  &Title {
    margin-bottom: 1rem;
  }

  &Description {
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include media(large) {
      margin-bottom: 0;
    }
  }

  &Button {
    align-self: end;
  }
}