@import "@styles/utilities";

.resultatCard {
  border-left: 3px solid $color-primary;
  padding: 1.5rem 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include media(large) {
    margin-bottom: 0.5rem;
  }
}

.link {
  align-self: end;
}