@use "@styles/utilities";

.resultatCard {
  border-left: 3px solid utilities.$color-primary;
  padding: 1.5rem 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
  @include utilities.line-clamp(2);

  @include utilities.media(large) {
    margin-bottom: 0.5rem;
  }
}

.fakeLink {
  align-self: end;
}