@use "@styles/utilities";

.container {
  padding: 3.5rem 1rem;
  @include utilities.media(medium) {
    padding: 5rem 2.5rem;
  }
}

.titre {
  font-size: 1rem;
  color: utilities.$color-mine-shaft;
  @extend %bold;
  margin-bottom: 1.25rem;
  @include utilities.media(medium) {
    font-size: 1.25rem;
  }
}

.sousTitre {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  @extend %bold;
  @include utilities.media(medium) {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}

 .liste {
   li:not(:last-child) {
     margin-bottom: 1.25rem;
     @include utilities.media(medium) {
       margin-bottom: 2rem;
     }
   }
   a {
     width: 100%;
     min-height: 3rem;
     display: inline-flex;
     align-items: center;
     align-self: flex-end;
     justify-content: space-between;
     text-decoration: none;
     h3 {
       font-size: 1rem;
       @include utilities.media(medium) {
         font-size: 1.25rem;
       }
     }
     > svg {
       flex-shrink: 0;
     }

     &:hover {
       text-decoration: underline;
     }
   }
}
