@use "@styles/utilities";
@use "@styles/components/form/variables";

.rechercheAccompagnementForm {
  display: flex;
  flex-direction: column;
  gap: variables.$form-submit-button-vertical-gap-mobile;
}

.filtresRecherche {
  display: flex;
  flex-direction: column;
  gap: variables.$form-vertical-gap-mobile;
  flex-grow: 1;
}

.inputCommune {
  flex-grow: 1;
}

.inputAccompagnement {
  flex-grow: 0.3;
}

.rechercherAccompagnementHint {
  color: utilities.$color-primary;
  margin-block: 1.25rem;
}

@include utilities.media(medium){
  .filtresRecherche {
    flex-direction: row;
    gap: variables.$form-vertical-gap-desktop;
  }

  .rechercheAccompagnementForm {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 2.5rem;
    gap: variables.$form-vertical-gap-desktop;
  }

  .buttonRechercher {
    margin-top: 1.75rem;
  }
}
