@use "@styles/utilities-deprecated";
@use "@styles/components/form/variables";

.rechercheAccompagnementForm {
  display: flex;
  flex-direction: column;
}

.filtresRecherche {
  display: flex;
  flex-direction: column;
  gap: variables.$form-vertical-gap-mobile;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.inputCommune {
  flex-grow: 1;
}

.inputAccompagnement {
  flex-grow: 0.3;
}

.rechercherAccompagnementHint {
  padding-top: 1rem;
  @extend %text-small;
}

@include utilities-deprecated.media(medium){
  .filtresRecherche {
    flex-direction: row;
    gap: variables.$form-vertical-gap-desktop;
  }

  .rechercheAccompagnementForm {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    gap: variables.$form-vertical-gap-desktop;
  }

  .buttonRechercher {
    margin-top: 1.75rem;
  }
}
