# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# DEVNOTE 1 : on ne peut pas run de deamon (-d) sur les githubs actions du coup à coup de nohup on peut démarrer plusieurs tâches en parralèle
# DEVNOTE 2 : il faudra maintenir à jour les repositories secrets sur GitHub > Settings > Secrets > Actions

# next a forcément besoin d'un fichier .env pour tourner du coup, on copie colle toutes les variables du serveur dedans
# pas très propre, mais ça évite de les faire une par une à la mano

name: Run e2e test for PR on main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci && cp .env.test .env
      - name: Start redis
        run: |
          nohup docker-compose up </dev/null &>/dev/null &
      - name: Sleep for 5 seconds
        run: sleep 5s
        shell: bash
      - name: Start dev
        run: |
          nohup npm run dev </dev/null &>/dev/null &
      - name: Sleep for 5 seconds
        run: sleep 5s
        shell: bash
      - name: Run test e2e and kill start
        run: |
          npm run e2e
          pkill -9 node
