@use "@styles/utilities";
@use "@styles/components/form/variables";

$color-background-decharge: utilities.$color-background-primary-alternative;

.formulaire {
  padding: 0 2rem;
  margin-top: 2rem;
  display: grid;
  grid-row-gap: variables.$form-vertical-gap-mobile;
  grid-template-columns: repeat(1, 1fr);

  @include utilities.media(medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: variables.$form-vertical-gap-desktop;
    grid-column-gap: variables.$form-horizontal-gap;
  }

  .radioButton {
    border-radius: 0;
  }

  button {
    margin-top: 0.5rem;
    font-size: small;
  }

  input[type=radio] + label {
    padding-left: 0 !important;
    margin-top: 0;
    &::before {
      display: none !important;
    }
  }

  &Button {
    justify-self: center;
    width: 100%;

    @include utilities.media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
      width: unset;
    }
  }

  &Décharge {
    background-color: $color-background-decharge;
    border-radius: 30px;
    margin-bottom: 1rem;
    max-width: 40rem;
    justify-self: center;

    @include utilities.media(medium) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    p {
      @include utilities.text-small();
      padding: 0.5rem 1rem;
    }
  }
}
