@import "@styles/utilities";

.simulateur {
  & h1 {
    @extend %headline;
    font-weight: bold;
    margin-bottom: 1rem;

    & small {
      font-weight: normal;
      color: $color-secondary;
    }

    @include media(small) {
      margin-bottom: 2rem;
    }
  }

  & .hero {
    background-color: $color-background;

    & .cta {
      width: 100%;

      @include media(small) {
        width: fit-content;
      }
    }
  }
}
