@use "@styles/utilities-deprecated";

.avoidLineBreakInside {
  display: inline-block;
};

.titrePage {
  & h1 {
    @extend %headline;
    font-weight: bold;
  }
  & .hero {
    background-color: utilities-deprecated.$color-background;


    & .cta {
      width: 100%;
      margin-top: 1rem;
      @include utilities-deprecated.media(small) {
        width: fit-content;
      }

      @include utilities-deprecated.media(large) {
        margin-top: 5rem;
      }
    }
  }
}
