@use "@styles/utilities";

.titrePage {
  & h1 {
    @extend %headline;
    font-weight: bold;
    margin-bottom: 1rem;

    & small {
      font-weight: normal;
      color: utilities.$color-secondary;
    }

    @include utilities.media(small) {
      margin-bottom: 2rem;
    }
  }

  & .hero {
    background-color: utilities.$color-background;

    & .cta {
      width: 100%;

      @include utilities.media(small) {
        width: fit-content;
      }
    }
  }
}

%container {
  padding: 1.75rem 2rem;

  @include utilities.media(large) {
    padding: 5rem 1rem;
  }
}

//section.faq {
//  @extend %container;
//
//  & div:first-child {
//    border: solid 1px red;
//  }
//}

section.raisons {
  @extend %container;
  background-color: utilities.$color-background-white-lilac;

  & h2 {
    @extend %subheading;
    color: utilities.$color-primary;
    margin-bottom: 1.5rem;

    @include utilities.media(large) {
      margin-bottom: 2.5rem;
      text-align: center;
    }
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include utilities.media(large) {
      gap: 2.5rem;
    }

    & li {
      flex: 1;
      min-width: 144px;
    }

    & .tuile {
      height: 100%;
    }

    > li:nth-child(4n+2) .tuile, li:nth-child(4n+3) .tuile {
      color: utilities.$color-primary;
      background-color: utilities.$color-on-primary;
      border: 1px solid utilities.$color-primary;
    }

    @include utilities.media(small) {
    //@media (min-width: calc(2 * 144px + 16 + )) {

      > li:nth-child(even) .tuile {
        border: 2px solid utilities.$color-primary;
        background-color: utilities.$color-on-primary;
        color: utilities.$color-primary;
      }

      > li:nth-child(odd) .tuile {
        border: 2px solid utilities.$color-primary;
        background-color: utilities.$color-primary;
        color: utilities.$color-on-primary;
      }
    }
  }
}

