
.bannière {
  background-color: $white-lilac;
  color: $color-primary;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
    > span:not(:first-child) {
      color: $color-secondary;
    }
  }
}
