@import "@styles/utilities";

.heading {
  padding: 2.5rem 2rem;

  &Container {
    max-width: 35rem;
    margin: 0 auto;

    &__Title {
      @extend %headline;
      @extend %bold;
      color: $color-primary;
      margin-bottom: 1.25rem;
    }
    ul {
      list-style-type: initial;
      padding-left: 16px;
    }
    &__TextContent {
      font-size: 1rem;
      @include media(large) {
        font-size: 1.25rem;
      }
      &Orange {
        font-size: 1rem;
        @include media(large) {
          font-size: 1.5rem;
        }
        @extend %bold;
        color: $color-tertiary;
        margin-bottom: 0.75rem;
      }
      margin-bottom: 0.75rem;
      p:first-child {
        @extend %bold;
        margin-bottom: 0;
      }
    }
  }
}

@include media(large) {
  .heading {
    padding: 0;

    &Container {
      max-width: 62rem;
      margin: 0 auto;
      padding: 80px 1rem;

      &__Title {
        margin-bottom: 1rem;
      }
      &__TextContent {
        margin-bottom: 1rem;
        &Orange {
          text-align: center;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

.contentContainer {
  &OnPrimary {
    background-color: $color-primary;
  }
}

.QuestCeQueMentorat {
  &Wrapper {
    padding: 2.5rem 1.5rem;
    color: $color-on-primary;
    @extend %max-container;
  }
  &Content {
    h1 {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1.25rem;
    }
    .linkAsButtonWrapper {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 35rem;
      & > * + * {
        margin-top: 1rem;
      }
      a {
        width: 100%;
      }
    }
  }
}

.RaisonParticipationMentorat {
  &Wrapper {
    padding: 2.5rem 1.5rem;
    @extend %max-container;
    h1 {
      font-size: 1.25rem;
      color: $color-primary;
      margin-bottom: 1.25rem;
    }
    .buttonAccordeon {
      padding-left: 0;
      color: $color-primary;
      margin: auto;
      &Closed {
        margin: 0;
      }
    }
    .RaisonParticipationMentoratContainer {
      padding-bottom: 1.25rem;
      .RaisonParticipationMentoratElement {
        &:not(:last-child) {
        margin-bottom: 1.25rem;
        }
        &__Title {
          display: flex;
          align-items: center;
          p {
            @extend %text-regular;
            @extend %bold;
            margin: inherit;
          }
          svg {
            margin-right: 12px;
            flex-shrink: 0;
          }
        }
        > p {
          padding-left: 2.25rem;
          @extend %text-regular;
        }
      }
    }
  }
}

@include media(large) {
  .contentContainer {
    display: flex;
  }

  .imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  .QuestCeQueMentorat {
    &Wrapper {
      display: flex;
      .imageWrapper {
        min-width: 496px;
        max-width: 496px;
        min-height: 329px;
        max-height: 329px;
        margin-right: 4rem;
      }
    }
    &Content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      p {
        font-size: 1.25rem;
        margin-bottom: 0;
      }
      .linkAsButtonWrapper {
        flex-direction: row;
        align-items: center;
        margin: 0;
        & > * + * {
          margin-top: 0;
          margin-left: 1.25rem;
        }
        a {
          width: initial !important;
        }
      }
    }
  }

  .RaisonParticipationMentorat {
    &Wrapper {
      display: flex;
      .imageWrapper {
        min-width: 490px;
        max-width: 490px;
        min-height: 372px;
        max-height: 372px;
        margin-left: 4rem;
      }
      .RaisonParticipationMentoratContainer {
        padding-bottom: 0;
        .RaisonParticipationMentoratElement {
          &:not(:last-child) {
            margin-bottom: 1.25rem;
          }
          &__Title {
            display: flex;
            align-items: center;
            p {
              font-size: 1.25rem;
              @extend %bold;
              margin: initial;
            }
            svg {
              margin-right: 12px;
              flex-shrink: 0;
            }
          }
          &__Title:not(:last-child) {
            margin-bottom: 0.75rem;
          }
          > p {
            font-size: 1.25rem;
            padding-left: 0;
          }
        }
      }
    }
    &Content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__Title {
        display: flex;
        align-items: center;
        h1 {
          font-size: 1.5rem;
          margin-left: 1.25rem;
          margin-bottom: 0;
        }
      }
    }
    &Container {
      padding-bottom: 0;
    }
  }

}

