@use "@styles/utilities";

$titre-color: utilities.$color-primary;
$sous-titre-color: utilities.$color-secondary;

.avantages {
  & .container {
    & .image {
      width: 100%;
      max-width: 31.25rem;
      min-width: 10rem;
      display: none;
    }

    & .texte {
      & .titre {
        color: $titre-color;
        @extend %bold;
        @extend %title-medium;
      }

      & .sousTitre {
        margin-top: .5rem;
        color: $sous-titre-color;
        @extend %title-small;
      }

      & .listeAvantages {
        margin-top: 1.25rem;
        display: grid;
        gap: .5rem;

        li {
          display: grid;
          grid-template-columns: 1.5rem 1fr;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
          p {
            margin-left: .75rem;
          }
        }
      }
    }
  }
}

@include utilities.media(medium) {
  .avantages {
    & .container {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      gap: utilities.pixel-to-rem(80);
      padding: 0 1.5rem;

      & .image {
        display: block;
      }

      & .texte {
        & .listeAvantages {
          margin-top: 2rem;
          gap: .75rem;
        }
      }
    }
  }
}
