@use "@styles/utilities";

$titre-color: utilities.$color-primary;
$sous-titre-color: utilities.$color-secondary;

.contenu {
  & .container {
    @extend %max-container;
    display: flex;
    flex-direction: row;

    & .image {
      width: 100%;
      max-width: 31.25rem;
      min-width: 10rem;
      margin: auto;
      display: none;
    }

    & .texte {
      & .titre {
        color: $titre-color;
        @extend %bold;
        @extend %title-medium;
      }

      & .sousTitre {
        margin-top: .5rem;

        color: $sous-titre-color;
        @extend %title-small;
      }

      & .listeAvantages {
        margin-top: 1rem;
        display: grid;
        gap: .5rem;

        li {
          display: grid;
          grid-template-columns: 1.5rem 1fr;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
          p {
            margin-left: .75rem;
          }
        }
      }
    }

  }
}

@include utilities.media(medium) {
  .contenu {
    & .container {
      padding: 0 1.5rem;

      & .image {
        display: block;
      }

      & .texte {
        padding-top: 3rem;
        padding-left: 5rem;

        & .listeAvantages {
          margin-top: 2rem;
          gap: .75rem;
        }
      }
    }
  }
}
